Repository rage/secret-project-331, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, shared-module, system-tests, cms, course-material, example-exercise, headless-lms, seed, db-migrations, main-frontend, quizzes, tmc, sqlx-data, deployments, scripts, dependencies

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

shared-module:
  - changed-files:
      - any-glob-to-any-file: "shared-module/**/*"

system-tests:
  - changed-files:
      - any-glob-to-any-file: "system-tests/**/*"

cms:
  - changed-files:
      - any-glob-to-any-file: "services/cms/**/*"

course-material:
  - changed-files:
      - any-glob-to-any-file: "services/course-material/**/*"

example-exercise:
  - changed-files:
      - any-glob-to-any-file: "services/example-exercise/**/*"

headless-lms:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/**/*"

seed:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/server/src/programs/seed/**/*"

db-migrations:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/migrations/**/*"

main-frontend:
  - changed-files:
      - any-glob-to-any-file: "services/main-frontend/**/*"

quizzes:
  - changed-files:
      - any-glob-to-any-file: "services/quizzes/**/*"

tmc:
  - changed-files:
      - any-glob-to-any-file: "services/tmc/**/*"

sqlx-data:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/models/sqlx-data.json"

deployments:
  - changed-files:
      - any-glob-to-any-file: "skaffold.yaml"
      - any-glob-to-any-file: "skaffold.production.yaml"
      - any-glob-to-any-file: "**/Dockerfile"
      - any-glob-to-any-file: "**/*.dockerfile"
      - any-glob-to-any-file: "kubernetes/**/*"

scripts:
  - changed-files:
      - any-glob-to-any-file: "bin/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/package.json"
      - any-glob-to-any-file: "**/package.lock.json"
      - any-glob-to-any-file: "**/Cargo.lock"
      - any-glob-to-any-file: "**/Cargo.toml"

Temp commit for updating organization
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  services/main-frontend/src/services/backend/organizations.ts
Labels: headless-lms, main-frontend

Temp commit for updating organization
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  services/main-frontend/src/services/backend/organizations.ts
Labels: headless-lms, main-frontend

Little fixes, addition to add user country test and updated snapshots
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/utils/src/tmc/mod.rs
  services/main-frontend/src/pages/user-settings.tsx
  system-tests/src/__screenshots__/permissions.spec.ts/edited-permission-mobile-tall.png
  system-tests/src/__screenshots__/permissions.spec.ts/removed-permission-mobile-tall.png
  system-tests/src/__screenshots__/research-form.spec.ts/research-consent-form-shows-in-user-setting-page-desktop-regular.png
  system-tests/src/__screenshots__/research-form.spec.ts/research-consent-form-shows-in-user-setting-page-mobile-tall.png
  system-tests/src/tests/add-user-country.spec.ts
Labels: system-tests, headless-lms, main-frontend

backup
  services/headless-lms/models/.sqlx/query-2ab1518828d7383ac52e14cc4e5b08c1aee262961808a3645153123617fc4b70.json
  services/headless-lms/models/src/organizations.rs
Labels: headless-lms

backup
  services/headless-lms/models/.sqlx/query-2ab1518828d7383ac52e14cc4e5b08c1aee262961808a3645153123617fc4b70.json
  services/headless-lms/models/src/organizations.rs
Labels: headless-lms

Fix email communication consent handling in signup form by converting the value to a boolean.
  services/main-frontend/src/pages/signup.tsx
Labels: main-frontend

Fix email communication consent handling in signup form by converting the value to a boolean.
  services/main-frontend/src/pages/signup.tsx
Labels: main-frontend

Show deleted exercises in submissions
  services/headless-lms/models/.sqlx/query-21f873be8ae7d46b9aafa8b49f108fd8fadacc2334da674241ac2a6e221b2719.json
  services/headless-lms/models/.sqlx/query-267c9d76696bc99642ad6a55744d7effbef43cdc34d12e1ad786385bad6f6a62.json
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/exercise_tasks.rs
  services/main-frontend/src/pages/submissions/[id].tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, headless-lms, main-frontend

Show message to student if exercise type has been changed after answering
  services/quizzes/src/components/exercise-service-views/ViewSubmission/index.tsx
  shared-module/packages/common/src/locales/en/quizzes.json
  shared-module/packages/common/src/locales/fi/quizzes.json
Labels: shared-module, quizzes

Update email to tmc only when changed in user settings
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/headless-lms/utils/src/tmc/mod.rs
Labels: headless-lms

Changed a notification to tell when a task has been deleted instead of the exercise
  services/headless-lms/models/.sqlx/query-41bf16b903c433809652721e88e1d1e3ffea6631ee1917e41657b261ea6b8c88.json
  services/headless-lms/models/.sqlx/query-52d5f298813a3c63a4c439d9538583d142db954063995541425462e5a1b3103d.json
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/exercise_tasks.rs
  services/main-frontend/src/pages/signup.tsx
  services/main-frontend/src/pages/submissions/[id].tsx
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, headless-lms, main-frontend

visibility bug fixed
  services/headless-lms/models/src/organizations.rs
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
Labels: headless-lms, main-frontend

visibility bug fixed
  services/headless-lms/models/src/organizations.rs
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
Labels: headless-lms, main-frontend

Added localizations, fixed keyboard accessibility and refactoring the code to get rid of eslint errors
  services/main-frontend/src/pages/manage/organizations/[id]/components/EditUserPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, main-frontend

Added localizations, fixed keyboard accessibility and refactoring the code to get rid of eslint errors
  services/main-frontend/src/pages/manage/organizations/[id]/components/EditUserPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, main-frontend

Notifications text and location change
  services/main-frontend/src/pages/submissions/[id].tsx
  shared-module/packages/common/src/locales/en/quizzes.json
  shared-module/packages/common/src/locales/fi/quizzes.json
Labels: shared-module, main-frontend

Lint fix
  shared-module/packages/common/src/locales/en/main-frontend.json
Labels: shared-module

Added a new roles.ts constant file, more translations and removed all linter errors in index.tsx and edituserpopup.tsx
  services/main-frontend/src/constants/roles.ts
  services/main-frontend/src/pages/manage/organizations/[id]/components/EditUserPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, main-frontend

Added a new roles.ts constant file, more translations and removed all linter errors in index.tsx and edituserpopup.tsx
  services/main-frontend/src/constants/roles.ts
  services/main-frontend/src/pages/manage/organizations/[id]/components/EditUserPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, main-frontend

Fixed all errors in adduserpopup and more translations
  services/main-frontend/src/pages/manage/organizations/[id]/components/AddUserPopup.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, main-frontend

Fixed all errors in adduserpopup and more translations
  services/main-frontend/src/pages/manage/organizations/[id]/components/AddUserPopup.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, main-frontend

Fix to debug modal rendering twice
  shared-module/packages/common/src/components/DebugModal.tsx
Labels: shared-module

Little fix
  services/main-frontend/src/pages/submissions/[id].tsx
Labels: main-frontend

Exercise submissions related little fixes (#1501)
  services/headless-lms/models/.sqlx/query-41bf16b903c433809652721e88e1d1e3ffea6631ee1917e41657b261ea6b8c88.json
  services/headless-lms/models/.sqlx/query-52d5f298813a3c63a4c439d9538583d142db954063995541425462e5a1b3103d.json
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/exercise_tasks.rs
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/headless-lms/utils/src/tmc/mod.rs
  services/main-frontend/src/pages/signup.tsx
  services/main-frontend/src/pages/submissions/[id].tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/index.tsx
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/en/quizzes.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/locales/fi/quizzes.json
Labels: shared-module, headless-lms, main-frontend, quizzes

Exercise submissions related little fixes (#1501)
  services/headless-lms/models/.sqlx/query-41bf16b903c433809652721e88e1d1e3ffea6631ee1917e41657b261ea6b8c88.json
  services/headless-lms/models/.sqlx/query-52d5f298813a3c63a4c439d9538583d142db954063995541425462e5a1b3103d.json
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/exercise_tasks.rs
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/headless-lms/utils/src/tmc/mod.rs
  services/main-frontend/src/pages/signup.tsx
  services/main-frontend/src/pages/submissions/[id].tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/index.tsx
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/en/quizzes.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/locales/fi/quizzes.json
Labels: shared-module, headless-lms, main-frontend, quizzes

Use Ubicloud runner for the build step (#1495)
  .github/workflows/system-tests-and-deploy.yml
Labels: none

Use Ubicloud runner for the build step (#1495)
  .github/workflows/system-tests-and-deploy.yml
Labels: none

Fix to debug modal rendering twice (#1502)
  shared-module/packages/common/src/components/DebugModal.tsx
Labels: shared-module

Fix to debug modal rendering twice (#1502)
  shared-module/packages/common/src/components/DebugModal.tsx
Labels: shared-module

Add user passwords migration
  services/headless-lms/migrations/20250709091252_add_user_passwords.down.sql
  services/headless-lms/migrations/20250709091252_add_user_passwords.up.sql
Labels: headless-lms, db-migrations

Add users password to database when logging in
  services/headless-lms/Cargo.lock
  services/headless-lms/models/.sqlx/query-21a3a35797bdfd1983294768f228bf72a7732d07f81d365df4b90c94fb61f835.json
  services/headless-lms/models/Cargo.toml
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/user_passwords.rs
  services/headless-lms/server/Cargo.toml
  services/headless-lms/server/src/controllers/auth.rs
Labels: headless-lms, dependencies

Fixed some axe issues
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
Labels: main-frontend

Fixed some axe issues
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
Labels: main-frontend

Fixed all axe issues
  services/main-frontend/src/pages/manage/organizations/[id]/components/AddUserPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/components/EditUserPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, main-frontend

Fixed all axe issues
  services/main-frontend/src/pages/manage/organizations/[id]/components/AddUserPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/components/EditUserPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, main-frontend

Update user info to tmc url changed
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/headless-lms/utils/src/tmc/mod.rs
Labels: headless-lms

Switch backbto Github runners
  .github/workflows/system-tests-and-deploy.yml
Labels: none

Switch backbto Github runners
  .github/workflows/system-tests-and-deploy.yml
Labels: none

Update user info to tmc fix (#1505)
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/headless-lms/utils/src/tmc/mod.rs
Labels: headless-lms

Update user info to tmc fix (#1505)
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/headless-lms/utils/src/tmc/mod.rs
Labels: headless-lms
