Repository rage/secret-project-331, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, shared-module, system-tests, cms, course-material, example-exercise, headless-lms, seed, db-migrations, main-frontend, quizzes, tmc, sqlx-data, deployments, scripts, dependencies

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

shared-module:
  - changed-files:
      - any-glob-to-any-file: "shared-module/**/*"

system-tests:
  - changed-files:
      - any-glob-to-any-file: "system-tests/**/*"

cms:
  - changed-files:
      - any-glob-to-any-file: "services/cms/**/*"

course-material:
  - changed-files:
      - any-glob-to-any-file: "services/course-material/**/*"

example-exercise:
  - changed-files:
      - any-glob-to-any-file: "services/example-exercise/**/*"

headless-lms:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/**/*"

seed:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/server/src/programs/seed/**/*"

db-migrations:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/migrations/**/*"

main-frontend:
  - changed-files:
      - any-glob-to-any-file: "services/main-frontend/**/*"

quizzes:
  - changed-files:
      - any-glob-to-any-file: "services/quizzes/**/*"

tmc:
  - changed-files:
      - any-glob-to-any-file: "services/tmc/**/*"

sqlx-data:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/models/sqlx-data.json"

deployments:
  - changed-files:
      - any-glob-to-any-file: "skaffold.yaml"
      - any-glob-to-any-file: "skaffold.production.yaml"
      - any-glob-to-any-file: "**/Dockerfile"
      - any-glob-to-any-file: "**/*.dockerfile"
      - any-glob-to-any-file: "kubernetes/**/*"

scripts:
  - changed-files:
      - any-glob-to-any-file: "bin/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/package.json"
      - any-glob-to-any-file: "**/package.lock.json"
      - any-glob-to-any-file: "**/Cargo.lock"
      - any-glob-to-any-file: "**/Cargo.toml"

System test fix
  system-tests/src/tests/automatic-completion.spec.ts
Labels: system-tests

default chatbot can be edited
  services/headless-lms/models/.sqlx/query-881022b5145cbf2e52862dcbf6c09529212b241898c608bfdb8b0b15b439a6e0.json
  services/headless-lms/models/.sqlx/query-df7e836470ee5e1bd4e34719ffef8c385b518986955d2a23a7f8cbb4dfbe8a94.json
  services/headless-lms/models/src/chatbot_configurations.rs
  services/headless-lms/server/src/controllers/main_frontend/courses/chatbots.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  services/main-frontend/src/services/backend/chatbots.ts
  services/main-frontend/src/services/backend/courses/chatbots.ts
Labels: headless-lms, main-frontend

sort by default status too
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
Labels: main-frontend

fixing tests
  services/headless-lms/models/.sqlx/query-ac22b1eea3e25c121362ed2bf3085b1950ff9bd0fb45cc21d11d91234aa1493f.json
  services/headless-lms/models/.sqlx/query-cc2fceb2f75d704b551705f15ffcdae210fce2baf7b9d3612f77b6548a6df68c.json
  services/headless-lms/models/.sqlx/query-d1b480f28e175d69e5e056d8e6b1e1709b4b269b00dad6082bb1b6e9a09d894e.json
  services/headless-lms/models/src/chapters.rs
  services/headless-lms/models/src/courses.rs
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/models/src/test_helper.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/server/tests/study_registry_test.rs
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
Labels: shared-module, headless-lms, seed

Add columns for closing a course
  services/headless-lms/migrations/20250617112118_make_courses_closeable.down.sql
  services/headless-lms/migrations/20250617112118_make_courses_closeable.up.sql
  services/headless-lms/models/.sqlx/query-0bad9628ca47ce91dc17f91956ac296958307ad0d2b3e21b23d5a2a2e5b4cbd4.json
  services/headless-lms/models/.sqlx/query-0fc6fb59b285e282aea5635579cb47047653b0833338b8bb71048a03e85cff9f.json
  services/headless-lms/models/.sqlx/query-268955159e2abc82be285a59ecf1f4cc150b24fe98af395a1fdeb4f2df62c788.json
  services/headless-lms/models/.sqlx/query-278d2c0f55c2f09c91bf0c0b1f23f206db8ce4890472f61c8cea7bda31be29d1.json
  services/headless-lms/models/.sqlx/query-2be7191a34498ce6b8ae65f75977bb72f7f328d277f07b35b1f8bcbba345f471.json
  services/headless-lms/models/.sqlx/query-349826ff4848df527aa7edde5b102505ee6c14b1419d1a7de3f4ca7167e97de3.json
  services/headless-lms/models/.sqlx/query-4586879500dee0c4e38f22ebbfa75728405eaf2bcc02783435f01681d216d8d8.json
  services/headless-lms/models/.sqlx/query-8d1a67c3966d15427be35526cf9fb5496a04185db0fc478a620caf670de06416.json
  services/headless-lms/models/.sqlx/query-8dd6ac7d68d24bae02b8275e942a861c9b7f04605a9f1a9a31ac2895ddd6ed13.json
  services/headless-lms/models/.sqlx/query-96db060d31fb8275cb6e2a0af4fade75524ca11dd45241be50912bd9c9232490.json
  services/headless-lms/models/.sqlx/query-b5af18a5fe78f83b4f92c4e8d3907b5ec752fef9e45c23d8899415507c843c6b.json
  services/headless-lms/models/.sqlx/query-c64b001989bf9420e613e0ccf1a0239005d4cce58f7c6fe85cd4237303d65002.json
  services/headless-lms/models/.sqlx/query-d55dfac257cf5eb7ef7e8b767d5e28eb5cfa6c89b22b1b6c0c2efcb535ac289a.json
  services/headless-lms/models/.sqlx/query-da97b264f5f96dfaeeaf2c8145db37f3464f81696120972ac2c7d617e3c0e5fe.json
  services/headless-lms/models/.sqlx/query-e334addc98d1b1145d58d8755f0ec02ee4b4f9770115f46d3c4e9b6dae6bbd4a.json
  services/headless-lms/models/src/courses.rs
  services/headless-lms/models/src/exams.rs
  services/headless-lms/models/src/library/copying.rs
Labels: headless-lms, db-migrations

Update types
  services/main-frontend/src/reducers/__tests__/managePageOrderReducer.test.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
Labels: shared-module, main-frontend

remove useless button
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
Labels: shared-module, main-frontend

fixing stuff
  services/headless-lms/models/.sqlx/query-268a294fe01664e56f2c7fd70eb2529a31f0c8764de752926c78950d10906433.json
  services/headless-lms/models/.sqlx/query-2f97ae1ea482d3eff37d4f99eb54e92a93e2e139cad3069b6fb0d2c04a6bc6a9.json
  services/headless-lms/models/.sqlx/query-3d4e4395a9704cd71380b973f8b65bc2a9c777681938c0f3d27d98f68c97f6b2.json
  services/headless-lms/models/.sqlx/query-4fd8e71d15e1cc28410715d6b1134e62f3eab9649933dfe28af2e2e09221e5cd.json
  services/headless-lms/models/.sqlx/query-d2531d80fd44f397ae919987d6a8393dcd36b41901522fbf79693b3a270355ba.json
  services/headless-lms/models/src/chatbot_configurations.rs
  services/headless-lms/server/src/controllers/main_frontend/chatbots.rs
  services/headless-lms/server/src/controllers/main_frontend/courses/chatbots.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotDialog.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotForm.tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
  services/main-frontend/src/services/backend/chatbots.ts
  services/main-frontend/src/services/backend/courses/chatbots.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
Labels: shared-module, headless-lms, seed, main-frontend

using ts interface better and localization
  services/headless-lms/models/src/chatbot_configurations.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, headless-lms, main-frontend

fix small errors
  services/headless-lms/server/src/controllers/main_frontend/courses/chatbots.rs
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
  services/main-frontend/src/services/backend/courses/chatbots.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
Labels: shared-module, headless-lms, main-frontend

fixing some of the mistakes
  services/headless-lms/server/src/controllers/main_frontend/chatbots.rs
  services/headless-lms/server/src/controllers/main_frontend/courses/chatbots.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotForm.tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/index.tsx
  services/main-frontend/src/services/backend/courses/chatbots.ts
Labels: headless-lms, main-frontend

remove comment
  services/headless-lms/server/src/controllers/main_frontend/courses/chatbots.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
Labels: headless-lms, main-frontend

WIP closed course warning
  services/course-material/src/components/ClosedCourseWarningDialog.tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/models/src/courses.rs
  services/headless-lms/server/src/controllers/course_material/courses.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
Labels: shared-module, course-material, headless-lms

Use Ubicloud runner for the build step
  .github/workflows/system-tests-and-deploy.yml
Labels: none

Try the 16 core runner
  .github/workflows/system-tests-and-deploy.yml
Labels: none

Merge
  bin/dev
  services/cms/src/blocks/Exercise/ExerciseTask/IFrameEditor.tsx
  services/cms/src/services/backend/repository-exercises.ts
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/ExerciseTaskIframe.tsx
  services/course-material/src/services/tmc.ts
  services/headless-lms/migrations/20250609115736_add-exercise-repository-public-key.down.sql
  services/headless-lms/migrations/20250609115736_add-exercise-repository-public-key.up.sql
  services/headless-lms/models/.sqlx/query-79900de6fa3841659546f20636a30242489242532ef3c42deda497f2dadcd741.json
  services/headless-lms/models/.sqlx/query-f392496c5e42f99455c285c47a3e67145732fe51fae5db78928576a399a639e3.json
  services/headless-lms/models/src/exercise_repositories.rs
  services/headless-lms/server/src/controllers/langs.rs
  services/headless-lms/server/src/controllers/main_frontend/exercise_repositories.rs
  services/headless-lms/server/src/domain/exercise_repositories.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/AddExerciseRepositoryForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/ExerciseRepositories.tsx
  services/main-frontend/src/services/backend/exercise-repositories.ts
  services/tmc/package-lock.json
  services/tmc/package.json
  services/tmc/src/components/AnswerBrowserExercise.tsx
  services/tmc/src/components/AnswerExercise.tsx
  services/tmc/src/components/ExerciseEditor.tsx
  services/tmc/src/components/StateRenderer.tsx
  services/tmc/src/pages/api/public-spec.ts
  services/tmc/src/pages/api/test.ts
  services/tmc/src/pages/api/testrun.ts
  services/tmc/src/pages/iframe.tsx
  services/tmc/src/tmc/langs.ts
  services/tmc/src/util/responses.ts
  services/tmc/src/util/stateInterfaces.ts
  services/tmc/src/util/test.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/exercise-service-protocol-types.guard.ts
  shared-module/packages/common/src/exercise-service-protocol-types.ts
Labels: shared-module, cms, course-material, headless-lms, seed, db-migrations, main-frontend, tmc, scripts, dependencies

Merge
  services/headless-lms/server/src/domain/exercise_repositories.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
Labels: headless-lms, seed

Merge
  services/headless-lms/server/src/controllers/langs.rs
  services/headless-lms/server/src/domain/exercise_repositories.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/AddExerciseRepositoryForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/ExerciseRepositories.tsx
  services/tmc/src/components/AnswerBrowserExercise.tsx
  services/tmc/src/components/AnswerExercise.tsx
  services/tmc/src/components/StateRenderer.tsx
  services/tmc/src/pages/api/test.ts
  services/tmc/src/pages/api/testrun.ts
  services/tmc/src/pages/iframe.tsx
  services/tmc/src/tmc/langs.ts
  services/tmc/src/util/responses.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/en/tmc.json
Labels: shared-module, headless-lms, main-frontend, tmc

Try out the ubicloud 8 core runner
  .github/workflows/system-tests-and-deploy.yml
Labels: none

Fix test
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  system-tests/src/tests/langs/langs.spec.ts
Labels: system-tests, headless-lms, seed

Updated tmc exercise service (#1474)
  bin/dev
  services/cms/src/blocks/Exercise/ExerciseTask/IFrameEditor.tsx
  services/cms/src/services/backend/repository-exercises.ts
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/ExerciseTaskIframe.tsx
  services/course-material/src/services/tmc.ts
  services/headless-lms/langs-api/src/lib.rs
  services/headless-lms/migrations/20250609115736_add-exercise-repository-public-key.down.sql
  services/headless-lms/migrations/20250609115736_add-exercise-repository-public-key.up.sql
  services/headless-lms/models/.sqlx/query-79900de6fa3841659546f20636a30242489242532ef3c42deda497f2dadcd741.json
  services/headless-lms/models/.sqlx/query-f392496c5e42f99455c285c47a3e67145732fe51fae5db78928576a399a639e3.json
  services/headless-lms/models/src/exercise_repositories.rs
  services/headless-lms/server/src/controllers/main_frontend/exercise_repositories.rs
  services/headless-lms/server/src/domain/exercise_repositories.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/AddExerciseRepositoryForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/ExerciseRepositories.tsx
  services/main-frontend/src/services/backend/exercise-repositories.ts
  services/tmc/package-lock.json
  services/tmc/package.json
  services/tmc/src/components/AnswerBrowserExercise.tsx
  services/tmc/src/components/AnswerExercise.tsx
  services/tmc/src/components/ExerciseEditor.tsx
  services/tmc/src/components/StateRenderer.tsx
  services/tmc/src/pages/api/public-spec.ts
  services/tmc/src/pages/api/test.ts
  services/tmc/src/pages/api/testrun.ts
  services/tmc/src/pages/iframe.tsx
  services/tmc/src/tmc/langs.ts
  services/tmc/src/util/stateInterfaces.ts
  services/tmc/src/util/test.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/exercise-service-protocol-types.guard.ts
  shared-module/packages/common/src/exercise-service-protocol-types.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/en/tmc.json
  system-tests/src/tests/langs/langs.spec.ts
Labels: shared-module, system-tests, cms, course-material, headless-lms, seed, db-migrations, main-frontend, tmc, scripts, dependencies

Updated tmc exercise service (#1474)
  bin/dev
  services/cms/src/blocks/Exercise/ExerciseTask/IFrameEditor.tsx
  services/cms/src/services/backend/repository-exercises.ts
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/ExerciseTaskIframe.tsx
  services/course-material/src/services/tmc.ts
  services/headless-lms/langs-api/src/lib.rs
  services/headless-lms/migrations/20250609115736_add-exercise-repository-public-key.down.sql
  services/headless-lms/migrations/20250609115736_add-exercise-repository-public-key.up.sql
  services/headless-lms/models/.sqlx/query-79900de6fa3841659546f20636a30242489242532ef3c42deda497f2dadcd741.json
  services/headless-lms/models/.sqlx/query-f392496c5e42f99455c285c47a3e67145732fe51fae5db78928576a399a639e3.json
  services/headless-lms/models/src/exercise_repositories.rs
  services/headless-lms/server/src/controllers/main_frontend/exercise_repositories.rs
  services/headless-lms/server/src/domain/exercise_repositories.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/AddExerciseRepositoryForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/ExerciseRepositories.tsx
  services/main-frontend/src/services/backend/exercise-repositories.ts
  services/tmc/package-lock.json
  services/tmc/package.json
  services/tmc/src/components/AnswerBrowserExercise.tsx
  services/tmc/src/components/AnswerExercise.tsx
  services/tmc/src/components/ExerciseEditor.tsx
  services/tmc/src/components/StateRenderer.tsx
  services/tmc/src/pages/api/public-spec.ts
  services/tmc/src/pages/api/test.ts
  services/tmc/src/pages/api/testrun.ts
  services/tmc/src/pages/iframe.tsx
  services/tmc/src/tmc/langs.ts
  services/tmc/src/util/stateInterfaces.ts
  services/tmc/src/util/test.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/exercise-service-protocol-types.guard.ts
  shared-module/packages/common/src/exercise-service-protocol-types.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/en/tmc.json
  system-tests/src/tests/langs/langs.spec.ts
Labels: shared-module, system-tests, cms, course-material, headless-lms, seed, db-migrations, main-frontend, tmc, scripts, dependencies

Shared function for getting the best grade
  services/headless-lms/certificates/src/lib.rs
  services/headless-lms/models/src/course_module_completions.rs
  services/headless-lms/models/src/library/progressing.rs
Labels: headless-lms

Add grade to certificate (#1488)
  services/headless-lms/Cargo.lock
  services/headless-lms/certificates/Cargo.toml
  services/headless-lms/certificates/locales/en.json
  services/headless-lms/certificates/locales/fi.json
  services/headless-lms/certificates/src/lib.rs
  services/headless-lms/migrations/20250603083601_add_grade_to_certificate_configurations.down.sql
  services/headless-lms/migrations/20250603083601_add_grade_to_certificate_configurations.up.sql
  services/headless-lms/models/.sqlx/query-520f52d9d634b8bdadcabe0392000a2bec7a6b6ae3b430b889c5bc81ebc585b4.json
  services/headless-lms/models/.sqlx/query-97034d7bdecdcef178054311f5a51f9a8088a79d887fb25b3ff2fb4a3d38fca4.json
  services/headless-lms/models/.sqlx/query-9eeb63310ff63ee7f427b3ceb646228a11e3ed343aeec23b0f4b3ef592abf12c.json
  services/headless-lms/models/.sqlx/query-b4768b58071e2d0692fb79ce911823a46c96a6c90a16d5927a85882bb8ec58da.json
  services/headless-lms/models/.sqlx/query-b5f4a778d3fc114cc2138090c61b816f7eee4b672d2a116278ac00e24c44f4de.json
  services/headless-lms/models/.sqlx/query-d04ca35881302c6b7ed57fbcb898814611e8d46bb5ca1095c4cc6f40f91ebed6.json
  services/headless-lms/models/.sqlx/query-d4f0ff63ac089dc543286b33dd4ec05021bf9df1938b8a1b1e83ddc8c68b2227.json
  services/headless-lms/models/.sqlx/query-e717dd522b3089a5003f225c691358e6779acb250c14da3940a73965dd1e941f.json
  services/headless-lms/models/src/certificate_configurations.rs
  services/headless-lms/models/src/course_module_completions.rs
  services/headless-lms/models/src/generated_certificates.rs
  services/headless-lms/models/src/library/progressing.rs
  services/headless-lms/server/src/controllers/main_frontend/certificates.rs
  services/headless-lms/server/src/controllers/main_frontend/course_modules.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/main-frontend/src/components/page-specific/manage/certificates/CertificateForm.tsx
  services/main-frontend/src/components/page-specific/manage/certificates/CertificateView.tsx
  services/main-frontend/src/pages/certificates/validate/[certificateVerificationId].tsx
  services/main-frontend/src/pages/generate-certificate/index.tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/certificates.tsx
  services/main-frontend/src/services/backend/certificates.ts
  services/main-frontend/src/services/backend/course-modules.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  system-tests/src/tests/certificates/configure-certificate.test.ts
Labels: shared-module, system-tests, headless-lms, seed, db-migrations, main-frontend, dependencies

Add grade to certificate (#1488)
  services/headless-lms/Cargo.lock
  services/headless-lms/certificates/Cargo.toml
  services/headless-lms/certificates/locales/en.json
  services/headless-lms/certificates/locales/fi.json
  services/headless-lms/certificates/src/lib.rs
  services/headless-lms/migrations/20250603083601_add_grade_to_certificate_configurations.down.sql
  services/headless-lms/migrations/20250603083601_add_grade_to_certificate_configurations.up.sql
  services/headless-lms/models/.sqlx/query-520f52d9d634b8bdadcabe0392000a2bec7a6b6ae3b430b889c5bc81ebc585b4.json
  services/headless-lms/models/.sqlx/query-97034d7bdecdcef178054311f5a51f9a8088a79d887fb25b3ff2fb4a3d38fca4.json
  services/headless-lms/models/.sqlx/query-9eeb63310ff63ee7f427b3ceb646228a11e3ed343aeec23b0f4b3ef592abf12c.json
  services/headless-lms/models/.sqlx/query-b4768b58071e2d0692fb79ce911823a46c96a6c90a16d5927a85882bb8ec58da.json
  services/headless-lms/models/.sqlx/query-b5f4a778d3fc114cc2138090c61b816f7eee4b672d2a116278ac00e24c44f4de.json
  services/headless-lms/models/.sqlx/query-d04ca35881302c6b7ed57fbcb898814611e8d46bb5ca1095c4cc6f40f91ebed6.json
  services/headless-lms/models/.sqlx/query-d4f0ff63ac089dc543286b33dd4ec05021bf9df1938b8a1b1e83ddc8c68b2227.json
  services/headless-lms/models/.sqlx/query-e717dd522b3089a5003f225c691358e6779acb250c14da3940a73965dd1e941f.json
  services/headless-lms/models/src/certificate_configurations.rs
  services/headless-lms/models/src/course_module_completions.rs
  services/headless-lms/models/src/generated_certificates.rs
  services/headless-lms/models/src/library/progressing.rs
  services/headless-lms/server/src/controllers/main_frontend/certificates.rs
  services/headless-lms/server/src/controllers/main_frontend/course_modules.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/main-frontend/src/components/page-specific/manage/certificates/CertificateForm.tsx
  services/main-frontend/src/components/page-specific/manage/certificates/CertificateView.tsx
  services/main-frontend/src/pages/certificates/validate/[certificateVerificationId].tsx
  services/main-frontend/src/pages/generate-certificate/index.tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/certificates.tsx
  services/main-frontend/src/services/backend/certificates.ts
  services/main-frontend/src/services/backend/course-modules.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/editing-config-desktop-regular.png
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/editing-config-mobile-tall.png
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/management-page-mobile-tall.png
  system-tests/src/tests/certificates/configure-certificate.test.ts
Labels: shared-module, system-tests, headless-lms, seed, db-migrations, main-frontend, dependencies

Ask users email communication consent
  services/course-material/src/components/Page.tsx
  services/course-material/src/components/forms/SelectUserInformationForm.tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/migrations/20250624075700_add_email_communication_consent_to_user_details.down.sql
  services/headless-lms/migrations/20250624075700_add_email_communication_consent_to_user_details.up.sql
  services/headless-lms/models/.sqlx/query-21ca445277f3fb00e67cd0cc489141e39bbf23ffa84e98ef7cca2ef56b56a477.json
  services/headless-lms/models/.sqlx/query-3064aed319baf89c626d8cac9e7fcc9271bf20f422a5f1da641c92eccab1385b.json
  services/headless-lms/models/.sqlx/query-31ec5a4b089caf670c2b3ea745433235b142e889e7ee61621fbf8d4be62bc35d.json
  services/headless-lms/models/.sqlx/query-65e065e43e42d10b162417831b6345cfa6a72f18c5d611b6b9fc89440fbf3021.json
  services/headless-lms/models/.sqlx/query-74d82f3b6234558038f0d4cebd6f4b05aaef172cb0b75276f9ae429f7c3c10ec.json
  services/headless-lms/models/.sqlx/query-758bd70b69a7adcfa54169afed7adc47d27bf28007f008ec2f6a15b53ff938ca.json
  services/headless-lms/models/.sqlx/query-acada410e6dec1ce61f526f083a7cd6d8cd0f28fa7636e55c75295a859582003.json
  services/headless-lms/models/.sqlx/query-bdef73cd666f90cdaad1935714deb76a77d0ffaae6465469d8bdf6fbe7eb097e.json
  services/headless-lms/models/.sqlx/query-f06d370d7ad238c78d62897c81c0cc4f93223933438f6483ad927d078fc198c2.json
  services/headless-lms/models/src/user_details.rs
  services/headless-lms/server/src/controllers/course_material/user_details.rs
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/components/InputFields/SearchableSelectField.tsx
  shared-module/packages/common/src/locales/en/course-material.json
  shared-module/packages/common/src/locales/fi/course-material.json
Labels: shared-module, course-material, headless-lms, db-migrations

Email communication consent to signup and fix to testing signup
  services/headless-lms/models/.sqlx/query-6e48bbe9b9a38f57eaa6c19b35ef250e45f936a0a39e5ba24eeb4421be9b9d34.json
  services/headless-lms/models/src/user_details.rs
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/domain/authorization.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/server/src/programs/seed/seed_user_research_consents.rs
  services/headless-lms/server/src/programs/seed/seed_users.rs
  services/main-frontend/src/pages/signup.tsx
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/components/InputFields/SearchableSelectField.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  system-tests/src/tests/add-user-country.spec.ts
Labels: shared-module, system-tests, headless-lms, seed, main-frontend

User can update their info in user settings page and little fixes
  services/course-material/src/components/Page.tsx
  services/course-material/src/components/forms/SelectUserInformationForm.tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/models/.sqlx/query-3064aed319baf89c626d8cac9e7fcc9271bf20f422a5f1da641c92eccab1385b.json
  services/headless-lms/models/.sqlx/query-324f84dc27091de9c28374ab2b9bdbc77567c3d0bef342b50ae4b0d68a922ea0.json
  services/headless-lms/models/src/user_details.rs
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/course_material/user_details.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/main-frontend/src/components/forms/EditUserInformationForm.tsx
  services/main-frontend/src/pages/user-settings.tsx
  services/main-frontend/src/services/backend/user-details.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, course-material, headless-lms, main-frontend

Sync users info update to tmc
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
Labels: headless-lms

temporary
  services/main-frontend/src/pages/manage/organizations/[id]/components/AddUserPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/components/EditUserPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/styles/sharedStyles.tsx
Labels: main-frontend

temporary
  services/main-frontend/src/pages/manage/organizations/[id]/components/AddUserPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/components/EditUserPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/styles/sharedStyles.tsx
Labels: main-frontend

Update system tests to use ubicloud-standard-8 runner
  .github/workflows/system-tests-and-deploy.yml
Labels: none

Refactoring
  services/headless-lms/models/src/user_details.rs
  services/headless-lms/server/src/config.rs
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/headless-lms/utils/src/lib.rs
  services/headless-lms/utils/src/tmc/mod.rs
Labels: headless-lms

Refactoring tmc client and small fixes
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/headless-lms/utils/src/tmc/mod.rs
  services/main-frontend/src/components/forms/EditUserInformationForm.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  system-tests/src/tests/user-research-consent.spec.ts
Labels: shared-module, system-tests, headless-lms, main-frontend

Sign up testmode fix and little refactoring
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/server/tests/integration_test.rs
  services/headless-lms/utils/src/tmc/mod.rs
Labels: headless-lms

Converted edit user popup to standard dialog entirely, ensured mobile version looks good too
  services/main-frontend/src/pages/manage/organizations/[id]/components/EditUserPopup.tsx
  shared-module/packages/common/src/components/StandardDialog.tsx
Labels: shared-module, main-frontend

Converted edit user popup to standard dialog entirely, ensured mobile version looks good too
  services/main-frontend/src/pages/manage/organizations/[id]/components/EditUserPopup.tsx
  shared-module/packages/common/src/components/StandardDialog.tsx
Labels: shared-module, main-frontend

Added standard dialog to add user popup and ensured mobile compatibility
  services/main-frontend/src/pages/manage/organizations/[id]/components/AddUserPopup.tsx
Labels: main-frontend

Added standard dialog to add user popup and ensured mobile compatibility
  services/main-frontend/src/pages/manage/organizations/[id]/components/AddUserPopup.tsx
Labels: main-frontend

refactoring
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/server/tests/integration_test.rs
  services/headless-lms/utils/src/lib.rs
  services/headless-lms/utils/src/tmc/mod.rs
  services/main-frontend/src/components/forms/EditUserInformationForm.tsx
Labels: headless-lms, main-frontend
