Repository rage/secret-project-331, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, shared-module, system-tests, cms, course-material, example-exercise, headless-lms, seed, db-migrations, main-frontend, quizzes, tmc, sqlx-data, deployments, scripts, dependencies

citations are shown in chatbot but poorly
  services/course-material/src/components/chatbot/ChatbotDialogBody.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
  services/headless-lms/models/.sqlx/query-aafd1afd2c4960f912c66c8af593953b1e10bf50be0f9787b8cabc5f381855ca.json
  services/headless-lms/models/src/chatbot_conversation_messages_citations.rs
  services/headless-lms/models/src/chatbot_conversations.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
Labels: shared-module, course-material, headless-lms

Refactored log in function
  services/headless-lms/server/src/controllers/auth.rs
Labels: headless-lms

the citations are captured and refined, now just make them pretty
  services/course-material/src/components/chatbot/ChatbotDialogBody.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

some work
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

kind of works
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

Store tmc specs in uniform format
  bin/tmc-langs-update
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/ExerciseTaskIframe.tsx
  services/course-material/src/services/tmc.ts
  services/tmc/package-lock.json
  services/tmc/package.json
  services/tmc/src/components/AnswerBrowserExercise.tsx
  services/tmc/src/components/AnswerEditorExercise.tsx
  services/tmc/src/components/AnswerExercise.tsx
  services/tmc/src/components/StateRenderer.tsx
  services/tmc/src/lib.ts
  services/tmc/src/pages/api/model-solution.ts
  services/tmc/src/pages/api/public-spec.ts
  services/tmc/src/pages/api/test.ts
  services/tmc/src/pages/iframe.tsx
  services/tmc/src/tmc/cli.d.ts
  services/tmc/src/tmc/cli.guard.ts
  services/tmc/src/tmc/langs.ts
  services/tmc/src/util/helpers.ts
  services/tmc/src/util/requests.ts
  services/tmc/src/util/stateInterfaces.ts
  services/tmc/src/util/test.ts
  shared-module/packages/common/src/exercise-service-protocol-types.guard.ts
  shared-module/packages/common/src/exercise-service-protocol-types.ts
  shared-module/packages/common/src/locales/en/tmc.json
Labels: shared-module, course-material, tmc, scripts, dependencies

details list
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

somewhat okay state for the ui
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

oauth workflow wihthout user authorization
  kubernetes/dev/headless-lms/env.yml
  services/headless-lms/Cargo.lock
  services/headless-lms/migrations/20250717102642_oauth-with-oicd-tables.down.sql
  services/headless-lms/migrations/20250717102642_oauth-with-oicd-tables.up.sql
  services/headless-lms/models/.sqlx/query-3b839fb4b24f445ae7f5f3930dbeae7bcc6c7946cfc83afe2fd1a47c8295869b.json
  services/headless-lms/models/.sqlx/query-3dea7a3f8d649dbe771497ff04770c8bc8b67f2b2ed7d0395a5a0d6f3caa1562.json
  services/headless-lms/models/.sqlx/query-4c04d8d7f9b51f6aaeaa8f24ff29f9d29712ae61adb7d901c625e46dcf4200c1.json
  services/headless-lms/models/.sqlx/query-704b7bd7dd67944787100ca0ae68b080dee08ae34ebf6e8e25e9253f11373382.json
  services/headless-lms/models/.sqlx/query-805be9f3d92fae00ef60f0c8233bd26abb3f086f5e0e082a77df2bca27a93c24.json
  services/headless-lms/models/.sqlx/query-bc295cabf252525b102c0347a9615f3796d5c3a1569f8670f0c1dabeb3ed01c4.json
  services/headless-lms/models/.sqlx/query-c7e792d84d14eeb779dcf6ae02b56815acc73c5caa441ce27c5c7ac3dbf6ce7f.json
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/oauth_access_token.rs
  services/headless-lms/models/src/oauth_auth_code.rs
  services/headless-lms/models/src/oauth_client.rs
  services/headless-lms/server/Cargo.toml
  services/headless-lms/server/src/controllers/main_frontend/mod.rs
  services/headless-lms/server/src/controllers/main_frontend/oauth/mod.rs
  services/headless-lms/server/src/controllers/main_frontend/oauth/oauth_with_oicd.rs
  services/headless-lms/server/src/domain/error.rs
  services/headless-lms/server/src/programs/seed/mod.rs
  services/headless-lms/server/src/programs/seed/seed_oauth_clients.rs
Labels: headless-lms, seed, db-migrations, deployments, dependencies

switch from useing details to a custom thing that should be more accessible, not ready
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

work
  services/course-material/src/components/chatbot/MessageBubble.tsx
  shared-module/packages/common/src/locales/en/course-material.json
  shared-module/packages/common/src/locales/fi/course-material.json
Labels: shared-module, course-material

Fix comments
  services/tmc/src/pages/api/test.ts
  services/tmc/src/pages/iframe.tsx
  services/tmc/src/tmc/langs.ts
  services/tmc/src/util/requests.ts
  shared-module/packages/common/src/locales/en/tmc.json
Labels: shared-module, tmc

improvements
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

Add test for long paths in tmc exercise archives
  services/tmc/jest.config.js
  services/tmc/package-lock.json
  services/tmc/package.json
  services/tmc/src/pages/iframe.tsx
  services/tmc/src/util/helpers.ts
  services/tmc/tests/util/helpers.test.ts
  services/tmc/tests/util/test.tar.zst
  services/tmc/tsconfig.json
Labels: tmc, dependencies

fix migration, working version of oauth, without frontend login when not logged in
  services/headless-lms/migrations/20250717102642_oauth-with-oicd-tables.up.sql
  services/headless-lms/server/src/controllers/main_frontend/oauth/oauth_with_oicd.rs
Labels: headless-lms, db-migrations

pretty good
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

collapsed reference list is prettier with intelligent ref title truncations
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

large pretty links
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

Fix use of node api in browser
  services/tmc/src/util/helpers.ts
Labels: tmc

[feature] oauth now redirects to main-frontend login if user is not logged in
  services/headless-lms/migrations/20250717102642_oauth-with-oicd-tables.up.sql
  services/headless-lms/models/src/oauth_auth_code.rs
  services/headless-lms/server/src/controllers/main_frontend/oauth/oauth_with_oicd.rs
  services/headless-lms/server/src/programs/seed/seed_oauth_clients.rs
  shared-module/packages/common/src/utils/redirectBackAfterLoginOrSignup.tsx
Labels: shared-module, headless-lms, seed, db-migrations

add course material chapter for chatbot citations to db and ui
  services/course-material/src/components/chatbot/MessageBubble.tsx
  services/headless-lms/chatbot/src/azure_chatbot.rs
  services/headless-lms/migrations/20250716120134_add_chatbot_conversation_citations_table.up.sql
  services/headless-lms/models/.sqlx/query-1b01ab42a857dcfb5e1a937f401e6895f09f6d20f43675f100da458c87777f5a.json
  services/headless-lms/models/.sqlx/query-aafd1afd2c4960f912c66c8af593953b1e10bf50be0f9787b8cabc5f381855ca.json
  services/headless-lms/models/.sqlx/query-f866e94820ab2671149449b6c2dbd0000921ca02577ee8a257ab107d927767eb.json
  services/headless-lms/models/src/chatbot_conversation_messages_citations.rs
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
Labels: shared-module, course-material, headless-lms, db-migrations

trying to use popper but idk
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

clickable citations, popover, but the code is ugly
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

clean up the code a bit
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

fix bug
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

fix bug
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

fix bug
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

tooltip/popper is shown on hover but doesn't display anything yet
  services/course-material/src/components/chatbot/ChatbotDialogBody.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

Auth and password change uses user_id instead of email
  services/headless-lms/migrations/20250721091109_add-password-reset-tokens.down.sql
  services/headless-lms/migrations/20250721091109_add-password-reset-tokens.up.sql
  services/headless-lms/models/.sqlx/query-064a87b5bc647afbc6ad71649b451f69d150965ed896f9f7750d7ca90c360f46.json
  services/headless-lms/models/.sqlx/query-12678b433a9c84513a0c100571b2d82db27fbc569e2b9c79b23e31906be0f559.json
  services/headless-lms/models/.sqlx/query-247b57ac933ff6ed9d2a70daf2260c53c52f3fae1f1cb9d7212334837b909b1a.json
  services/headless-lms/models/.sqlx/query-4db47a0bd26959404dbe4e273d07ccb74d9400d83f5c9d58c97fcef1f1191e40.json
  services/headless-lms/models/.sqlx/query-8283c7aa316fe69e3ad158ddfb699a0955085460b4db39f7c5fbbfc352aba49d.json
  services/headless-lms/models/.sqlx/query-886fbc61200b42e9508cbe49f225a97c49e4521dc7ba8189418e313effc13eb0.json
  services/headless-lms/models/.sqlx/query-c4db451cf0d08b2fca14976798e0883a3961533b35d7dd4d5057e1662d482592.json
  services/headless-lms/models/.sqlx/query-dc6a94949ce20d11fa55e247dc706fdc88018bf1ba528487fcd0ef02f5c40ca7.json
  services/headless-lms/models/.sqlx/query-e0da70d42e11a70fc5b3a4741a6f0781f81eec98fd05dcade978139c8a6bc762.json
  services/headless-lms/models/.sqlx/query-efbc0faf9c6ac6336499543ea29b528cfcf60c9443f6495dfa13c38fe94a3dfd.json
  services/headless-lms/models/.sqlx/query-f2beb11b5e6318b712b0af9bd4fde454472ce8eda3612295b788958148a376b5.json
  services/headless-lms/models/.sqlx/query-f7841567b90206f7d7aba83b520e1cb7933c33d203d9a1df88e3db961ab83681.json
  services/headless-lms/models/.sqlx/query-fd692e5f883ffec6910d75792c99c20dc1ea41c5912c6a8c1e2be6727069c6ff.json
  services/headless-lms/models/src/email_deliveries.rs
  services/headless-lms/models/src/email_templates.rs
  services/headless-lms/models/src/user_passwords.rs
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/users.rs
  services/headless-lms/server/src/controllers/tmc_server/users.rs
  services/headless-lms/server/src/programs/email_deliver.rs
  services/headless-lms/utils/src/email_processor.rs
  services/headless-lms/utils/src/tmc/mod.rs
  services/main-frontend/src/pages/login.tsx
  services/main-frontend/src/pages/reset-password.tsx
  services/main-frontend/src/services/backend/users.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
Labels: shared-module, headless-lms, db-migrations, main-frontend

backup
  services/headless-lms/models/.sqlx/query-2ab1518828d7383ac52e14cc4e5b08c1aee262961808a3645153123617fc4b70.json
  services/headless-lms/models/.sqlx/query-4d7cfacae005bfac6670489f503c90bd1667258d2ac641038a228be031b30a03.json
  services/headless-lms/models/src/organizations.rs
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/main-frontend/src/components/page-specific/organizations/index/OrganizationsList.tsx
  services/main-frontend/src/components/page-specific/organizations/index/components/OrganizationBanner.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/components/DeleteOrganizationPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  services/main-frontend/src/services/backend/organizations.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/utils/routes.ts
Labels: shared-module, headless-lms, main-frontend

backup
  services/headless-lms/models/.sqlx/query-2ab1518828d7383ac52e14cc4e5b08c1aee262961808a3645153123617fc4b70.json
  services/headless-lms/models/.sqlx/query-4d7cfacae005bfac6670489f503c90bd1667258d2ac641038a228be031b30a03.json
  services/headless-lms/models/src/organizations.rs
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/main-frontend/src/components/page-specific/organizations/index/OrganizationsList.tsx
  services/main-frontend/src/components/page-specific/organizations/index/components/OrganizationBanner.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/components/DeleteOrganizationPopup.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  services/main-frontend/src/services/backend/organizations.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/utils/routes.ts
Labels: shared-module, headless-lms, main-frontend

popover is shown on click and hover and no bugs
  services/course-material/src/components/chatbot/ChatbotDialogBody.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

hovering and clicking popover works
  services/course-material/src/components/chatbot/ChatbotDialogBody.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

Do not fetch service info on exercise editor render
  services/headless-lms/models/src/exercise_service_info.rs
  services/headless-lms/models/src/exercise_services.rs
  services/headless-lms/server/src/controllers/cms/exercise_services.rs
  services/headless-lms/server/src/controllers/main_frontend/exercise_services.rs
  services/headless-lms/server/src/programs/regrader.rs
  system-tests/src/tests/exercise-service.spec.ts
Labels: system-tests, headless-lms

Reconnect mailchimp connection on error
  services/headless-lms/server/src/programs/mailchimp_syncer.rs
Labels: headless-lms

improvements
  services/course-material/src/components/chatbot/ChatbotDialogBody.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

hovering and clicking popover works for real no bugs
  services/course-material/src/components/chatbot/ChatbotDialogBody.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

User can change password with reset link
  services/headless-lms/models/.sqlx/query-06f67e2e4467efc0a30e6badaf7fd5b699a652b199a3357f34e368e688da6283.json
  services/headless-lms/models/.sqlx/query-4cf63a31e2421951ee0ea8ae7c1300e3a90c4cefc4be001ce157dc13983691d2.json
  services/headless-lms/models/.sqlx/query-7ee49dcb71f3f4ae9f6bd1dcaa1edca57c4128c1b5828dbca9af4c062fcb3479.json
  services/headless-lms/models/.sqlx/query-9dd16b31f62f164f2e6ed95269f97817f27901969f23dcdd3c88361b862ba506.json
  services/headless-lms/models/src/user_passwords.rs
  services/headless-lms/server/src/controllers/main_frontend/users.rs
  services/main-frontend/src/components/forms/ResetUserPasswordForm.tsx
  services/main-frontend/src/pages/reset-user-password/[id].tsx
  services/main-frontend/src/services/backend/users.ts
Labels: headless-lms, main-frontend

improvements
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

move popper from dialogbody to messagebubble to simplify it
  services/course-material/src/components/chatbot/ChatbotDialogBody.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

shared-module:
  - changed-files:
      - any-glob-to-any-file: "shared-module/**/*"

system-tests:
  - changed-files:
      - any-glob-to-any-file: "system-tests/**/*"

cms:
  - changed-files:
      - any-glob-to-any-file: "services/cms/**/*"

course-material:
  - changed-files:
      - any-glob-to-any-file: "services/course-material/**/*"

example-exercise:
  - changed-files:
      - any-glob-to-any-file: "services/example-exercise/**/*"

headless-lms:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/**/*"

seed:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/server/src/programs/seed/**/*"

db-migrations:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/migrations/**/*"

main-frontend:
  - changed-files:
      - any-glob-to-any-file: "services/main-frontend/**/*"

quizzes:
  - changed-files:
      - any-glob-to-any-file: "services/quizzes/**/*"

tmc:
  - changed-files:
      - any-glob-to-any-file: "services/tmc/**/*"

sqlx-data:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/models/sqlx-data.json"

deployments:
  - changed-files:
      - any-glob-to-any-file: "skaffold.yaml"
      - any-glob-to-any-file: "skaffold.production.yaml"
      - any-glob-to-any-file: "**/Dockerfile"
      - any-glob-to-any-file: "**/*.dockerfile"
      - any-glob-to-any-file: "kubernetes/**/*"

scripts:
  - changed-files:
      - any-glob-to-any-file: "bin/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/package.json"
      - any-glob-to-any-file: "**/package.lock.json"
      - any-glob-to-any-file: "**/Cargo.lock"
      - any-glob-to-any-file: "**/Cargo.toml"
