Repository rage/secret-project-331, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, shared-module, system-tests, cms, course-material, example-exercise, headless-lms, seed, db-migrations, main-frontend, quizzes, tmc, sqlx-data, deployments, scripts, dependencies

Deploying to gh-pages from @ rage/secret-project-331@14bed16398bb0730320e46d3ee58d1de0752b9da 🚀
  headless_lms_server/controllers/auth/fn._add_routes.html
  headless_lms_server/controllers/auth/fn.update_user_information_to_tmc.html
  headless_lms_server/controllers/auth/index.html
  headless_lms_server/controllers/main_frontend/user_details/fn._add_routes.html
  headless_lms_server/controllers/main_frontend/user_details/fn.update_user_info.html
  headless_lms_server/controllers/main_frontend/user_details/index.html
  headless_lms_utils/tmc/index.html
  headless_lms_utils/tmc/struct.TmcClient.html
  src/headless_lms_server/controllers/auth.rs.html
  src/headless_lms_server/controllers/main_frontend/user_details.rs.html
  src/headless_lms_utils/tmc/mod.rs.html
Labels: none

Send info to tmc that users password is stored in db
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/utils/src/tmc/mod.rs
Labels: headless-lms

Merge ci system tests process to a single job for building and testing
  .github/workflows/system-tests-and-deploy.yml
  skaffold.production.yaml
Labels: root, deployments

Update GitHub Actions workflow to install kustomize, kubectl, and skaffold in a single step
  .github/workflows/system-tests-and-deploy.yml
Labels: none

Remove optional build cache image downloads from minikube-pull-images script
  bin/minikube-pull-images
Labels: scripts

Add a step to ensure Skaffold local environment patch files exist in the deployment workflow
  .github/workflows/system-tests-and-deploy.yml
  bin/make-sure-skaffold-local-env-patch-files-exists
Labels: scripts

Add step to ensure Skaffold local environment patch files exist in the system tests and deploy workflow
  .github/workflows/system-tests-and-deploy.yml
Labels: none

Add step to remove ingress nginx admission webhook in the system tests and deploy workflow
  .github/workflows/system-tests-and-deploy.yml
Labels: none

Setup minikube before build
  .github/workflows/system-tests-and-deploy.yml
Labels: none

Refactor user info update logic to ensure upstream_id is not required to be present in the test mode
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
Labels: headless-lms

Merge CI system tests and build into one job (#1506)
  .github/workflows/system-tests-and-deploy.yml
  bin/make-sure-skaffold-local-env-patch-files-exists
  bin/minikube-pull-images
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  skaffold.production.yaml
Labels: root, headless-lms, deployments, scripts

Merge CI system tests and build into one job (#1506)
  .github/workflows/system-tests-and-deploy.yml
  bin/make-sure-skaffold-local-env-patch-files-exists
  bin/minikube-pull-images
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  skaffold.production.yaml
Labels: root, headless-lms, deployments, scripts

Deploying to gh-pages from @ rage/secret-project-331@d33249a8ee4b7d030c2bf1ebfd7223f4b2a045b6 🚀
  src/headless_lms_server/controllers/main_frontend/user_details.rs.html
Labels: none

Url and payload change to set user password
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/utils/src/tmc/mod.rs
Labels: headless-lms

refactor and fix issues
  services/headless-lms/models/src/chatbot_configurations.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  services/main-frontend/src/components/page-specific/org/organizationSlug/ExamList.tsx
  services/main-frontend/src/components/page-specific/styles/styles.ts
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/index.tsx
  shared-module/packages/common/src/utils/routes.ts
Labels: shared-module, headless-lms, main-frontend

update localisations
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, main-frontend

add accordion
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
Labels: main-frontend

forgot this
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module

rename styled list
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  services/main-frontend/src/components/page-specific/org/organizationSlug/ExamList.tsx
  services/main-frontend/src/styles/styles.ts
Labels: main-frontend

fixing forms
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotForm.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, main-frontend

move mutations down to disable buttons and other improvements
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
Labels: main-frontend

User authentication when logging in
  services/headless-lms/migrations/20250709091252_add_user_passwords.up.sql
  services/headless-lms/models/.sqlx/query-111a140ce89194ff609ae91a7bbc7e205411c2f99ac741d8892178c24f862a8c.json
  services/headless-lms/models/src/user_passwords.rs
  services/headless-lms/server/src/controllers/tmc_server/auth.rs
  services/headless-lms/server/src/controllers/tmc_server/mod.rs
  services/headless-lms/server/src/domain/authorization.rs
  services/headless-lms/utils/src/tmc/mod.rs
Labels: headless-lms, db-migrations

Don't include deleted tasks in responses when they are not needed
  services/headless-lms/models/.sqlx/query-71f594369abdeb1bf4ee2fa6d7843c069859d800c9200d40863e9e8bbf722f5c.json
  services/headless-lms/models/src/exercise_slide_submissions.rs
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/exercise_tasks.rs
  services/headless-lms/models/src/library/grading.rs
  services/headless-lms/models/src/library/peer_or_self_reviewing.rs
  services/headless-lms/server/src/controllers/main_frontend/exercise_slide_submissions.rs
Labels: headless-lms

Remove not needed screenshots
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-creating-new-module-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-creating-new-module-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-last-update-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-last-update-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-saving-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-saving-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-mobile-tall.png
  system-tests/src/tests/course-modules/course-modules.spec.ts
Labels: system-tests

Don't include deleted tasks in responses when they are not needed (#1507)
  services/headless-lms/models/.sqlx/query-71f594369abdeb1bf4ee2fa6d7843c069859d800c9200d40863e9e8bbf722f5c.json
  services/headless-lms/models/src/exercise_slide_submissions.rs
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/exercise_tasks.rs
  services/headless-lms/models/src/library/grading.rs
  services/headless-lms/models/src/library/peer_or_self_reviewing.rs
  services/headless-lms/server/src/controllers/main_frontend/exercise_slide_submissions.rs
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-creating-new-module-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-creating-new-module-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-last-update-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-last-update-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-saving-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-saving-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-mobile-tall.png
  system-tests/src/tests/course-modules/course-modules.spec.ts
Labels: system-tests, headless-lms

Don't include deleted tasks in responses when they are not needed (#1507)
  services/headless-lms/models/.sqlx/query-71f594369abdeb1bf4ee2fa6d7843c069859d800c9200d40863e9e8bbf722f5c.json
  services/headless-lms/models/src/exercise_slide_submissions.rs
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/exercise_tasks.rs
  services/headless-lms/models/src/library/grading.rs
  services/headless-lms/models/src/library/peer_or_self_reviewing.rs
  services/headless-lms/server/src/controllers/main_frontend/exercise_slide_submissions.rs
  system-tests/src/tests/course-modules/course-modules.spec.ts
Labels: system-tests, headless-lms

course's can_add_chatbot can be inserted into db but not from ui
  services/headless-lms/models/.sqlx/query-6d9ec9382247b2ee10a87dcb17c9623a2f1dbbec29d5e7a0b66d61e02e98fbee.json
  services/headless-lms/models/.sqlx/query-cc2fceb2f75d704b551705f15ffcdae210fce2baf7b9d3612f77b6548a6df68c.json
  services/headless-lms/models/src/chapters.rs
  services/headless-lms/models/src/courses.rs
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/models/src/test_helper.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/server/tests/study_registry_test.rs
  services/main-frontend/src/components/NewCourseForm/index.tsx
  services/main-frontend/src/hooks/useCreateCourse.tsx
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
Labels: shared-module, headless-lms, seed, main-frontend

test for chatbot settings, fix accessibility issues
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  system-tests/src/tests/chatbot.spec.ts
Labels: system-tests, main-frontend

Changed function name
  services/headless-lms/Cargo.lock
  services/headless-lms/server/Cargo.toml
  services/headless-lms/server/src/controllers/tmc_server/users_by_upstream_id.rs
  services/headless-lms/server/src/domain/authorization.rs
Labels: headless-lms, dependencies

Endpoint for changing password from tmc and little fixes
  services/headless-lms/models/src/user_passwords.rs
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/tmc_server/auth.rs
  services/headless-lms/server/src/controllers/tmc_server/mod.rs
  services/headless-lms/server/src/controllers/tmc_server/users.rs
Labels: headless-lms

Update password to database upon sign up
  services/headless-lms/server/src/controllers/auth.rs
Labels: headless-lms

improve test
  system-tests/src/tests/chatbot.spec.ts
Labels: system-tests

Test stability fix
  .coderabbit.yaml
  system-tests/src/tests/query-mutation-notifications/success-notification.spec.ts
  system-tests/src/utils/notificationUtils.ts
Labels: root, system-tests

Test stability fix
  .coderabbit.yaml
  system-tests/src/tests/query-mutation-notifications/success-notification.spec.ts
  system-tests/src/utils/notificationUtils.ts
Labels: root, system-tests

Small fixes
  services/headless-lms/models/src/user_passwords.rs
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/tmc_server/users.rs
Labels: headless-lms

end point for creating new organization made alongside with frontend create organization popup, it is functional but not yet tested fully
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/headless-lms/server/src/programs/seed/mod.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/mod.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/no_users.rs
  services/main-frontend/src/components/page-specific/organizations/index/CreateOrganizationPopup.tsx
  services/main-frontend/src/components/page-specific/organizations/index/OrganizationsList.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  system-tests/src/tests/manage-organizations/change-user-permissions.spec.ts
Labels: shared-module, system-tests, headless-lms, seed, main-frontend

end point for creating new organization made alongside with frontend create organization popup, it is functional but not yet tested fully
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/headless-lms/server/src/programs/seed/mod.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/mod.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/no_users.rs
  services/main-frontend/src/components/page-specific/organizations/index/CreateOrganizationPopup.tsx
  services/main-frontend/src/components/page-specific/organizations/index/OrganizationsList.tsx
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  system-tests/src/tests/manage-organizations/change-user-permissions.spec.ts
Labels: shared-module, system-tests, headless-lms, seed, main-frontend

citations are added to the db
  services/headless-lms/chatbot/src/azure_chatbot.rs
  services/headless-lms/migrations/20250716120134_add_chatbot_conversation_citations_table.down.sql
  services/headless-lms/migrations/20250716120134_add_chatbot_conversation_citations_table.up.sql
  services/headless-lms/models/.sqlx/query-53f13cfdb317e8411eb5098057e0ccdaafec7221452273b679cfa53b5e3447be.json
  services/headless-lms/models/.sqlx/query-f866e94820ab2671149449b6c2dbd0000921ca02577ee8a257ab107d927767eb.json
  services/headless-lms/models/src/chatbot_conversation_messages_citations.rs
  services/headless-lms/models/src/lib.rs
Labels: headless-lms, db-migrations

Try to auth user from database when logging in
  services/headless-lms/models/.sqlx/query-21a3a35797bdfd1983294768f228bf72a7732d07f81d365df4b90c94fb61f835.json
  services/headless-lms/models/.sqlx/query-352f3f2d38b17b63a7620cc7b4c8b657264fe751852d72b38262fa0421093abb.json
  services/headless-lms/models/.sqlx/query-625f56ca4ce2b855c400327266a8791c8284a8f95614784034bad5d8e7a8bed1.json
  services/headless-lms/models/.sqlx/query-886fbc61200b42e9508cbe49f225a97c49e4521dc7ba8189418e313effc13eb0.json
  services/headless-lms/models/src/user_passwords.rs
  services/headless-lms/server/src/controllers/auth.rs
Labels: headless-lms

Added test for creating an account and logging in
  system-tests/src/tests/create-account-and-login.spec.ts
Labels: system-tests

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

shared-module:
  - changed-files:
      - any-glob-to-any-file: "shared-module/**/*"

system-tests:
  - changed-files:
      - any-glob-to-any-file: "system-tests/**/*"

cms:
  - changed-files:
      - any-glob-to-any-file: "services/cms/**/*"

course-material:
  - changed-files:
      - any-glob-to-any-file: "services/course-material/**/*"

example-exercise:
  - changed-files:
      - any-glob-to-any-file: "services/example-exercise/**/*"

headless-lms:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/**/*"

seed:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/server/src/programs/seed/**/*"

db-migrations:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/migrations/**/*"

main-frontend:
  - changed-files:
      - any-glob-to-any-file: "services/main-frontend/**/*"

quizzes:
  - changed-files:
      - any-glob-to-any-file: "services/quizzes/**/*"

tmc:
  - changed-files:
      - any-glob-to-any-file: "services/tmc/**/*"

sqlx-data:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/models/sqlx-data.json"

deployments:
  - changed-files:
      - any-glob-to-any-file: "skaffold.yaml"
      - any-glob-to-any-file: "skaffold.production.yaml"
      - any-glob-to-any-file: "**/Dockerfile"
      - any-glob-to-any-file: "**/*.dockerfile"
      - any-glob-to-any-file: "kubernetes/**/*"

scripts:
  - changed-files:
      - any-glob-to-any-file: "bin/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/package.json"
      - any-glob-to-any-file: "**/package.lock.json"
      - any-glob-to-any-file: "**/Cargo.lock"
      - any-glob-to-any-file: "**/Cargo.toml"
