Repository rage/secret-project-331, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, shared-module, system-tests, cms, course-material, example-exercise, headless-lms, seed, db-migrations, main-frontend, quizzes, tmc, sqlx-data, deployments, scripts, dependencies

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

shared-module:
  - changed-files:
      - any-glob-to-any-file: "shared-module/**/*"

system-tests:
  - changed-files:
      - any-glob-to-any-file: "system-tests/**/*"

cms:
  - changed-files:
      - any-glob-to-any-file: "services/cms/**/*"

course-material:
  - changed-files:
      - any-glob-to-any-file: "services/course-material/**/*"

example-exercise:
  - changed-files:
      - any-glob-to-any-file: "services/example-exercise/**/*"

headless-lms:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/**/*"

seed:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/server/src/programs/seed/**/*"

db-migrations:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/migrations/**/*"

main-frontend:
  - changed-files:
      - any-glob-to-any-file: "services/main-frontend/**/*"

quizzes:
  - changed-files:
      - any-glob-to-any-file: "services/quizzes/**/*"

tmc:
  - changed-files:
      - any-glob-to-any-file: "services/tmc/**/*"

sqlx-data:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/models/sqlx-data.json"

deployments:
  - changed-files:
      - any-glob-to-any-file: "skaffold.yaml"
      - any-glob-to-any-file: "skaffold.production.yaml"
      - any-glob-to-any-file: "**/Dockerfile"
      - any-glob-to-any-file: "**/*.dockerfile"
      - any-glob-to-any-file: "kubernetes/**/*"

scripts:
  - changed-files:
      - any-glob-to-any-file: "bin/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/package.json"
      - any-glob-to-any-file: "**/package.lock.json"
      - any-glob-to-any-file: "**/Cargo.lock"
      - any-glob-to-any-file: "**/Cargo.toml"

Update dependencies for shared-module/common
  shared-module/packages/common/package-lock.json
  shared-module/packages/common/package.json
Labels: shared-module, dependencies

Cargo upgrade
  services/headless-lms/Cargo.lock
  services/headless-lms/Cargo.toml
  services/headless-lms/certificates/Cargo.toml
  services/headless-lms/chatbot/Cargo.toml
  services/headless-lms/doc-macro/Cargo.toml
  services/headless-lms/langs-api/Cargo.toml
  services/headless-lms/models/Cargo.toml
  services/headless-lms/server/Cargo.toml
  services/headless-lms/utils/Cargo.toml
Labels: headless-lms, dependencies

Cargo update
  services/headless-lms/Cargo.lock
Labels: headless-lms, dependencies

begin work on smarter chapter title stuff, azure metadata etc
  services/headless-lms/chatbot/src/azure_chatbot.rs
  services/headless-lms/chatbot/src/azure_search_index.rs
  services/headless-lms/chatbot/src/azure_skillset.rs
  services/headless-lms/server/src/programs/chatbot_syncer.rs
Labels: headless-lms

create fake azure conf function
  services/headless-lms/utils/src/lib.rs
Labels: headless-lms

Downgrade azure_core
  services/headless-lms/Cargo.lock
  services/headless-lms/chatbot/Cargo.toml
Labels: headless-lms, dependencies

Typescript fixes
  services/cms/src/pages/courses/[id]/export.tsx
  services/quizzes/tests/api/utils/testClient.ts
Labels: cms, quizzes

New doc content (#1510)
  docs/frontend.md
  docs/headless-lms.md
Labels: docs

New doc content (#1510)
  docs/frontend.md
  docs/headless-lms.md
Labels: docs

Update snapshots
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-desktop-regular.png
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-mobile-tall.png
Labels: system-tests

get chapter number from database
  services/headless-lms/chatbot/src/azure_chatbot.rs
Labels: headless-lms

Stylelint changes
  .stylelintrc
  services/course-material/src/components/ContentRenderer/moocfi/CongratulationsBlock/Congratulations.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CourseChapterGridBlock/Grid.tsx
  services/main-frontend/src/components/page-specific/colors/ColorPalette.tsx
  services/main-frontend/src/pages/playground-views.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizCreation/QuizOption.tsx
  shared-module/packages/common/src/components/Navigation/NavBar/ComplexNav.tsx
  shared-module/packages/common/src/components/Reference.tsx
  shared-module/packages/common/src/styles/GlobalStyles.tsx
Labels: root, shared-module, course-material, main-frontend, quizzes

Remove deprecated property rule from stylelint configuration and add stylelint disable comments in CourseCard and IllustrationCard components.
  .stylelintrc
  services/main-frontend/src/components/page-specific/org/organizationSlug/CourseCard.tsx
  shared-module/packages/common/src/components/Card/IllustrationCard.tsx
Labels: root, shared-module, main-frontend

better and save chapter number to db, not chapter name
  services/course-material/src/components/chatbot/CitationPopover.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
  services/headless-lms/chatbot/src/azure_chatbot.rs
  services/headless-lms/migrations/20250716120134_add_chatbot_conversation_citations_table.up.sql
  services/headless-lms/models/.sqlx/query-0bf1d8282b2e027486d7db98f3e0d54ed2c4e0cc37fdca2608a21d31c1816fa4.json
  services/headless-lms/models/.sqlx/query-aafd1afd2c4960f912c66c8af593953b1e10bf50be0f9787b8cabc5f381855ca.json
  services/headless-lms/models/.sqlx/query-f866e94820ab2671149449b6c2dbd0000921ca02577ee8a257ab107d927767eb.json
  services/headless-lms/models/src/chatbot_conversation_messages_citations.rs
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/course-material.json
  shared-module/packages/common/src/locales/fi/course-material.json
Labels: shared-module, course-material, headless-lms, db-migrations
