Repository rage/secret-project-331, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, shared-module, system-tests, cms, course-material, example-exercise, headless-lms, db-migrations, main-frontend, quizzes, tmc, deployments, scripts, dependencies

update snapshot
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-mobile-chromium-linux.png
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-small-desktop-chromium-linux.png
  system-tests/src/tests/default-peer-review-editing.spec.ts-snapshots/default-peer-review-editor-mobile-chromium-linux.png
  system-tests/src/tests/glossary.spec.ts-snapshots/initial-glossary-page-mobile-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/citation-paragraph-mobile-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/citation-paragraph-small-desktop-chromium-linux.png
  system-tests/src/tests/multiple-task-exercise.spec.ts-snapshots/only-third-correct-score-stays-same-mobile-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/edited-permission-mobile-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/edited-permission-small-desktop-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/editing-permission-mobile-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/editing-permission-small-desktop-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/removed-permission-mobile-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/removed-permission-small-desktop-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/sorted-by-email-mobile-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/sorted-by-email-small-desktop-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/sorted-by-role-mobile-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/sorted-by-role-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-correct-answer-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-correct-answer-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-incorrect-answer-after-correct-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-incorrect-answer-after-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-correct-answer-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-correct-answer-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-incorrect-answer-after-correct-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-incorrect-answer-after-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/open.spec.ts-snapshots/open-feedback-correct-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/open.spec.ts-snapshots/open-feedback-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/scale.spec.ts-snapshots/scale-feedback-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/scale.spec.ts-snapshots/scale-feedback-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/timeline.spec.ts-snapshots/timeline-initial-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-incorrect-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-incorrect-with-model-solution-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-filled-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-filled-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-initial-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-initial-small-desktop-chromium-linux.png
Labels: system-tests

remove underline from nextSectionLink link
  shared-module/src/components/NextSectionLink.tsx
Labels: shared-module

update snapshot
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-mobile-chromium-linux.png
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-small-desktop-chromium-linux.png
  system-tests/src/tests/default-peer-review-editing.spec.ts-snapshots/default-peer-review-editor-mobile-chromium-linux.png
  system-tests/src/tests/glossary.spec.ts-snapshots/initial-glossary-page-mobile-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/citation-paragraph-mobile-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/citation-paragraph-small-desktop-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/edited-permission-mobile-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/edited-permission-small-desktop-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/editing-permission-mobile-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/editing-permission-small-desktop-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/removed-permission-mobile-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/removed-permission-small-desktop-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/sorted-by-email-mobile-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/sorted-by-email-small-desktop-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/sorted-by-role-mobile-chromium-linux.png
  system-tests/src/tests/permissions.spec.ts-snapshots/sorted-by-role-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-correct-answer-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-correct-answer-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-incorrect-answer-after-correct-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-incorrect-answer-after-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-correct-answer-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-correct-answer-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-incorrect-answer-after-correct-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-incorrect-answer-after-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/open.spec.ts-snapshots/open-feedback-correct-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/open.spec.ts-snapshots/open-feedback-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/scale.spec.ts-snapshots/scale-feedback-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/scale.spec.ts-snapshots/scale-feedback-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/timeline.spec.ts-snapshots/timeline-initial-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-incorrect-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-incorrect-with-model-solution-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-filled-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-filled-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-initial-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-initial-small-desktop-chromium-linux.png
Labels: system-tests

Congratulation-block update (#1043)
  services/course-material/src/components/ContentRenderer/moocfi/ChapterProgressBlock/ChapterProgress.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CongratulationsBlock/Congratulations.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CongratulationsBlock/CongratulationsLinks.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CongratulationsBlock/ModuleCard.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CongratulationsBlock/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CourseChapterGridBlock/ChapterGrid.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CourseProgressBlock/ColorsIdentifier.tsx
  services/course-material/src/components/ContentRenderer/moocfi/LearningObjectiveBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/TopLevelPagesBlock/TopLevelPage.tsx
  services/course-material/src/components/HeadingsNavigation.tsx
  services/course-material/src/img/congratulation-bg.svg
  services/course-material/src/img/failed-icon.svg
  services/course-material/src/img/grade-badge.svg
  services/course-material/src/img/passed-icon.svg
  services/headless-lms/models/src/library/progressing.rs
  services/headless-lms/server/src/programs/doc_file_generator/mod.rs
  shared-module/src/bindings.ts
  shared-module/src/components/Card/IllustrationCard.tsx
  shared-module/src/components/Card/SimpleCard.tsx
  shared-module/src/components/Card/index.tsx
  shared-module/src/components/CourseObjective/index.tsx
  shared-module/src/components/CourseProgress/CircularProgress.tsx
  shared-module/src/components/NextSectionLink.tsx
  shared-module/src/components/TopLevelPage.tsx
  shared-module/src/locales/en/course-material.json
  system-tests/src/tests/automatic-completion.spec.ts
  system-tests/src/tests/course-material/find-hidden-page.spec.ts
Labels: shared-module, system-tests, course-material, headless-lms

Deploying to gh-pages from @ e5d040f0f6f39a8314bb013485d3f8158d4d868f 🚀
  headless_lms_models/library/progressing/fn.get_completion_registration_link_and_save_attempt.html
  headless_lms_models/library/progressing/fn.get_user_module_completion_statuses_for_course_instance.html
  headless_lms_models/library/progressing/index.html
  headless_lms_models/library/progressing/struct.CompletionRegistrationLink.html
  headless_lms_models/library/progressing/struct.UserModuleCompletionStatus.html
  headless_lms_models/prelude/trait.Deserialize.html
  headless_lms_models/prelude/trait.Serialize.html
  headless_lms_server/controllers/course_material/course_instances/fn.get_module_completions_for_course_instance.html
  headless_lms_server/controllers/course_material/exercises/fn.get_exercise.html
  headless_lms_server/controllers/files/fn.upload_from_exercise_service.html
  headless_lms_server/prelude/trait.Deserialize.html
  headless_lms_server/prelude/trait.Serialize.html
  headless_lms_server/programs/doc_file_generator/example/trait.Example.html
  headless_lms_server/programs/doc_file_generator/fn.models.html
  headless_lms_server/programs/doc_file_generator/fn.utils.html
  headless_lms_server/programs/doc_file_generator/index.html
  src/headless_lms_models/library/progressing.rs.html
  src/headless_lms_server/programs/doc_file_generator/mod.rs.html
Labels: none

Requested changes
  services/course-material/src/pages/[organizationSlug]/exams/[id].tsx
  services/headless-lms/migrations/20221104152440_add_automatic_completion_requires_exam.up.sql
  services/headless-lms/models/src/library/progressing.rs
  services/main-frontend/src/components/forms/NewExamForm.tsx
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/tests/exam-list.spec.ts
  system-tests/src/tests/exam-list.spec.ts-snapshots/create-exam-dialog-filled-mobile-chromium-linux.png
  system-tests/src/tests/exam-list.spec.ts-snapshots/create-exam-dialog-filled-small-desktop-chromium-linux.png
  system-tests/src/tests/exam-list.spec.ts-snapshots/create-exam-dialog-mobile-chromium-linux.png
  system-tests/src/tests/exam-list.spec.ts-snapshots/create-exam-dialog-small-desktop-chromium-linux.png
Labels: shared-module, system-tests, course-material, headless-lms, db-migrations, main-frontend

fix broken link bug
  shared-module/src/components/NextSectionLink.tsx
Labels: shared-module

remove passHref
  shared-module/src/components/NextSectionLink.tsx
Labels: shared-module

Try random fix
  system-tests/src/tests/exams/exam-with-automatic-eligibility.spec.ts
Labels: system-tests

Added exporting course instance completions as CSV
  services/headless-lms/server/src/controllers/main_frontend/course_instances.rs
  services/headless-lms/server/src/domain/csv_export.rs
  services/main-frontend/src/components/page-specific/manage/course-instances/id/completions/CompletionsExportButton.tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/completions.tsx
  shared-module/src/locales/en/main-frontend.json
Labels: shared-module, headless-lms, main-frontend

style export-completions-as-csv button
  services/main-frontend/src/components/page-specific/manage/course-instances/id/completions/CompletionsExportButton.tsx
Labels: main-frontend

update progressBar
  shared-module/src/components/CourseProgress/ProgressBar.tsx
Labels: shared-module

update snapshot
  shared-module/src/components/NextSectionLink.tsx
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-mobile-chromium-linux.png
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-small-desktop-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/citation-paragraph-mobile-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/citation-paragraph-small-desktop-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/closed-course-material-reference-list-mobile-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/closed-course-material-reference-list-small-desktop-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/open-course-material-reference-list-mobile-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/open-course-material-reference-list-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-correct-answer-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-correct-answer-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-incorrect-answer-after-correct-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-incorrect-answer-after-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-correct-answer-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-correct-answer-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-incorrect-answer-after-correct-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-incorrect-answer-after-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/open.spec.ts-snapshots/open-feedback-correct-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/open.spec.ts-snapshots/open-feedback-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/scale.spec.ts-snapshots/scale-feedback-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/scale.spec.ts-snapshots/scale-feedback-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/timeline.spec.ts-snapshots/timeline-initial-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-incorrect-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-incorrect-with-model-solution-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-filled-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-filled-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-initial-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-initial-small-desktop-chromium-linux.png
Labels: shared-module, system-tests

update snapshot
  system-tests/src/tests/course-instance-management/add-completions.spec.ts-snapshots/manual-completion-after-posting-completions-mobile-chromium-linux.png
Labels: system-tests

.github/labeler.yml:

root:
- '*'

docs:
  - docs/**/*

shared-module:
  - shared-module/**/*

system-tests:
  - system-tests/**/*

cms:
  - services/cms/**/*

course-material:
  - services/course-material/**/*

example-exercise:
  - services/example-exercise/**/*

headless-lms:
  - services/headless-lms/**/*

db-migrations:
  - services/headless-lms/migrations/**/*

main-frontend:
  - services/main-frontend/**/*

quizzes:
  - services/quizzes/**/*

tmc:
  - services/tmc/**/*

deployments:
  - skaffold.yaml
  - skaffold.production.yaml
  - '**/Dockerfile'
  - '**/*.dockerfile'
  - kubernetes/**/*

scripts:
  - bin/**/*

dependencies:
  - '**/package.json'
  - '**/package.lock.json'
  - '**/Cargo.lock'
  - '**/Cargo.toml'
