Repository rage/secret-project-331, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, shared-module, system-tests, cms, course-material, example-exercise, headless-lms, seed, db-migrations, main-frontend, quizzes, tmc, sqlx-data, deployments, scripts, dependencies

chatbots list in settings, the form is functional
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotDialog.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotForm.tsx
Labels: main-frontend

change models, server and db seeding to insert can_add_chatbot field to courses
  services/headless-lms/models/.sqlx/query-ac22b1eea3e25c121362ed2bf3085b1950ff9bd0fb45cc21d11d91234aa1493f.json
  services/headless-lms/models/.sqlx/query-cc2fceb2f75d704b551705f15ffcdae210fce2baf7b9d3612f77b6548a6df68c.json
  services/headless-lms/models/src/chapters.rs
  services/headless-lms/models/src/courses.rs
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/models/src/test_helper.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/server/tests/study_registry_test.rs
Labels: headless-lms, seed

Enhance ErrorBanner component error handling
  shared-module/packages/common/src/components/ErrorBanner.tsx
Labels: shared-module

Use newer icu4x postcard syntax
  kubernetes/dev/headless-lms/env.yml
  kubernetes/test/headless-lms/env.yml
  services/headless-lms/Dockerfile.production.slim.dockerfile
  services/headless-lms/DockerfileDevelopmentBase.dockerfile
  services/headless-lms/DockerfileProductionBase.dockerfile
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/server/tests/integration_test.rs
Labels: headless-lms, deployments

work on chatbot settings page
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotDialog.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotForm.tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/index.tsx
  services/main-frontend/src/services/backend/courses/chatbots.ts
Labels: main-frontend

can get chatbot to settings page
  services/headless-lms/models/src/chatbot_configurations.rs
  services/headless-lms/server/src/controllers/main_frontend/chatbots.rs
  services/headless-lms/server/src/controllers/main_frontend/mod.rs
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
  services/main-frontend/src/services/backend/courses/chatbots.ts
Labels: headless-lms, main-frontend

Use icu4x postcard newer syntax
  services/headless-lms/DockerfileDevelopmentBase.dockerfile
Labels: headless-lms, deployments

Update snapshots
  system-tests/src/__screenshots__/certificates/generate-certificate.test.ts/generated-certificate-desktop-regular.png
  system-tests/src/__screenshots__/certificates/generate-certificate.test.ts/generated-certificate-mobile-tall.png
Labels: system-tests

Fixes
  services/headless-lms/server/src/lib.rs
  shared-module/packages/common/package.json
Labels: shared-module, headless-lms, dependencies

Unit test fix
  services/quizzes/jest.config.js
  services/quizzes/tests/setup-jest.js
Labels: quizzes

work on chatbot settings page
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotForm.tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
Labels: shared-module, main-frontend

Update dependencies for repo root
  package-lock.json
  package.json
Labels: root, dependencies

npm audit for repo root
  package-lock.json
Labels: root

Update dependencies for system-tests
  system-tests/package-lock.json
  system-tests/package.json
Labels: system-tests, dependencies

Update dependencies for cms
  services/cms/package-lock.json
  services/cms/package.json
Labels: cms, dependencies

npm audit for cms
  services/cms/package-lock.json
Labels: cms

Update dependencies for course-material
  services/course-material/package-lock.json
  services/course-material/package.json
Labels: course-material, dependencies

npm audit for course-material
  services/course-material/package-lock.json
Labels: course-material

Update dependencies for example-exercise
  services/example-exercise/package-lock.json
  services/example-exercise/package.json
Labels: example-exercise, dependencies

npm audit for example-exercise
  services/example-exercise/package-lock.json
Labels: example-exercise

Update dependencies for main-frontend
  services/main-frontend/package-lock.json
  services/main-frontend/package.json
Labels: main-frontend, dependencies

npm audit for main-frontend
  services/main-frontend/package-lock.json
Labels: main-frontend

Update dependencies for quizzes
  services/quizzes/package-lock.json
  services/quizzes/package.json
Labels: quizzes, dependencies

npm audit for quizzes
  services/quizzes/package-lock.json
Labels: quizzes

Update dependencies for tmc
  services/tmc/package-lock.json
  services/tmc/package.json
Labels: tmc, dependencies

npm audit for tmc
  services/tmc/package-lock.json
Labels: tmc

Update dependencies for shared-module
  shared-module/package-lock.json
  shared-module/package.json
Labels: shared-module, dependencies

Update dependencies for shared-module/common
  shared-module/packages/common/package-lock.json
  shared-module/packages/common/package.json
Labels: shared-module, dependencies

npm audit for shared-module/common
  shared-module/packages/common/package-lock.json
Labels: shared-module

Update rust deps
  services/headless-lms/Cargo.lock
  services/headless-lms/chatbot/Cargo.toml
  services/headless-lms/doc-macro/Cargo.toml
  services/headless-lms/models/Cargo.toml
  services/headless-lms/server/Cargo.toml
  services/headless-lms/utils/Cargo.toml
Labels: headless-lms, dependencies

Update snapshots
  system-tests/src/__screenshots__/automatic-completion.spec.ts/automatic-completion-congratulations-card-mobile-tall.png
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-mobile-tall.png
  system-tests/src/__screenshots__/latex.spec.ts/latex-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-filled-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-initial-desktop-regular.png
Labels: system-tests

Refactor error handling in validateFile tests to use toThrow()
  shared-module/packages/common/tests/utils/files.test.ts
Labels: shared-module

Fix test assertions in useStateQuery hook tests to use toHaveBeenCalled()
  shared-module/packages/common/tests/hooks/useStateQuery.test.tsx
Labels: shared-module

chatbot name can be editet from settings page
  services/headless-lms/models/.sqlx/query-35c000b9236c9c551a3c8b62e11b061a15fc252c4ce0aa656d8126ebc78b33ce.json
  services/headless-lms/models/src/chatbot_configurations.rs
  services/headless-lms/server/src/controllers/main_frontend/chatbots.rs
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
  services/main-frontend/src/services/backend/courses/chatbots.ts
Labels: headless-lms, main-frontend

remove cancel button
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
Labels: main-frontend

fixing routing, cancel, sorting chatbots
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotDialog.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotForm.tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
Labels: main-frontend

all settings can be saved to db
  services/headless-lms/models/.sqlx/query-d2531d80fd44f397ae919987d6a8393dcd36b41901522fbf79693b3a270355ba.json
  services/headless-lms/models/src/chatbot_configurations.rs
  services/headless-lms/server/src/controllers/main_frontend/courses/chatbots.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotDialog.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotForm.tsx
  services/main-frontend/src/services/backend/courses/chatbots.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
Labels: shared-module, headless-lms, main-frontend

form validation and nicer code
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
Labels: shared-module, main-frontend

System test fixes
  system-tests/src/tests/exams/grade-exams-manually.spec.ts
  system-tests/src/tests/join-course-only-by-code.spec.ts
Labels: system-tests

chatbots can be deleted
  services/headless-lms/models/.sqlx/query-4fd8e71d15e1cc28410715d6b1134e62f3eab9649933dfe28af2e2e09221e5cd.json
  services/headless-lms/models/src/chatbot_configurations.rs
  services/headless-lms/server/src/controllers/main_frontend/chatbots.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
  services/main-frontend/src/services/backend/chatbots.ts
  services/main-frontend/src/services/backend/courses/chatbots.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
Labels: shared-module, headless-lms, main-frontend

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

shared-module:
  - changed-files:
      - any-glob-to-any-file: "shared-module/**/*"

system-tests:
  - changed-files:
      - any-glob-to-any-file: "system-tests/**/*"

cms:
  - changed-files:
      - any-glob-to-any-file: "services/cms/**/*"

course-material:
  - changed-files:
      - any-glob-to-any-file: "services/course-material/**/*"

example-exercise:
  - changed-files:
      - any-glob-to-any-file: "services/example-exercise/**/*"

headless-lms:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/**/*"

seed:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/server/src/programs/seed/**/*"

db-migrations:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/migrations/**/*"

main-frontend:
  - changed-files:
      - any-glob-to-any-file: "services/main-frontend/**/*"

quizzes:
  - changed-files:
      - any-glob-to-any-file: "services/quizzes/**/*"

tmc:
  - changed-files:
      - any-glob-to-any-file: "services/tmc/**/*"

sqlx-data:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/models/sqlx-data.json"

deployments:
  - changed-files:
      - any-glob-to-any-file: "skaffold.yaml"
      - any-glob-to-any-file: "skaffold.production.yaml"
      - any-glob-to-any-file: "**/Dockerfile"
      - any-glob-to-any-file: "**/*.dockerfile"
      - any-glob-to-any-file: "kubernetes/**/*"

scripts:
  - changed-files:
      - any-glob-to-any-file: "bin/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/package.json"
      - any-glob-to-any-file: "**/package.lock.json"
      - any-glob-to-any-file: "**/Cargo.lock"
      - any-glob-to-any-file: "**/Cargo.toml"
