Repository rage/secret-project-331, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, shared-module, system-tests, cms, course-material, example-exercise, headless-lms, seed, db-migrations, main-frontend, quizzes, tmc, sqlx-data, deployments, scripts, dependencies

work on popper content
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

Fix tests
  services/headless-lms/server/src/controllers/main_frontend/exercise_services.rs
  services/headless-lms/server/src/domain/models_requests.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/src/components/page-specific/manage/exercise-services/ExerciseServiceCard.tsx
  services/main-frontend/src/pages/manage/exercise-services/index.tsx
  services/main-frontend/src/services/backend/exercise-services.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  system-tests/src/tests/exercise-service.spec.ts
Labels: shared-module, system-tests, headless-lms, main-frontend

in progress save to git
  services/headless-lms/Cargo.lock
  services/headless-lms/migrations/20250717102642_oauth-with-oicd-tables.down.sql
  services/headless-lms/migrations/20250717102642_oauth-with-oicd-tables.up.sql
  services/headless-lms/models/.sqlx/query-3a64855c8e7ee1816e593a639c28ea5255449f54df85303a678d04048b6e5342.json
  services/headless-lms/models/.sqlx/query-4a5651a377cb3e64d4351a7f00b0310d3ffd4a024606f69dc5489a1b090d0fe5.json
  services/headless-lms/models/.sqlx/query-647b5e258b4d34874ab6a8093d37c01aa4cc942ee411c748c878b56f85b27b06.json
  services/headless-lms/models/.sqlx/query-6b2bb0b1da580fc0b5b2d47e4bd78b35b8182a41f58dbec70c03dc2c391651b6.json
  services/headless-lms/models/.sqlx/query-af37f1e09cb172c400aefb490f58e926a2d22400256c0ab090e6e3ca9d40f4d3.json
  services/headless-lms/models/.sqlx/query-c647541d0cebc809a2fa7f5ca7a8b93817432b725a421a3f55dd9134d309f065.json
  services/headless-lms/models/.sqlx/query-c83adca4b13f619167439ae64a474985a4c78deb7870f5c94ff42c65f5181687.json
  services/headless-lms/models/.sqlx/query-ccfadb61895a4e6757c40d318dce4516942594f5ef8dcd3fa728148f47d13a07.json
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/oauth_access_token.rs
  services/headless-lms/models/src/oauth_refresh_tokens.rs
  services/headless-lms/models/src/oauth_user_client_scopes.rs
  services/headless-lms/server/Cargo.toml
  services/headless-lms/server/src/controllers/main_frontend/oauth/oauth_with_oicd.rs
Labels: headless-lms, db-migrations, dependencies

Make tests more consistent
  bin/test
  system-tests/src/__screenshots__/manage-course-structure.spec.ts/manage-course-structure-middle-of-the-page-desktop-regular.png
  system-tests/src/__screenshots__/manage-course-structure.spec.ts/manage-course-structure-middle-of-the-page-mobile-tall.png
  system-tests/src/tests/manage-course-structure.spec.ts
  system-tests/src/tests/reset-exercises.spec.ts
Labels: system-tests, scripts

Improve test stability
  services/headless-lms/server/src/programs/regrader.rs
  system-tests/src/tests/add-user-country.spec.ts
Labels: system-tests, headless-lms

Nit
  services/headless-lms/server/src/programs/regrader.rs
Labels: headless-lms

Fix test bug
  system-tests/src/tests/add-user-country.spec.ts
Labels: system-tests

backup with test based on hidden
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  services/main-frontend/src/styles/sharedStyles.tsx
  system-tests/src/tests/manage-organizations/change-user-permissions.spec.ts
Labels: system-tests, main-frontend

backup with test based on hidden
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  services/main-frontend/src/styles/sharedStyles.tsx
  system-tests/src/tests/manage-organizations/change-user-permissions.spec.ts
Labels: system-tests, main-frontend

Removed hard delete and remade it as soft delete, also remade test to work with it as it was broken in test mode
  services/headless-lms/models/.sqlx/query-0323e3b378f1c3c3922259d60e7191b813614b2317e1cda0bf7e2e472a56b056.json
  services/headless-lms/models/src/organizations.rs
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  system-tests/src/tests/manage-organizations/change-user-permissions.spec.ts
Labels: system-tests, headless-lms, main-frontend

Removed hard delete and remade it as soft delete, also remade test to work with it as it was broken in test mode
  services/headless-lms/models/.sqlx/query-0323e3b378f1c3c3922259d60e7191b813614b2317e1cda0bf7e2e472a56b056.json
  services/headless-lms/models/src/organizations.rs
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/main-frontend/src/pages/manage/organizations/[id]/index.tsx
  system-tests/src/tests/manage-organizations/change-user-permissions.spec.ts
Labels: system-tests, headless-lms, main-frontend

work on popper content
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

move popover to its own file and common styles to a styles file
  services/course-material/src/components/chatbot/CitationPopover.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
  services/course-material/src/components/chatbot/styles.ts
Labels: course-material

impove accessinility, popover is a dialog role that can be escaped with esc
  services/course-material/src/components/chatbot/CitationPopover.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
  services/course-material/src/components/chatbot/styles.ts
Labels: course-material

render popover md
  services/course-material/src/components/chatbot/CitationPopover.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

commit before big change
  services/course-material/src/components/chatbot/CitationPopover.tsx
Labels: course-material

fix a typo in older code, referenceElement -> popperElement
  services/course-material/src/components/FeedbackTooltip.tsx
Labels: course-material

popover doesn't use SpeechBalloon and has cool moving arrow, improve expand button and clean up css
  services/course-material/src/components/chatbot/CitationPopover.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
  services/course-material/src/components/chatbot/styles.ts
Labels: course-material

Admins can now see hidden organizations with visual indicators
  services/headless-lms/models/.sqlx/query-3bf69fad6a36a6ecfd46cebad0999d2a51fa732d9750cde4d8ad004b69cfec3a.json
  services/headless-lms/models/src/organizations.rs
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/main-frontend/src/components/page-specific/organizations/index/components/OrganizationBanner.tsx
  system-tests/src/tests/manage-organizations/create-edit-delete-organization.spec.ts
Labels: system-tests, headless-lms, main-frontend

Admins can now see hidden organizations with visual indicators
  services/headless-lms/models/.sqlx/query-3bf69fad6a36a6ecfd46cebad0999d2a51fa732d9750cde4d8ad004b69cfec3a.json
  services/headless-lms/models/src/organizations.rs
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/main-frontend/src/components/page-specific/organizations/index/components/OrganizationBanner.tsx
  system-tests/src/tests/manage-organizations/create-edit-delete-organization.spec.ts
Labels: system-tests, headless-lms, main-frontend

improve tabbability
  services/course-material/src/components/chatbot/CitationPopover.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

slower popover
  services/course-material/src/components/chatbot/MessageBubble.tsx
Labels: course-material

remove prints
  services/headless-lms/chatbot/src/azure_chatbot.rs
Labels: headless-lms

fix
  services/headless-lms/chatbot/src/azure_chatbot.rs
Labels: headless-lms

add aria live region to notify about new messages from chatbot
  services/course-material/src/components/chatbot/ChatbotDialogBody.tsx
  shared-module/packages/common/src/locales/en/course-material.json
  shared-module/packages/common/src/locales/fi/course-material.json
Labels: shared-module, course-material

fix panic o nempty strings
  services/headless-lms/chatbot/src/azure_chatbot.rs
Labels: headless-lms

new doc content
  docs/frontend.md
  docs/headless-lms.md
Labels: docs

fix typos
  docs/frontend.md
Labels: docs

fix
  services/course-material/src/components/chatbot/MessageBubble.tsx
  services/headless-lms/chatbot/src/azure_chatbot.rs
Labels: course-material, headless-lms

Update dependencies for repo root
  package-lock.json
  package.json
Labels: root, dependencies

Update dependencies for system-tests
  system-tests/package-lock.json
  system-tests/package.json
Labels: system-tests, dependencies

Update dependencies for cms
  services/cms/package-lock.json
  services/cms/package.json
Labels: cms, dependencies

npm audit for cms
  services/cms/package-lock.json
Labels: cms

Update dependencies for course-material
  services/course-material/package-lock.json
  services/course-material/package.json
Labels: course-material, dependencies

Update dependencies for example-exercise
  services/example-exercise/package-lock.json
  services/example-exercise/package.json
Labels: example-exercise, dependencies

stuff
  services/headless-lms/utils/src/lib.rs
Labels: headless-lms

Update dependencies for main-frontend
  services/main-frontend/package-lock.json
  services/main-frontend/package.json
Labels: main-frontend, dependencies

Update dependencies for quizzes
  services/quizzes/package-lock.json
  services/quizzes/package.json
Labels: quizzes, dependencies

Update dependencies for tmc
  services/tmc/package-lock.json
  services/tmc/package.json
Labels: tmc, dependencies

Update dependencies for shared-module
  shared-module/package-lock.json
  shared-module/package.json
Labels: shared-module, dependencies

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

shared-module:
  - changed-files:
      - any-glob-to-any-file: "shared-module/**/*"

system-tests:
  - changed-files:
      - any-glob-to-any-file: "system-tests/**/*"

cms:
  - changed-files:
      - any-glob-to-any-file: "services/cms/**/*"

course-material:
  - changed-files:
      - any-glob-to-any-file: "services/course-material/**/*"

example-exercise:
  - changed-files:
      - any-glob-to-any-file: "services/example-exercise/**/*"

headless-lms:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/**/*"

seed:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/server/src/programs/seed/**/*"

db-migrations:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/migrations/**/*"

main-frontend:
  - changed-files:
      - any-glob-to-any-file: "services/main-frontend/**/*"

quizzes:
  - changed-files:
      - any-glob-to-any-file: "services/quizzes/**/*"

tmc:
  - changed-files:
      - any-glob-to-any-file: "services/tmc/**/*"

sqlx-data:
  - changed-files:
      - any-glob-to-any-file: "services/headless-lms/models/sqlx-data.json"

deployments:
  - changed-files:
      - any-glob-to-any-file: "skaffold.yaml"
      - any-glob-to-any-file: "skaffold.production.yaml"
      - any-glob-to-any-file: "**/Dockerfile"
      - any-glob-to-any-file: "**/*.dockerfile"
      - any-glob-to-any-file: "kubernetes/**/*"

scripts:
  - changed-files:
      - any-glob-to-any-file: "bin/**/*"

dependencies:
  - changed-files:
      - any-glob-to-any-file: "**/package.json"
      - any-glob-to-any-file: "**/package.lock.json"
      - any-glob-to-any-file: "**/Cargo.lock"
      - any-glob-to-any-file: "**/Cargo.toml"
