Repository rage/secret-project-331, pull requests merged in 2022-12, with the labels that each got.

#1027 Exam requirements
  services/course-material/src/components/exams/ExamStartBanner.tsx
  services/course-material/src/pages/[organizationSlug]/exams/[id].tsx
  services/headless-lms/migrations/20221104152440_add_automatic_completion_requires_exam.down.sql
  services/headless-lms/migrations/20221104152440_add_automatic_completion_requires_exam.up.sql
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/course_exams.rs
  services/headless-lms/models/src/course_modules.rs
  services/headless-lms/models/src/exams.rs
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/library/content_management.rs
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/models/src/library/progressing.rs
  services/headless-lms/models/src/pages.rs
  services/headless-lms/models/src/test_helper.rs
  services/headless-lms/models/src/user_course_settings.rs
  services/headless-lms/models/src/user_exercise_states.rs
  services/headless-lms/server/generated-docs/CourseInstanceCompletionSummary.json
  services/headless-lms/server/generated-docs/Exam.json
  services/headless-lms/server/generated-docs/Exam.ts
  services/headless-lms/server/generated-docs/ExamData.json
  services/headless-lms/server/generated-docs/Vec<OrgExam>.json
  services/headless-lms/server/generated-docs/Vec<OrgExam>.ts
  services/headless-lms/server/src/controllers/course_material/exams.rs
  services/headless-lms/server/src/controllers/main_frontend/exams.rs
  services/headless-lms/server/src/programs/doc_file_generator/mod.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_helpers.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/src/components/forms/NewExamForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/CourseModules.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/EditCourseModuleForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/NewCourseModuleForm.tsx
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/locales/en/course-material.json
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/course-material.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/tests/course-list.spec.ts-snapshots/course-listing-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-saving-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-saving-small-desktop-chromium-linux.png
  system-tests/src/tests/exam-list.spec.ts
  system-tests/src/tests/exam-list.spec.ts-snapshots/create-exam-dialog-filled-mobile-chromium-linux.png
  system-tests/src/tests/exam-list.spec.ts-snapshots/create-exam-dialog-filled-small-desktop-chromium-linux.png
  system-tests/src/tests/exam-list.spec.ts-snapshots/create-exam-dialog-mobile-chromium-linux.png
  system-tests/src/tests/exam-list.spec.ts-snapshots/create-exam-dialog-small-desktop-chromium-linux.png
  system-tests/src/tests/exam-list.spec.ts-snapshots/exam-listing-mobile-chromium-linux.png
  system-tests/src/tests/exam-list.spec.ts-snapshots/exam-listing-small-desktop-chromium-linux.png
  system-tests/src/tests/exams/exam-with-automatic-eligibility.spec.ts
  system-tests/src/tests/exams/exam-with-automatic-eligibility.spec.ts-snapshots/can-take-exam-after-meeting-exercise-requirements-mobile-chromium-linux.png
  system-tests/src/tests/exams/exam-with-automatic-eligibility.spec.ts-snapshots/can-take-exam-after-meeting-exercise-requirements-small-desktop-chromium-linux.png
  system-tests/src/tests/exams/exam-with-automatic-eligibility.spec.ts-snapshots/cant-take-exam-before-meeting-exercise-requirements-mobile-chromium-linux.png
  system-tests/src/tests/exams/exam-with-automatic-eligibility.spec.ts-snapshots/cant-take-exam-before-meeting-exercise-requirements-small-desktop-chromium-linux.png
Labels: shared-module, system-tests, course-material, headless-lms, main-frontend, db-migrations

#1046 Fix broken ChapterFrontPageURL in NextSectionLink
  shared-module/src/components/CourseProgress/ProgressBar.tsx
  shared-module/src/components/NextSectionLink.tsx
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-mobile-chromium-linux.png
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-small-desktop-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/citation-paragraph-mobile-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/citation-paragraph-small-desktop-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/closed-course-material-reference-list-mobile-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/closed-course-material-reference-list-small-desktop-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/open-course-material-reference-list-mobile-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/open-course-material-reference-list-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-correct-answer-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-correct-answer-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-incorrect-answer-after-correct-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts-snapshots/clickable-multiple-choice-incorrect-answer-after-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-correct-answer-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-correct-answer-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-incorrect-answer-after-correct-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/multiple-choice-dropdown.spec.ts-snapshots/multiple-choice-dropdown-feedback-incorrect-answer-after-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/open.spec.ts-snapshots/open-feedback-correct-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/open.spec.ts-snapshots/open-feedback-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/scale.spec.ts-snapshots/scale-feedback-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/scale.spec.ts-snapshots/scale-feedback-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/timeline.spec.ts-snapshots/timeline-initial-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-correct-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-incorrect-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-incorrect-with-model-solution-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-filled-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-filled-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-initial-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-initial-small-desktop-chromium-linux.png
Labels: shared-module, system-tests

#1047 Export course completions as CSV file
  services/headless-lms/server/src/controllers/main_frontend/course_instances.rs
  services/headless-lms/server/src/domain/csv_export.rs
  services/main-frontend/src/components/page-specific/manage/course-instances/id/UserCompletionRow.tsx
  services/main-frontend/src/components/page-specific/manage/course-instances/id/completions/CompletionsExportButton.tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/completions.tsx
  shared-module/src/locales/en/main-frontend.json
  system-tests/src/tests/automatic-completion.spec.ts
  system-tests/src/tests/course-instance-management/add-completions.spec.ts
  system-tests/src/tests/course-instance-management/add-completions.spec.ts-snapshots/manual-completion-after-posting-completions-mobile-chromium-linux.png
  system-tests/src/tests/creating-course-and-returning-an-exercise.spec.ts
  system-tests/src/utils/download.ts
Labels: shared-module, system-tests, headless-lms, main-frontend

#1037 Course memory support suggestion
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/PeerReviewView/PeerReviewViewImpl.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/index.tsx
  services/course-material/src/reducers/exerciseBlockPostThisStateToIFrameReducer.ts
  services/example-exercise/src/pages/api/grade.ts
  services/example-exercise/src/pages/iframe.tsx
  services/headless-lms/migrations/20221012061634_add_user_course_exercise_service_variable.down.sql
  services/headless-lms/migrations/20221012061634_add_user_course_exercise_service_variable.up.sql
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/exercise_task_gradings.rs
  services/headless-lms/models/src/exercises.rs
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/library/grading.rs
  services/headless-lms/models/src/library/regrading.rs
  services/headless-lms/models/src/user_course_instance_exercise_service_variables.rs
  services/headless-lms/server/generated-docs/CourseMaterialExercise.json
  services/headless-lms/server/generated-docs/CourseMaterialExercise.ts
  services/headless-lms/server/generated-docs/StudentExerciseSlideSubmissionResult.json
  services/headless-lms/server/generated-docs/StudentExerciseSlideSubmissionResult.ts
  services/headless-lms/server/generated-docs/StudentExerciseTaskSubmissionResult.json
  services/headless-lms/server/generated-docs/StudentExerciseTaskSubmissionResult.ts
  services/headless-lms/server/generated-docs/Vec<StudentExerciseTaskSubmissionResult>.json
  services/headless-lms/server/generated-docs/Vec<StudentExerciseTaskSubmissionResult>.ts
  services/headless-lms/server/src/domain/csv_export.rs
  services/headless-lms/server/src/programs/doc_file_generator/mod.rs
  services/headless-lms/server/src/programs/seed/seed_helpers.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundExerciseIframe.tsx
  services/main-frontend/src/components/page-specific/submissions/id/SubmissionIFrame.tsx
  services/quizzes/src/pages/iframe.tsx
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/exercise-service-protocol-types-2.ts
  shared-module/src/exercise-service-protocol-types.guard.ts
  shared-module/src/exercise-service-protocol-types.ts
  shared-module/src/hooks/useExerciseServiceParentConnection.tsx
  shared-module/src/locales/en/course-material.json
Labels: quizzes, shared-module, course-material, headless-lms, example-exercise, main-frontend, db-migrations, sqlx-data

#1052 Completions fix
  services/headless-lms/models/src/course_modules.rs
Labels: headless-lms

#1054 Show peer reviews with answers requiring attention
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/exercise_slide_submissions.rs
  services/headless-lms/models/src/library/grading.rs
  services/headless-lms/models/src/peer_review_question_submissions.rs
  services/headless-lms/server/generated-docs/AnswersRequiringAttention.json
  services/headless-lms/server/generated-docs/CourseMaterialExercise.json
  services/headless-lms/server/src/controllers/main_frontend/exercises.rs
  services/headless-lms/server/src/programs/doc_file_generator/mod.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/src/components/page-specific/manage/exercises/id/submissions/AnswersRequiringAttentionItem.tsx
  services/main-frontend/src/components/page-specific/manage/exercises/id/submissions/PeerReviewAccordion.tsx
  services/main-frontend/src/pages/manage/exercises/[id]/answers-requiring-attention.tsx
  services/main-frontend/src/services/backend/answers-requiring-attention.ts
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/components/PeerReview/LikertScale.tsx
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/main-frontend.json
Labels: shared-module, headless-lms, main-frontend, sqlx-data

#1056 Ended exams processor
  kubernetes/base/headless-lms/ended-exams-processor.yml
  kubernetes/base/kustomization.yaml
  kubernetes/production/headless-lms/patch-ended-exams-processor.yml
  kubernetes/production/kustomization.yaml
  services/headless-lms/entrypoint/src/main.rs
  services/headless-lms/migrations/20221216125414_add_ended_processed_exams.down.sql
  services/headless-lms/migrations/20221216125414_add_ended_processed_exams.up.sql
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/ended_processed_exams.rs
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/library/progressing.rs
  services/headless-lms/server/src/programs/ended_exams_processor.rs
  services/headless-lms/server/src/programs/mod.rs
Labels: headless-lms, db-migrations, sqlx-data, deployments

#1058 Quizzes: separate item feedback
  services/quizzes/src/components/ViewSubmission.tsx
  system-tests/src/tests/quizzes/feedback/vector.spec.ts
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-incorrect-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-incorrect-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-incorrect-with-model-solution-mobile-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/vector.spec.ts-snapshots/vector-feedback-incorrect-with-model-solution-small-desktop-chromium-linux.png
Labels: quizzes, system-tests
