Repository rage/secret-project-331, pull requests merged in 2023-02, with the labels that each got.

#1068 Exercise list fix
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseInChapterBlock/ChapterExerciseListGroupedByPage.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseInChapterBlock/index.tsx
  shared-module/src/components/ExerciseList/PageBox.tsx
  shared-module/src/components/Footer.tsx
  shared-module/src/components/PagesInChapterBox.tsx
  shared-module/src/img/blackArrow.svg
  system-tests/src/tests/course-instance-management/add-completions.spec.ts-snapshots/manual-completion-after-posting-completions-mobile-chromium-linux.png
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-mobile-chromium-linux.png
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-creating-new-module-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-creating-new-module-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-deletion-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-deletion-reset-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-deletion-reset-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-deletion-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-last-update-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-last-update-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-saving-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-saving-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-second-deletion-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-second-deletion-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-updating-new-module-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-updating-new-module-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/initial-module-management-page-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/initial-module-management-page-small-desktop-chromium-linux.png
  system-tests/src/tests/default-peer-review-editing.spec.ts-snapshots/default-peer-review-editor-after-save-small-desktop-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/citation-in-editor-mobile-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/citation-in-editor-small-desktop-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/closed-course-material-reference-list-mobile-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/closed-course-material-reference-list-small-desktop-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/open-course-material-reference-list-small-desktop-chromium-linux.png
  system-tests/src/tests/point-view/point-view.spec.ts-snapshots/point-view-bottom-small-desktop-chromium-linux.png
Labels: shared-module, system-tests, course-material

#1062 TMC progress
  bin/download-tmc-langs
  bin/generate-bindings
  kubernetes/base/tmc/deployment.yml
  kubernetes/dev/kustomization.yaml
  kubernetes/dev/tmc-service-account.yml
  kubernetes/production/kustomization.yaml
  kubernetes/production/tmc-service-account.yml
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/exercise_slides.rs
  services/headless-lms/models/src/exercise_task_gradings.rs
  services/headless-lms/models/src/library/regrading.rs
  services/headless-lms/models/src/repository_exercises.rs
  services/headless-lms/server/src/controllers/course_material/exercises.rs
  services/headless-lms/server/src/controllers/exercise_services/grading.rs
  services/headless-lms/server/src/controllers/exercise_services/mod.rs
  services/headless-lms/server/src/controllers/mod.rs
  services/headless-lms/server/src/domain/csv_export.rs
  services/headless-lms/server/src/domain/models_requests.rs
  services/headless-lms/server/src/programs/regrader.rs
  services/main-frontend/src/pages/playground-views.tsx
  services/tmc/package-lock.json
  services/tmc/package.json
  services/tmc/src/components/AnswerExercise.tsx
  services/tmc/src/components/StateRenderer.tsx
  services/tmc/src/lib.ts
  services/tmc/src/pages/api/grade.ts
  services/tmc/src/tmc/cli.d.ts
  services/tmc/src/tmc/cli.guard.ts
  services/tmc/src/tmc/generated.d.ts
  services/tmc/src/tmc/generated.guard.ts
  services/tmc/src/tmc/langs.ts
  services/tmc/tmc-langs-version
  shared-module/src/exercise-service-protocol-types-2.ts
  shared-module/src/utils/exerciseServices.ts
Labels: dependencies, shared-module, headless-lms, main-frontend, tmc, sqlx-data, deployments, scripts

#1079 Update Pullquote component
  services/cms/src/blocks/InstructionBox/InstructionBoxEditor.tsx
  services/cms/src/blocks/InstructionBox/InstructionBoxSave.tsx
  services/cms/src/blocks/InstructionBox/index.tsx
  services/cms/src/blocks/index.tsx
  services/course-material/src/components/ContentRenderer/core/formatting/PullquoteBlock.tsx
  services/course-material/src/components/ContentRenderer/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/InstructionBox.tsx
  services/course-material/src/components/ContentRenderer/moocfi/LearningObjectiveBlock.tsx
  shared-module/src/components/CourseObjective/index.tsx
  system-tests/src/tests/automatic-completion.spec.ts-snapshots/automatic-completion-congratulations-card-small-desktop-chromium-linux.png
  system-tests/src/tests/course-instance-management/add-completions.spec.ts-snapshots/manual-completion-after-posting-completions-small-desktop-chromium-linux.png
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-mobile-chromium-linux.png
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-small-desktop-chromium-linux.png
  system-tests/src/tests/course-material/find-hidden-page.spec.ts-snapshots/top-level-pages-list-mobile-chromium-linux.png
  system-tests/src/tests/course-material/find-hidden-page.spec.ts-snapshots/top-level-pages-list-small-desktop-chromium-linux.png
  system-tests/src/tests/query-mutation-notifications/error-notification.spec.ts-snapshots/error-notification-test-small-desktop-chromium-linux.png
  system-tests/src/tests/query-mutation-notifications/success-notification.spec.ts-snapshots/success-notification-test-small-desktop-chromium-linux.png
Labels: shared-module, system-tests, course-material, cms

#1081 Test fixes
  system-tests/src/tests/course-material/find-hidden-page.spec.ts
  system-tests/src/tests/course-material/find-hidden-page.spec.ts-snapshots/top-level-pages-list-mobile-chromium-linux.png
  system-tests/src/tests/proposed-edits/proposed-edits.spec.ts
  system-tests/src/tests/proposed-edits/proposed-edits.spec.ts-snapshots/after-changes-mobile-chromium-linux.png
  system-tests/src/tests/proposed-edits/proposed-edits.spec.ts-snapshots/after-changes-small-desktop-chromium-linux.png
  system-tests/src/tests/proposed-edits/proposed-edits.spec.ts-snapshots/manage-after-send-mobile-chromium-linux.png
  system-tests/src/tests/proposed-edits/proposed-edits.spec.ts-snapshots/manage-after-send-small-desktop-chromium-linux.png
  system-tests/src/tests/proposed-edits/proposed-edits.spec.ts-snapshots/manage-old-after-send-mobile-chromium-linux.png
  system-tests/src/tests/proposed-edits/proposed-edits.spec.ts-snapshots/manage-old-after-send-small-desktop-chromium-linux.png
Labels: system-tests
