Repository rage/secret-project-331, pull requests merged in 2023-05, with the labels that each got.

#1113 Column render fix
  services/course-material/src/components/ContentRenderer/moocfi/CourseObjective/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CourseObjectiveSectionBlock.tsx
Labels: course-material

#1115 Refactor pools to conns in file uploading
  services/headless-lms/server/src/controllers/cms/courses.rs
  services/headless-lms/server/src/controllers/cms/exams.rs
  services/headless-lms/server/src/controllers/cms/organizations.rs
  services/headless-lms/server/src/controllers/helpers/file_uploading.rs
  services/headless-lms/server/src/controllers/main_frontend/chapters.rs
  services/headless-lms/server/src/controllers/main_frontend/courses.rs
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/headless-lms/server/src/controllers/main_frontend/page_audio_files.rs
Labels: headless-lms

#1117 Fix playground-views
  services/main-frontend/src/pages/playground-views.tsx
  system-tests/src/tests/playground-views.test.ts
Labels: system-tests, main-frontend

#1118 Refactor page audio styles
  services/course-material/src/components/ContentRenderer/moocfi/AudioPlayer/Controls.tsx
  services/course-material/src/components/ContentRenderer/moocfi/AudioPlayer/DisplayTrack.tsx
  services/course-material/src/components/ContentRenderer/moocfi/AudioPlayer/ProgressBar.tsx
  services/course-material/src/components/ContentRenderer/moocfi/AudioPlayer/RangeComponentStyle.tsx
  services/course-material/src/components/ContentRenderer/moocfi/AudioPlayer/index.tsx
  services/course-material/src/components/Page.tsx
  services/course-material/src/img/audio-player/audio-speaker.svg
  services/course-material/src/img/audio-player/fast-forward.svg
  services/course-material/src/img/audio-player/high-volume.svg
  services/course-material/src/img/audio-player/low-volume.svg
  services/course-material/src/img/audio-player/med-volume.svg
  services/course-material/src/img/audio-player/mute-volume.svg
  services/course-material/src/img/audio-player/pause.svg
  services/course-material/src/img/audio-player/play.svg
  services/course-material/src/img/audio-player/rewind.svg
  services/course-material/src/img/close.svg
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/PageList/PageAudioWidget.tsx
  shared-module/src/locales/en/course-material.json
Labels: shared-module, course-material, main-frontend

#1120 Edit proposal for deleted block handling
  .vscode/settings.json
  services/headless-lms/models/src/proposed_block_edits.rs
  services/headless-lms/models/src/proposed_page_edits.rs
  services/headless-lms/server/src/controllers/main_frontend/page_audio_files.rs
  services/headless-lms/server/src/programs/doc_file_generator/mod.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/change-request/EditProposalPage.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/change-request/EditProposalView.tsx
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/manage-after-send-desktop-regular.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/manage-after-send-mobile-tall.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/manage-before-send-desktop-regular.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/manage-before-send-mobile-tall.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/manage-initial-desktop-regular.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/manage-initial-mobile-tall.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/manage-old-after-send-desktop-regular.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/manage-old-after-send-mobile-tall.png
Labels: shared-module, system-tests, headless-lms, main-frontend

#1127 Add new role and more info for status summary
  bin/git-restore-screenshots-from-origin-master
  services/headless-lms/migrations/20230526131204_add_role_teaching_and_learning_services.down.sql
  services/headless-lms/migrations/20230526131204_add_role_teaching_and_learning_services.up.sql
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/course_instance_enrollments.rs
  services/headless-lms/models/src/course_module_completions.rs
  services/headless-lms/models/src/library/progressing.rs
  services/headless-lms/models/src/pending_roles.rs
  services/headless-lms/models/src/roles.rs
  services/headless-lms/models/src/users.rs
  services/headless-lms/server/generated-docs/CourseInstanceEnrollmentsInfo.json
  services/headless-lms/server/generated-docs/CourseInstanceEnrollmentsInfo.ts
  services/headless-lms/server/generated-docs/HashMap<String, String>.json
  services/headless-lms/server/generated-docs/Vec<CourseModuleCompletion>.json
  services/headless-lms/server/generated-docs/Vec<CourseModuleCompletion>.ts
  services/headless-lms/server/generated-docs/Vec<PageProposal>.json
  services/headless-lms/server/src/controllers/main_frontend/course_instances.rs
  services/headless-lms/server/src/controllers/main_frontend/courses.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/headless-lms/server/src/controllers/main_frontend/users.rs
  services/headless-lms/server/src/domain/authorization.rs
  services/headless-lms/server/src/programs/doc_file_generator/mod.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/server/src/programs/seed/seed_roles.rs
  services/headless-lms/server/src/programs/seed/seed_users.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/src/components/page-specific/manage/user/id/CourseInstanceEnrollmentsList.tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/course-status-summary-for-user/[user_id].tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/exercise-status-summary-for-user/[user_id].tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/points.tsx
  services/main-frontend/src/pages/manage/search-users.tsx
  services/main-frontend/src/pages/organizations/index.tsx
  services/main-frontend/src/services/backend/course-instances.ts
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/components/Accordion/DetailAccordion.tsx
  shared-module/src/components/DebugModal.tsx
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/__screenshots__/course-material/find-hidden-page.spec.ts/top-level-pages-list-desktop-regular.png
  system-tests/src/__screenshots__/course-material/find-hidden-page.spec.ts/top-level-pages-list-mobile-tall.png
  system-tests/src/__screenshots__/feedback/feedback.spec.ts/feedback-unread-desktop-regular.png
  system-tests/src/__screenshots__/peer-reviews/manual-review-everything.spec.ts/course-status-summary-desktop-regular.png
  system-tests/src/__screenshots__/peer-reviews/manual-review-everything.spec.ts/course-status-summary-mobile-tall.png
  system-tests/src/__screenshots__/peer-reviews/manual-review-everything.spec.ts/exercise-status-summary-desktop-regular.png
  system-tests/src/__screenshots__/peer-reviews/manual-review-everything.spec.ts/exercise-status-summary-mobile-tall.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/after-changes-desktop-regular.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/after-changes-mobile-tall.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/manage-after-send-desktop-regular.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/manage-after-send-mobile-tall.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/manage-before-send-desktop-regular.png
  system-tests/src/__screenshots__/proposed-edits/proposed-edits.spec.ts/manage-before-send-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-correct-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-correct-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-incorrect-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-incorrect-mobile-tall.png
  system-tests/src/setup/global.setup.spec.ts
  system-tests/src/tests/peer-reviews/manual-review-everything.spec.ts
  system-tests/src/tests/search-users.spec.ts
Labels: shared-module, system-tests, headless-lms, main-frontend, db-migrations, sqlx-data, scripts, seed

#1131 Add a healthz endpoint
  services/headless-lms/server/src/controllers/healthz.rs
  services/headless-lms/server/src/controllers/mod.rs
Labels: headless-lms

#1130 Add new role to dropdown
  services/main-frontend/package-lock.json
  services/main-frontend/package.json
  services/main-frontend/src/components/PermissionPage.tsx
  services/main-frontend/src/pages/organizations/index.tsx
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/__screenshots__/organization-list.spec.ts/frontpage-organizations-list-desktop-regular.png
  system-tests/src/__screenshots__/permissions.spec.ts/editing-permission-desktop-regular.png
  system-tests/src/tests/certificates/generate-certificate.test.ts
Labels: dependencies, shared-module, system-tests, main-frontend

#1129 Fixes
  kubernetes/base/headless-lms/deployment.yml
  services/main-frontend/src/pages/manage/course-instances/[id]/certificates.tsx
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/editing-config-desktop-regular.png
  system-tests/src/setup/global.setup.spec.ts
  system-tests/src/utils/login.ts
  system-tests/src/utils/screenshot.ts
Labels: system-tests, main-frontend, deployments
