Repository rage/secret-project-331, pull requests merged in 2023-07, with the labels that each got.

#1160 Improvements to the Map component (Map beta)
  services/course-material/src/components/ContentRenderer/moocfi/Map.tsx
  services/course-material/src/components/ContentRenderer/moocfi/worldMap.svg
  services/course-material/src/components/ContentRenderer/util/Countries.tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/student_countries.rs
  services/headless-lms/server/src/controllers/course_material/courses.rs
  shared-module/src/locales/en/course-material.json
Labels: shared-module, course-material, headless-lms, sqlx-data

#1162 youtube short links bug fix
  services/cms/src/styles/Gutenberg/editor-styles.scss
  services/course-material/src/components/ContentRenderer/core/embeds/variants/YoutubeEmbedBlock.tsx
Labels: course-material, cms

#1159 bug fix for hero section
  services/cms/src/blocks/HeroSection/HeroSectionEditor.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CourseChapterGridBlock/ChapterGrid.tsx
  services/course-material/src/components/ContentRenderer/moocfi/HeroSectionBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/LandingPageHeroSectionBlock.tsx
  services/course-material/src/components/HeroSection.tsx
  services/course-material/src/components/LandingPageHeroSection.tsx
  shared-module/stories/HeroSection.stories.tsx
Labels: shared-module, course-material, cms

#1165 Improve seed structure
  services/headless-lms/Cargo.lock
  services/headless-lms/entrypoint/Cargo.toml
  services/headless-lms/entrypoint/src/main.rs
  services/headless-lms/server/src/programs/seed/mod.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_helpers.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/utils/src/futures.rs
  system-tests/src/setup/globalSetup.ts
Labels: dependencies, system-tests, headless-lms, seed

#1166 Fixes for the IOT course
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/course_instances.rs
  services/headless-lms/models/src/pages.rs
  services/headless-lms/models/src/url_redirections.rs
  services/headless-lms/server/src/controllers/main_frontend/courses.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/index/ManageCourse.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/ManageCourseStructure.tsx
  services/main-frontend/src/services/backend/courses.ts
  services/quizzes/src/components/QuizEditForms/QuizItem/MultipleChoiceContent/MultipleChoiceButton.tsx
  services/quizzes/src/components/QuizEditForms/QuizItem/MultipleChoiceContent/MultipleChoiceModalContent.tsx
  shared-module/src/locales/en/course-material.json
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/en/quizzes.json
  shared-module/src/locales/fi/main-frontend.json
  shared-module/src/locales/fi/quizzes.json
  system-tests/src/tests/add-regrading.spec.ts
  system-tests/src/tests/cms/converting-blocks.spec.ts
  system-tests/src/tests/history/history.spec.ts
  system-tests/src/tests/manage-course-structure.spec.ts
  system-tests/src/tests/teacher-resetting-their-own-progress.spec.ts
Labels: quizzes, shared-module, system-tests, headless-lms, main-frontend, sqlx-data, seed

#1164 Research consent form
  services/course-material/src/components/navigation/UserNavigationControls.tsx
  services/headless-lms/migrations/20230707103238_add_user_reasearch_consent_table.down.sql
  services/headless-lms/migrations/20230707103238_add_user_reasearch_consent_table.up.sql
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/user_research_consents.rs
  services/headless-lms/models/src/users.rs
  services/headless-lms/server/src/controllers/main_frontend/users.rs
  services/headless-lms/server/src/programs/seed/mod.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/server/src/programs/seed/seed_user_research_consents.rs
  services/headless-lms/server/src/programs/seed/seed_users.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/next.config.js
  services/main-frontend/package-lock.json
  services/main-frontend/package.json
  services/main-frontend/src/components/forms/ResearchOnCoursesForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/language-versions/CourseLanguageVersionsList.tsx
  services/main-frontend/src/components/page-specific/manage/exercises/id/submissions/ExerciseSubmissionList.tsx
  services/main-frontend/src/hooks/useUserResearchConsentQuery.tsx
  services/main-frontend/src/pages/login.tsx
  services/main-frontend/src/pages/signup.tsx
  services/main-frontend/src/pages/user-settings.tsx
  services/main-frontend/src/services/backend/users.ts
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/img/link.svg
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/en/shared-module.json
  shared-module/src/locales/fi/main-frontend.json
  shared-module/src/locales/fi/shared-module.json
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-eng-to-fi-desktop-regular.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-eng-to-fi-mobile-tall.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-fi-to-eng-desktop-regular.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-fi-to-eng-mobile-tall.png
  system-tests/src/__screenshots__/user-research-consent.spec.ts/research-consent-form-desktop-regular.png
  system-tests/src/__screenshots__/user-research-consent.spec.ts/research-consent-form-mobile-tall.png
  system-tests/src/tests/change-course-language.spec.ts
  system-tests/src/tests/user-research-consent.spec.ts
Labels: dependencies, shared-module, system-tests, course-material, headless-lms, main-frontend, db-migrations, sqlx-data, seed
