Repository rage/secret-project-331, pull requests merged in 2023-10, with the labels that each got.

#1186 New multiple choice grading policy
  services/quizzes/src/components/QuizV2/QuizComponents/multiple-choice/index.tsx
  services/quizzes/src/grading/assessment/multiple-choice.ts
  services/quizzes/tests/api/grade.test.ts
  services/quizzes/types/quizTypes/modelSolutionSpec.ts
  services/quizzes/types/quizTypes/privateSpec.ts
  services/quizzes/types/types.d.ts
  shared-module/src/locales/en/quizzes.json
  shared-module/src/locales/fi/quizzes.json
Labels: quizzes, shared-module

#1188 Sync changes
  services/headless-lms/models/.sqlx/query-1ce8db09d26a1e35976f04b5c3a5a30b9da3dfbf3127af33212ad058151ed2e1.json
  services/headless-lms/models/.sqlx/query-e6eb816ba83b975715cb8684320ef265f050de1df5dcfa19c5ddf97ce24db72c.json
  services/headless-lms/models/src/users.rs
  services/headless-lms/server/src/programs/sync_tmc_users.rs
Labels: headless-lms

#1190 fix to changing iframe height
  services/cms/src/blocks/Iframe/IframeEditor.tsx
Labels: cms

#1191 Add endpoint for tmc-server
  kubernetes/dev/headless-lms/env.yml
  kubernetes/test/headless-lms/env.yml
  services/headless-lms/DockerfileDevelopmentBase.dockerfile
  services/headless-lms/models/src/users.rs
  services/headless-lms/server/src/controllers/mod.rs
  services/headless-lms/server/src/controllers/tmc_server/mod.rs
  services/headless-lms/server/src/controllers/tmc_server/users_by_upstream_id.rs
  services/headless-lms/server/src/domain/authorization.rs
  services/headless-lms/server/src/domain/langs/token.rs
  services/headless-lms/server/src/programs/sync_tmc_users.rs
Labels: headless-lms, deployments

#1193 Quizzes improvements, playground tabs
  services/main-frontend/src/components/Layout.tsx
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundAnswers.tsx
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundExerciseEditorIframe.tsx
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundExerciseIframe.tsx
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundPreview.tsx
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundSettings.tsx
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundSpecs.tsx
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundViewSubmissionIframe.tsx
  services/main-frontend/src/hooks/playground/useParsedPrivateSpec.ts
  services/main-frontend/src/hooks/playground/usePlaygroundQueriesAndMutations.tsx
  services/main-frontend/src/pages/_app.tsx
  services/main-frontend/src/pages/playground-tabs.tsx
  services/quizzes/package-lock.json
  services/quizzes/package.json
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/Checkbox.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/Closed-ended-question.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/Matrix.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/MultipleChoice.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/MultipleChoiceDropdown.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/Timeline.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/index.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/index.tsx
  services/quizzes/src/grading/feedback.ts
  services/quizzes/src/pages/api/model-solution.ts
  services/quizzes/src/pages/api/public-spec.ts
  services/quizzes/src/schemas.ts
  services/quizzes/src/types.d.ts
  services/quizzes/tests/api/grade.test.ts
  services/quizzes/tests/api/model-solution-spec.test.ts
  services/quizzes/tests/api/service-info.test.ts
  services/quizzes/tests/api/utils/oldQuizGenerator.ts
  services/quizzes/tests/api/utils/privateSpecGenerator.ts
  services/quizzes/tests/api/utils/quizGenerator.ts
  services/quizzes/tests/util/migrationTests/privateSpecMigration.test.ts
  services/quizzes/tests/util/migrationTests/utils/exerciseGeneration.ts
  services/quizzes/types/quizTypes/privateSpec.ts
  services/quizzes/types/quizTypes/publicSpec.ts
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-correct-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-correct-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-incorrect-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-incorrect-mobile-tall.png
  system-tests/src/tests/multiple-tasks-exercise-tests/enable-resubmitting.spec.ts
Labels: dependencies, quizzes, system-tests, main-frontend

#1194 Fog of war, quizzes improvements
  bin/system-tests-run-tests-slowmo
  services/cms/src/blocks/InfoBox/InfoBoxEditor.tsx
  services/quizzes/src/components/ParsedText/index.tsx
  services/quizzes/src/components/exercise-service-views/AnswerExercise/impl-by-quiz-item-type/Checkbox.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizCommonInfo.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/checkbox/index.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/choose-n/index.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/common/MultipleChoiceOption.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/common/ParsedTextField.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/common/ToggleCard.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/multiple-choice-dropdown/index.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/multiple-choice/index.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/scale/index.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/utils/general.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/Checkbox.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/index.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/index.tsx
  services/quizzes/src/grading/assessment/choose-n.ts
  services/quizzes/src/grading/assessment/closed-ended-question.ts
  services/quizzes/src/grading/assessment/essay.ts
  services/quizzes/src/grading/assessment/index.ts
  services/quizzes/src/grading/assessment/matrix.ts
  services/quizzes/src/grading/assessment/multiple-choice-dropdown.ts
  services/quizzes/src/grading/assessment/multiple-choice.ts
  services/quizzes/src/grading/feedback.ts
  services/quizzes/src/grading/grading.ts
  services/quizzes/src/grading/types.ts
  services/quizzes/src/pages/api/grade.ts
  services/quizzes/src/pages/iframe.tsx
  services/quizzes/src/util/converter.ts
  services/quizzes/src/util/migration/privateSpecQuiz.ts
  services/quizzes/tests/api/public-spec.test.ts
  services/quizzes/tests/api/utils/privateSpecGenerator.ts
  services/quizzes/tests/util/migrate.test.ts
  services/quizzes/types/quizTypes/grading.ts
  services/quizzes/types/quizTypes/modelSolutionSpec.ts
  services/quizzes/types/quizTypes/privateSpec.ts
  services/quizzes/types/quizTypes/publicSpec.ts
  shared-module/src/locales/en/quizzes.json
  shared-module/src/locales/fi/quizzes.json
  system-tests/README.md
  system-tests/package.json
  system-tests/src/tests/quizzes/create-and-save-quizzes.spec.ts
  system-tests/src/utils/iframeLocators.ts
Labels: dependencies, quizzes, shared-module, system-tests, cms, scripts

#1195 Show quizzes messages at the right times
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/MultipleChoice.tsx
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-failure-click-column-multi-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-failure-click-column-multi-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-success-click-column-multi-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-success-click-column-multi-mobile-tall.png
  system-tests/src/tests/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts
Labels: quizzes, system-tests
