Repository rage/secret-project-331, pull requests merged in 2023-11, with the labels that each got.

#1197 Way for study registeries to filter completions, exam instruction fixes
  services/course-material/src/components/exams/ExamStartBanner.tsx
  services/course-material/src/pages/[organizationSlug]/exams/[id].tsx
  services/headless-lms/models/.sqlx/query-75fe56282c6af47368ee23356b63f50e4c178421366e983326dd8bcb290dd713.json
  services/headless-lms/models/.sqlx/query-b97c13a86038590133180f6c54b1d4948ebef79cf621af73610ee427652f231a.json
  services/headless-lms/models/src/course_module_completions.rs
  services/headless-lms/models/src/exams.rs
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/server/src/controllers/course_material/exams.rs
  services/headless-lms/server/src/controllers/study_registry/completions.rs
  services/headless-lms/server/src/domain/authorization.rs
  services/headless-lms/server/src/programs/doc_file_generator/mod.rs
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/components/LanguageSelection/index.tsx
  shared-module/src/locales/en/course-material.json
  shared-module/src/locales/fi/course-material.json
  system-tests/src/__screenshots__/exams/exam-with-automatic-eligibility.spec.ts/cant-take-exam-before-meeting-exercise-requirements-desktop-regular.png
  system-tests/src/__screenshots__/exams/exam-with-automatic-eligibility.spec.ts/cant-take-exam-before-meeting-exercise-requirements-mobile-tall.png
  system-tests/src/tests/exams/exam-with-automatic-eligibility.spec.ts
Labels: shared-module, system-tests, course-material, headless-lms

#1202 Hide In this page -sidebar from the browser search
  services/course-material/src/components/HeadingsNavigation.tsx
Labels: course-material

#1203 Fixed pagination limit Nan and unique key prop error
  shared-module/src/components/Pagination.tsx
  shared-module/src/components/PaginationItemsPerPage.tsx
Labels: shared-module

#1204 fix for hero section title and subtitle not being editable
  services/cms/src/blocks/HeroSection/HeroSectionEditor.tsx
Labels: cms

#1200 Peer review cutoff time to database
  services/headless-lms/migrations/20231030114344_add-peer-review-cutoff-time.down.sql
  services/headless-lms/migrations/20231030114344_add-peer-review-cutoff-time.up.sql
  services/headless-lms/models/.sqlx/query-6650edcb98f7af3bfb5afa37038a578b6e653bb45552d6a9f41bf631464badc5.json
  services/headless-lms/models/.sqlx/query-6a832462ea028810931a4d859c0e03581ba5bef183c84aaf27428b90ed48611f.json
  services/headless-lms/models/.sqlx/query-7fc6ae6c78377544002371ff340856064f3e2592498d27e37ac53ca4e74eec10.json
  services/headless-lms/models/.sqlx/query-e3ec9d0aa135be4b608d62c47ca80a8076dcab3284c11d69e49eea12caadcb1c.json
  services/headless-lms/models/src/library/user_exercise_state_updater/state_deriver.rs
  services/headless-lms/models/src/peer_review_configs.rs
  services/headless-lms/models/src/peer_review_queue_entries.rs
  services/headless-lms/server/src/programs/doc_file_generator/mod.rs
  services/headless-lms/server/src/programs/peer_review_updater.rs
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
Labels: shared-module, headless-lms, db-migrations

#1206 Peer review accepting threshold is disabled if accepting strategy is manual review everything
  services/cms/src/components/PeerReviewEditor.tsx
  system-tests/src/tests/peer-reviews/peer-review-editor.spec.ts
Labels: system-tests, cms

#1205 Added link for grading policy examples in exercise editor
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/multiple-choice/index.tsx
  shared-module/src/locales/en/quizzes.json
  shared-module/src/locales/fi/quizzes.json
Labels: quizzes, shared-module
