Repository rage/secret-project-331, pull requests merged in 2023-01, with the labels that each got.

#1053 Exercise list view update
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/CourseExercises.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/ExerciseList.tsx
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/tests/exercise-list.spec.ts
  system-tests/src/tests/exercise-list.spec.ts-snapshots/exercise-list-view-mobile-chromium-linux.png
  system-tests/src/tests/exercise-list.spec.ts-snapshots/exercise-list-view-small-desktop-chromium-linux.png
  system-tests/src/tests/model-solution.spec.ts
Labels: shared-module, system-tests, main-frontend

#1057 Fix citation sorting
  services/course-material/src/components/ReferencesList.tsx
  services/course-material/src/hooks/usePageReferences.tsx
Labels: course-material

#1060 Instruct Mac users to install coreutils to be able to run some scripts
  docs/Development.md
Labels: docs

#1039 New state management for quizzes
  services/example-exercise/package-lock.json
  services/example-exercise/package.json
  services/quizzes/src/components/ExerciseEditor/EditorImpl.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/QuizEditor.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/checkbox/index.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/choose-n/MultipleChoiceOption.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/choose-n/index.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/closed-ended-question/index.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/common/EditorCard.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/common/MultipleChoiceOption.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/common/ParsedTextField.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/common/ToggleCard.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/essay/index.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/matrix/TableCellContent.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/matrix/TableContent.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/matrix/index.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/multiple-choice-dropdown/MultipleChoiceOption.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/multiple-choice-dropdown/index.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/multiple-choice/MultipleChoiceOption.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/multiple-choice/index.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/scale/index.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/timeline/TimelineContent.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/timeline/index.tsx
  services/quizzes/src/components/QuizV2/QuizComponents/unsupported/index.tsx
  services/quizzes/src/components/QuizV2/QuizCreation/QuizOption.tsx
  services/quizzes/src/components/QuizV2/QuizCreation/index.tsx
  services/quizzes/src/components/QuizV2/utils/general.tsx
  services/quizzes/src/contexts/QuizzesExerciseServiceContext.tsx
  services/quizzes/src/hooks/useQuizzesExerciseServiceOutputState.tsx
  services/quizzes/src/util/quizMigration.ts
  services/quizzes/tests/util/quizMigration.test.ts
  services/quizzes/types/quizTypes.d.ts
  services/tmc/package-lock.json
  services/tmc/package.json
  shared-module/package-lock.json
  shared-module/package.json
  shared-module/src/contexts/ExerciseServiceContext.tsx
  shared-module/src/hooks/exerciseServiceHooks/useExerciseServiceOutputState.tsx
  shared-module/src/locales/en/quizzes.json
  shared-module/src/locales/fi/quizzes.json
Labels: dependencies, quizzes, shared-module, example-exercise, tmc

#1065 Make congratulations block handle 1 module or failing grades
  services/course-material/src/components/ContentRenderer/moocfi/CongratulationsBlock/Congratulations.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CongratulationsBlock/CongratulationsLinks.tsx
Labels: course-material

#1066 5g points visualization glitch and overlapping feedbackbutton fixed
  services/course-material/src/components/ContentRenderer/moocfi/CourseProgressBlock/CompletionRequirementsTabulation/index.tsx
  services/course-material/src/components/EditProposalDialog.tsx
  services/course-material/src/components/FeedbackDialog.tsx
  services/course-material/src/components/FeedbackHandler.tsx
Labels: course-material
