Repository rage/secret-project-331, pull requests merged in 2023-04, with the labels that each got.

#1086 texts updated
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/course_modules.rs
  services/headless-lms/models/src/library/content_management.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/CourseModules.tsx
  services/main-frontend/src/components/page-specific/register-completion/RegisterCompletion.tsx
  shared-module/src/locales/en/course-material.json
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/__screenshots__/automatic-completion.spec.ts/automatic-completion-registration-page-desktop-regular.png
  system-tests/src/__screenshots__/automatic-completion.spec.ts/automatic-completion-registration-page-mobile-tall.png
  system-tests/src/__screenshots__/course-instance-management/course-instance-management.spec.ts/course-management-page-after-delete-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/course-instance-management.spec.ts/course-management-page-after-delete-mobile-tall.png
  system-tests/src/__screenshots__/exams/exam-with-automatic-eligibility.spec.ts/cant-take-exam-before-meeting-exercise-requirements-desktop-regular.png
  system-tests/src/__screenshots__/exams/exam-with-automatic-eligibility.spec.ts/cant-take-exam-before-meeting-exercise-requirements-mobile-tall.png
  system-tests/src/__screenshots__/query-mutation-notifications/error-notification.spec.ts/error-notification-test-desktop-regular.png
  system-tests/src/__screenshots__/query-mutation-notifications/error-notification.spec.ts/error-notification-test-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-correct-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-correct-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-incorrect-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-incorrect-mobile-tall.png
  system-tests/src/tests/automatic-completion.spec.ts-snapshots/automatic-completion-registration-page-mobile-chromium-linux.png
  system-tests/src/tests/automatic-completion.spec.ts-snapshots/automatic-completion-registration-page-small-desktop-chromium-linux.png
  system-tests/src/tests/course-instance-management/add-completions.spec.ts-snapshots/manual-completion-after-posting-completions-small-desktop-chromium-linux.png
  system-tests/src/tests/course-instance-management/course-instance-management.spec.ts
  system-tests/src/tests/exams/exam-with-automatic-eligibility.spec.ts
  system-tests/src/tests/exams/exam-with-automatic-eligibility.spec.ts-snapshots/cant-take-exam-before-meeting-exercise-requirements-mobile-chromium-linux.png
  system-tests/src/tests/exams/exam-with-automatic-eligibility.spec.ts-snapshots/cant-take-exam-before-meeting-exercise-requirements-small-desktop-chromium-linux.png
  system-tests/src/tests/query-mutation-notifications/error-notification.spec.ts
Labels: shared-module, system-tests, headless-lms, main-frontend, sqlx-data, seed

#1108 Add an HTML view to the db docs
  .github/workflows/generate-db-docs.yml
  README.md
  misc/db-docs/pandoc-links-md-extension-to-html-extension.lua
  misc/db-docs/template.html
  services/headless-lms/DbDocs.dockerfile
Labels: headless-lms, root, deployments

#1109 Allow completions without Open University
  .stylelintrc
  .vscode/settings.json
  bin/build-dockerfile-dbdocs
  services/course-material/src/components/ContentRenderer/moocfi/CongratulationsBlock/Congratulations.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CongratulationsBlock/CongratulationsLinks.tsx
  services/headless-lms/migrations/20230421063329_add_allow_registering_completion_to_uh_open_university_to_course_modules.down.sql
  services/headless-lms/migrations/20230421063329_add_allow_registering_completion_to_uh_open_university_to_course_modules.up.sql
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/course_modules.rs
  services/headless-lms/models/src/library/progressing.rs
  services/headless-lms/models/src/user_exercise_states.rs
  services/headless-lms/server/generated-docs/CourseInstanceCompletionSummary.json
  services/headless-lms/server/generated-docs/UserCompletionInformation.json
  services/headless-lms/server/generated-docs/UserCompletionInformation.ts
  services/headless-lms/server/generated-docs/Vec<UserModuleCompletionStatus>.json
  services/headless-lms/server/generated-docs/Vec<UserModuleCompletionStatus>.ts
  services/headless-lms/server/src/programs/doc_file_generator/mod.rs
  services/headless-lms/server/src/programs/open_university_registration_link_fetcher.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/CourseModules.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/EditCourseModuleForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/NewCourseModuleForm.tsx
  services/main-frontend/src/pages/completion-registration/[courseModuleId]/index.tsx
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/locales/en/course-material.json
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/course-material.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/__screenshots__/automatic-completion.spec.ts/automatic-completion-congratulations-card-desktop-regular.png
  system-tests/src/__screenshots__/automatic-completion.spec.ts/automatic-completion-congratulations-card-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-creating-new-module-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-creating-new-module-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-deletion-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-deletion-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-deletion-reset-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-deletion-reset-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-last-update-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-last-update-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-saving-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-saving-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-updating-new-module-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-updating-new-module-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/initial-module-management-page-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/initial-module-management-page-mobile-tall.png
  system-tests/src/__screenshots__/material-reference.spec.ts/open-course-material-reference-list-mobile-tall.png
Labels: shared-module, system-tests, course-material, headless-lms, main-frontend, db-migrations, sqlx-data, scripts, seed

#1110 Add certificate rendering
  bin/sqlx-migrate-add
  kubernetes/base/headless-lms/deployment.yml
  kubernetes/dev/headless-lms/env.yml
  kubernetes/test/headless-lms/env.yml
  services/headless-lms/Cargo.lock
  services/headless-lms/Cargo.toml
  services/headless-lms/certificates/Cargo.toml
  services/headless-lms/certificates/src/font_loader.rs
  services/headless-lms/certificates/src/lib.rs
  services/headless-lms/migrations/20230424071315_add_a_table_for_certificate_fonts.down.sql
  services/headless-lms/migrations/20230424071315_add_a_table_for_certificate_fonts.up.sql
  services/headless-lms/migrations/20230426094238_add_a_table_for_configuring_certificates.down.sql
  services/headless-lms/migrations/20230426094238_add_a_table_for_configuring_certificates.up.sql
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/certificate_fonts.rs
  services/headless-lms/models/src/course_module_certificate_configurations.rs
  services/headless-lms/models/src/courses.rs
  services/headless-lms/models/src/lib.rs
  services/headless-lms/server/tests/integration_test.rs
  services/headless-lms/utils/Cargo.toml
  services/headless-lms/utils/src/file_store/google_cloud_file_store.rs
  services/headless-lms/utils/src/file_store/local_file_store.rs
  services/headless-lms/utils/src/file_store/mod.rs
  shared-module/src/hooks/useToastMutation.tsx
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-after-posting-completions-mobile-tall.png
  system-tests/src/__screenshots__/course-instance-management/course-instance-management.spec.ts/course-management-page-with-new-instance-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/course-instance-management.spec.ts/course-management-page-with-new-instance-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-updating-new-module-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-updating-new-module-mobile-tall.png
  system-tests/src/__screenshots__/glossary.spec.ts/deleted-term-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/deleted-term-mobile-tall.png
  system-tests/src/__screenshots__/glossary.spec.ts/edited-term-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/edited-term-mobile-tall.png
  system-tests/src/__screenshots__/material-reference.spec.ts/open-course-material-reference-list-mobile-tall.png
  system-tests/src/__screenshots__/peer-reviews/peer-review-editor.spec.ts/default-peer-review-editor-after-save-desktop-regular.png
  system-tests/src/__screenshots__/peer-reviews/peer-review-editor.spec.ts/default-peer-review-editor-after-save-mobile-tall.png
  system-tests/src/__screenshots__/permissions.spec.ts/edited-permission-desktop-regular.png
  system-tests/src/__screenshots__/permissions.spec.ts/edited-permission-mobile-tall.png
  system-tests/src/__screenshots__/permissions.spec.ts/removed-permission-desktop-regular.png
  system-tests/src/__screenshots__/permissions.spec.ts/removed-permission-mobile-tall.png
  system-tests/src/__screenshots__/query-mutation-notifications/success-notification.spec.ts/success-notification-test-desktop-regular.png
  system-tests/src/__screenshots__/query-mutation-notifications/success-notification.spec.ts/success-notification-test-mobile-tall.png
Labels: dependencies, shared-module, system-tests, headless-lms, db-migrations, sqlx-data, deployments, scripts

#1111 Fix stuff
  .eslintrc.js
  docs/Development.md
  kubernetes/dev/headless-lms/patch-file-storage.yml
  services/course-material/src/components/ContentRenderer/core/common/Heading/HeadingBlock.tsx
  services/course-material/src/components/forms/SelectCourseInstanceForm.tsx
  services/course-material/src/components/modals/ChooseCourseLanguage.tsx
  services/course-material/src/components/modals/SelectCourseInstanceModal.tsx
  services/headless-lms/server/src/controllers/course_material/courses.rs
  services/main-frontend/src/components/forms/NewExamForm.tsx
  shared-module/src/components/LanguageSelection/Language.tsx
  shared-module/src/locales/en/course-material.json
  shared-module/src/locales/fi/course-material.json
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-fi-to-eng-desktop-regular.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-fi-to-eng-mobile-tall.png
  system-tests/src/tests/change-course-language.spec.ts
  system-tests/src/tests/exams/create-new-exam.spec.ts
  system-tests/src/tests/exams/exam-with-automatic-eligibility.spec.ts
  system-tests/src/tests/peer-reviews/automatically-accept-or-manual-review-by-average.spec.ts
  system-tests/src/utils/courseMaterialActions.ts
Labels: shared-module, system-tests, course-material, headless-lms, main-frontend, deployments, docs
