Repository rage/secret-project-331, pull requests merged in 2023-03, with the labels that each got.

#1082 Add new feature to Chapter Hero section
  services/cms/src/blocks/HeroSection/HeroSectionEditor.tsx
  services/cms/src/blocks/HeroSection/index.tsx
  services/cms/src/components/blocks/BackgroundAndColorCustomizer.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseInChapterBlock/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/HeroSectionBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/InstructionBox.tsx
  shared-module/src/components/CourseObjective/index.tsx
  shared-module/src/components/Footer.tsx
  shared-module/src/components/HeroSection.tsx
  shared-module/src/components/Sponsor.tsx
  shared-module/src/locales/en/cms.json
  system-tests/src/tests/content-search.spec.ts-snapshots/search-content-with-short-prefix-mobile-chromium-linux.png
  system-tests/src/tests/content-search.spec.ts-snapshots/search-content-with-short-prefix-small-desktop-chromium-linux.png
  system-tests/src/tests/content-search.spec.ts-snapshots/search-content-with-two-words-not-just-after-each-other-small-desktop-chromium-linux.png
  system-tests/src/tests/content-search.spec.ts-snapshots/search-continuous-phrases-ranked-higher-than-word-matches-small-desktop-chromium-linux.png
  system-tests/src/tests/course-instance-management/add-completions.spec.ts-snapshots/manual-completion-another-module-preview-small-desktop-chromium-linux.png
  system-tests/src/tests/course-instance-management/course-instance-management.spec.ts-snapshots/course-management-page-after-delete-small-desktop-chromium-linux.png
  system-tests/src/tests/course-instance-management/course-instance-management.spec.ts-snapshots/course-management-page-with-new-instance-small-desktop-chromium-linux.png
  system-tests/src/tests/course-language-versions.spec.ts-snapshots/wrong-course-banner-mobile-chromium-linux.png
  system-tests/src/tests/course-language-versions.spec.ts-snapshots/wrong-course-banner-small-desktop-chromium-linux.png
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-mobile-chromium-linux.png
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-creating-new-module-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-creating-new-module-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-deletion-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-deletion-reset-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-deletion-reset-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-deletion-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-last-update-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-last-update-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-saving-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-saving-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-second-deletion-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-second-deletion-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-updating-new-module-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/after-updating-new-module-small-desktop-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/initial-module-management-page-mobile-chromium-linux.png
  system-tests/src/tests/course-modules/course-modules.spec.ts-snapshots/initial-module-management-page-small-desktop-chromium-linux.png
  system-tests/src/tests/default-peer-review-editing.spec.ts-snapshots/default-peer-review-editor-after-save-small-desktop-chromium-linux.png
  system-tests/src/tests/exercise-service.spec.ts-snapshots/exercise-service-page-small-desktop-chromium-linux.png
  system-tests/src/tests/glossary.spec.ts-snapshots/edited-term-small-desktop-chromium-linux.png
  system-tests/src/tests/headings-navigation.spec.ts-snapshots/headings-navigation-open-mobile-chromium-linux.png
  system-tests/src/tests/headings-navigation.spec.ts-snapshots/headings-navigation-open-small-desktop-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/citation-in-editor-small-desktop-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/closed-course-material-reference-list-small-desktop-chromium-linux.png
  system-tests/src/tests/material-reference.spec.ts-snapshots/open-course-material-reference-list-small-desktop-chromium-linux.png
  system-tests/src/tests/point-view/point-view.spec.ts-snapshots/point-view-bottom-small-desktop-chromium-linux.png
  system-tests/src/tests/query-mutation-notifications/error-notification.spec.ts-snapshots/error-notification-test-mobile-chromium-linux.png
Labels: shared-module, system-tests, course-material, cms

#1085 add port to onMessage function in useExerciseServiceParentConnection …
  shared-module/src/hooks/useExerciseServiceParentConnection.tsx
Labels: shared-module

#1084 Add more functionality to hero section
  services/cms/src/blocks/HeroSection/HeroSectionEditor.tsx
  services/cms/src/blocks/HeroSection/index.tsx
  services/cms/src/blocks/LandingPageHeroSection/LandingPageHeroSectionEditor.tsx
  services/cms/src/blocks/LandingPageHeroSection/index.tsx
  services/cms/src/components/blocks/BackgroundAndColorCustomizer.tsx
  services/course-material/src/components/ContentRenderer/moocfi/HeroSectionBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/LandingPageHeroSectionBlock.tsx
  shared-module/src/components/HeroSection.tsx
  shared-module/src/components/LandingPageHeroSection.tsx
  shared-module/src/components/Sponsor.tsx
  shared-module/src/locales/en/cms.json
  system-tests/src/tests/content-search.spec.ts-snapshots/search-content-with-short-prefix-mobile-chromium-linux.png
  system-tests/src/tests/content-search.spec.ts-snapshots/search-content-with-short-prefix-small-desktop-chromium-linux.png
  system-tests/src/tests/content-search.spec.ts-snapshots/search-content-with-two-words-not-just-after-each-other-small-desktop-chromium-linux.png
  system-tests/src/tests/content-search.spec.ts-snapshots/search-continuous-phrases-ranked-higher-than-word-matches-small-desktop-chromium-linux.png
  system-tests/src/tests/course-language-versions.spec.ts-snapshots/wrong-course-banner-mobile-chromium-linux.png
  system-tests/src/tests/course-language-versions.spec.ts-snapshots/wrong-course-banner-small-desktop-chromium-linux.png
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-mobile-chromium-linux.png
  system-tests/src/tests/course-material/content-components-render.spec.ts-snapshots/content-components-renderer-view-small-desktop-chromium-linux.png
Labels: shared-module, system-tests, course-material, cms

#1088 Automatic redirections for other subdomains
  kubernetes/base/ingress-other-domains.yml
  kubernetes/base/ingress.yml
  kubernetes/base/kustomization.yaml
  kubernetes/production/kustomization.yaml
  kubernetes/production/patch-ingress-other-domains.yml
  kubernetes/production/patch-ingress.yml
  kubernetes/test/kustomization.yaml
  kubernetes/test/patch-ingress-other-domains.yml
  kubernetes/test/patch-ingress.yml
  services/headless-lms/migrations/20230308093714_add_other_domain_to_course_redirections.down.sql
  services/headless-lms/migrations/20230308093714_add_other_domain_to_course_redirections.up.sql
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/other_domain_to_course_redirections.rs
  services/headless-lms/server/src/controllers/mod.rs
  services/headless-lms/server/src/controllers/other_domain_redirects.rs
Labels: headless-lms, db-migrations, sqlx-data, deployments

#1091 Fix peer review instructions
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/GradingState.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/index.tsx
  shared-module/src/locales/en/course-material.json
  shared-module/src/locales/fi/course-material.json
  system-tests/src/tests/peer-reviews/automatically-accept-or-reject.spec.ts-snapshots/student-1-after-submission-mobile-chromium-linux.png
  system-tests/src/tests/peer-reviews/automatically-accept-or-reject.spec.ts-snapshots/student-1-after-submission-small-desktop-chromium-linux.png
  system-tests/src/tests/peer-reviews/automatically-accept-or-reject.spec.ts-snapshots/student-2-after-submission-mobile-chromium-linux.png
  system-tests/src/tests/peer-reviews/automatically-accept-or-reject.spec.ts-snapshots/student-2-after-submission-small-desktop-chromium-linux.png
  system-tests/src/tests/peer-reviews/manual-review-everything.spec.ts-snapshots/student-1-before-filling-peer-review-multiple-submission-mobile-chromium-linux.png
  system-tests/src/tests/peer-reviews/manual-review-everything.spec.ts-snapshots/student-1-before-filling-peer-review-multiple-submission-small-desktop-chromium-linux.png
  system-tests/src/tests/peer-reviews/manual-review-everything.spec.ts-snapshots/student-1-before-filling-peer-review-single-submission-mobile-chromium-linux.png
  system-tests/src/tests/peer-reviews/manual-review-everything.spec.ts-snapshots/student-1-before-filling-peer-review-single-submission-small-desktop-chromium-linux.png
  system-tests/src/tests/peer-reviews/manual-review-everything.spec.ts-snapshots/student-2-before-filling-peer-review-1-multiple-submission-mobile-chromium-linux.png
  system-tests/src/tests/peer-reviews/manual-review-everything.spec.ts-snapshots/student-2-before-filling-peer-review-1-multiple-submission-small-desktop-chromium-linux.png
  system-tests/src/tests/peer-reviews/manual-review-everything.spec.ts-snapshots/student-2-before-filling-peer-review-single-submission-mobile-chromium-linux.png
  system-tests/src/tests/peer-reviews/manual-review-everything.spec.ts-snapshots/student-2-before-filling-peer-review-single-submission-small-desktop-chromium-linux.png
  system-tests/src/tests/quizzes/feedback/essay.spec.ts-snapshots/essay-feedback-mobile-chromium-linux.png
Labels: shared-module, system-tests, course-material

#1092 Fix spacers breaking editing under them, fix block inserter obstructing typing caret
  .github/labeler.yml
  services/cms/src/styles/Gutenberg/editor-styles.scss
  system-tests/src/__screenshots__/gutenberg/spacer-not-breaking-editing.spec.ts/new-block-inserter-should-not-obscure-typing-caret-desktop-regular.png
  system-tests/src/__screenshots__/gutenberg/spacer-not-breaking-editing.spec.ts/new-block-inserter-should-not-obscure-typing-caret-mobile-tall.png
  system-tests/src/setup/global.setup.spec.ts
  system-tests/src/tests/gutenberg/spacer-not-breaking-editing.spec.ts
Labels: system-tests, cms

#1083 playground-views websocket
  .eslintrc.js
  docs/iframes.md
  kubernetes/base/main-frontend/deployment.yml
  kubernetes/dev/headless-lms/env.yml
  kubernetes/dev/kustomization.yaml
  kubernetes/dev/main-frontend/patch-env.yml
  kubernetes/dev/patch-tmc-service-account.yml
  kubernetes/dev/tmc-service-account.yml
  kubernetes/test/headless-lms/env.yml
  kubernetes/test/kustomization.yaml
  kubernetes/test/main-frontend/patch-env.yml
  kubernetes/test/tmc-service-account.yml
  services/headless-lms/Cargo.lock
  services/headless-lms/server/Cargo.toml
  services/headless-lms/server/src/controllers/main_frontend/mod.rs
  services/headless-lms/server/src/controllers/main_frontend/playground_views.rs
  services/headless-lms/server/src/domain/error.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/next.config.js
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundViewSubmissionIframe.tsx
  services/main-frontend/src/pages/playground-views.tsx
  services/tmc/package-lock.json
  services/tmc/package.json
  services/tmc/src/components/AnswerExercise.tsx
  services/tmc/src/components/ExerciseEditor.tsx
  services/tmc/src/components/StateRenderer.tsx
  services/tmc/src/components/ViewSubmission.tsx
  services/tmc/src/lib.ts
  services/tmc/src/pages/api/grade.ts
  services/tmc/src/pages/api/sandbox-results.ts
  services/tmc/src/pages/iframe.tsx
  services/tmc/src/tmc/cli.d.ts
  services/tmc/src/util/stateInterfaces.ts
  services/tmc/tmc-langs-version
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/exercise-service-protocol-types.ts
Labels: dependencies, shared-module, headless-lms, main-frontend, tmc, deployments, docs

#1093 Improve logging, tmc feedback json, uploads and tmc public spec
  services/headless-lms/server/src/controllers/cms/pages.rs
  services/headless-lms/server/src/controllers/files.rs
  services/headless-lms/server/src/controllers/helpers/file_uploading.rs
  services/headless-lms/server/src/controllers/main_frontend/chapters.rs
  services/headless-lms/server/src/controllers/main_frontend/courses.rs
  services/headless-lms/server/src/controllers/main_frontend/pages.rs
  services/headless-lms/server/src/controllers/main_frontend/proposed_edits.rs
  services/headless-lms/server/src/domain/mod.rs
  services/headless-lms/server/src/domain/models_requests.rs
  services/headless-lms/server/src/domain/request_id.rs
  services/headless-lms/server/src/domain/request_span_middleware.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_helpers.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/server/tests/study_registry_test.rs
  services/main-frontend/src/pages/playground-views.tsx
  services/tmc/src/pages/api/grade.ts
  services/tmc/src/pages/api/model-solution.ts
  services/tmc/src/pages/api/public-spec.ts
  services/tmc/src/util/stateInterfaces.ts
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
Labels: shared-module, headless-lms, main-frontend, tmc, seed

#1097 Peer review fixes
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/PeerReviewView/PeerReviewViewImpl.tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/migrations/20230327164547_add_offered_answers_to_peer_review.down.sql
  services/headless-lms/migrations/20230327164547_add_offered_answers_to_peer_review.up.sql
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/library/peer_reviewing.rs
  services/headless-lms/models/src/offered_answers_to_peer_review_temporary.rs
  services/headless-lms/models/src/peer_review_submissions.rs
  services/headless-lms/server/generated-docs/CourseMaterialPeerReviewDataWithToken.json
  services/headless-lms/server/generated-docs/CourseMaterialPeerReviewDataWithToken.ts
  services/headless-lms/server/generated-docs/CourseMaterialPeerReviewSubmission.json
  services/headless-lms/server/generated-docs/CourseMaterialPeerReviewSubmission.ts
  services/headless-lms/server/generated-docs/HashMap<String, String>.json
  services/headless-lms/server/src/controllers/course_material/exercises.rs
  services/headless-lms/server/src/domain/models_requests.rs
  services/headless-lms/server/src/programs/doc_file_generator/mod.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
Labels: shared-module, course-material, headless-lms, db-migrations, sqlx-data

#1098 Thinglink
  bin/minikube-pull-baseimages
  bin/minikube-pull-images
  docs/headless-lms.md
  docs/updating-dependencies.md
  services/cms/src/blocks/Iframe/IframeEditor.tsx
  services/cms/src/blocks/Iframe/IframePlaceholder.tsx
  services/cms/src/blocks/Iframe/IframeSave.tsx
  services/cms/src/blocks/Iframe/index.tsx
  services/cms/src/blocks/index.tsx
  services/cms/src/blocks/supportedGutenbergBlocks.ts
  services/cms/src/components/blocks/VisibleBlockWrapper.tsx
  services/cms/src/styles/Gutenberg/editor-styles.scss
  services/cms/src/utils/Gutenberg/registerBlockVariations.ts
  services/course-material/src/components/ContentRenderer/core/embeds/EmbedBlock.tsx
  services/course-material/src/components/ContentRenderer/core/embeds/variants/ThingLinkEmbedBlock.tsx
  services/course-material/src/components/ContentRenderer/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/IframeBlock.tsx
  services/headless-lms/models/src/error.rs
  services/headless-lms/server/src/controllers/cms/gutenberg.rs
  services/headless-lms/utils/src/url_to_oembed_endpoint.rs
  shared-module/src/locales/en/course-material.json
  shared-module/src/locales/fi/course-material.json
  shared-module/src/utils/responseHeaders.js
  system-tests/src/__screenshots__/course-material/custom-iframe.spec.ts/custom-iframe-desktop-regular.png
  system-tests/src/__screenshots__/course-material/custom-iframe.spec.ts/custom-iframe-mobile-tall.png
  system-tests/src/__screenshots__/sidebar-toggle.spec.ts/block-menu-desktop-regular.png
  system-tests/src/tests/course-material/custom-iframe.spec.ts
Labels: shared-module, system-tests, course-material, headless-lms, cms, docs, scripts

#1101 Use allow-same-origin in the iframe block
  services/course-material/src/components/ContentRenderer/moocfi/IframeBlock.tsx
Labels: course-material
