Repository rage/secret-project-331, pull requests merged in 2023-06, with the labels that each got.

#1134 Improve TMC endpoints
  services/tmc/src/pages/api/grade.ts
  services/tmc/src/pages/api/model-solution.ts
  services/tmc/src/pages/api/public-spec.ts
  services/tmc/src/pages/iframe.tsx
  services/tmc/src/tmc/langs.ts
Labels: tmc

#1128 ICU4X blob draft
  docs/updating-dockerfiles.md
  kubernetes/dev/headless-lms/env.yml
  kubernetes/test/headless-lms/env.yml
  services/headless-lms/Cargo.lock
  services/headless-lms/Dockerfile.production.slim.dockerfile
  services/headless-lms/DockerfileDevelopmentBase.dockerfile
  services/headless-lms/DockerfileProductionBase.dockerfile
  services/headless-lms/certificates/Cargo.toml
  services/headless-lms/certificates/src/lib.rs
  services/headless-lms/server/src/controllers/main_frontend/certificates.rs
  services/headless-lms/server/src/programs/start_server.rs
  services/headless-lms/utils/src/file_store/google_cloud_file_store.rs
  services/headless-lms/utils/src/icu4x.rs
  services/headless-lms/utils/src/lib.rs
Labels: dependencies, headless-lms, deployments, docs

#1136 Do not return result in skip_authorize
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/cms/gutenberg.rs
  services/headless-lms/server/src/controllers/cms/pages.rs
  services/headless-lms/server/src/controllers/course_material/course_instances.rs
  services/headless-lms/server/src/controllers/course_material/courses.rs
  services/headless-lms/server/src/controllers/course_material/exams.rs
  services/headless-lms/server/src/controllers/course_material/exercises.rs
  services/headless-lms/server/src/controllers/course_material/pages.rs
  services/headless-lms/server/src/controllers/exercise_services/grading.rs
  services/headless-lms/server/src/controllers/files.rs
  services/headless-lms/server/src/controllers/healthz.rs
  services/headless-lms/server/src/controllers/main_frontend/certificates.rs
  services/headless-lms/server/src/controllers/main_frontend/org.rs
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/headless-lms/server/src/controllers/main_frontend/playground_examples.rs
  services/headless-lms/server/src/controllers/main_frontend/roles.rs
  services/headless-lms/server/src/controllers/other_domain_redirects.rs
  services/headless-lms/server/src/controllers/study_registry/completions.rs
  services/headless-lms/server/src/domain/authorization.rs
  services/headless-lms/server/src/domain/error.rs
Labels: headless-lms

#1137 Cert fixes
  services/headless-lms/server/src/controllers/main_frontend/certificates.rs
  shared-module/src/components/ErrorBanner.tsx
Labels: shared-module, headless-lms

#1138 Move package info to workspace level
  services/headless-lms/Cargo.toml
  services/headless-lms/certificates/Cargo.toml
  services/headless-lms/doc-macro/Cargo.toml
  services/headless-lms/entrypoint/Cargo.toml
  services/headless-lms/models/Cargo.toml
  services/headless-lms/server/Cargo.toml
  services/headless-lms/utils/Cargo.toml
Labels: dependencies, headless-lms

#1114 Improved SelectMenu
  services/quizzes/src/components/widget/Timeline.tsx
  shared-module/src/components/SelectMenu.tsx
Labels: quizzes, shared-module

#1139 Cert fixes
  services/main-frontend/src/components/page-specific/manage/certificates/CertificateView.tsx
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/editing-config-mobile-tall.png
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/management-page-desktop-regular.png
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/management-page-mobile-tall.png
Labels: system-tests, main-frontend

#1142 Redis
  Dockerfile.skaffold
  bin/redis-cli
  kubernetes/dev/headless-lms/env.yml
  kubernetes/dev/kustomization.yaml
  kubernetes/dev/redis-dev.yml
  kubernetes/test/headless-lms/env.yml
  kubernetes/test/kustomization.yaml
  kubernetes/test/redis-dev.yml
  services/headless-lms/Cargo.lock
  services/headless-lms/DockerfileDevelopmentBase.dockerfile
  services/headless-lms/server/Cargo.toml
  services/headless-lms/server/src/lib.rs
  services/headless-lms/server/src/programs/start_server.rs
  skaffold.production.yaml
  skaffold.yaml
  vagrant/install.sh
Labels: dependencies, headless-lms, root, deployments, scripts

#1144 Update deps 2023-06
  .vscode/settings.json
  Dockerfile.node.base.dockerfile
  bin/build-dockerfile-dbdocs
  bin/build-dockerfile-development-base
  bin/build-dockerfile-node-base
  bin/build-dockerfile-production-base
  bin/test
  docs/updating-dependencies.md
  kubernetes/dev/postgres-dev.yml
  kubernetes/test/postgres-dev.yml
  package-lock.json
  package.json
  services/cms/package-lock.json
  services/cms/package.json
  services/course-material/package-lock.json
  services/course-material/package.json
  services/course-material/src/components/forms/SelectCourseInstanceForm.tsx
  services/course-material/src/components/modals/CourseSettingsModal.tsx
  services/course-material/types/GutenbergBlockAttributes.guard.ts
  services/course-material/types/GutenbergBlockAttributes.ts
  services/example-exercise/package-lock.json
  services/example-exercise/package.json
  services/headless-lms/Cargo.lock
  services/headless-lms/DbDocs.dockerfile
  services/headless-lms/DockerfileDevelopmentBase.dockerfile
  services/headless-lms/DockerfileProductionBase.dockerfile
  services/headless-lms/certificates/Cargo.toml
  services/headless-lms/certificates/src/lib.rs
  services/headless-lms/doc-macro/Cargo.toml
  services/headless-lms/location-export.patch
  services/headless-lms/migrations/20230619060809_disallow_two_language_versions_of_the_same_course_with_the_same_language_code.down.sql
  services/headless-lms/migrations/20230619060809_disallow_two_language_versions_of_the_same_course_with_the_same_language_code.up.sql
  services/headless-lms/models/Cargo.toml
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/server/Cargo.toml
  services/headless-lms/server/src/domain/exercise_repositories.rs
  services/headless-lms/server/src/programs/regrader.rs
  services/headless-lms/utils/Cargo.toml
  services/main-frontend/package-lock.json
  services/main-frontend/package.json
  services/quizzes/package-lock.json
  services/quizzes/package.json
  services/tmc/package-lock.json
  services/tmc/package.json
  shared-module/package-lock.json
  shared-module/package.json
  system-tests/package-lock.json
  system-tests/package.json
  system-tests/src/tests/change-course-language.spec.ts
  system-tests/src/tests/latex.spec.ts
  system-tests/src/utils/screenshot.ts
  workspace.code-workspace
Labels: dependencies, quizzes, shared-module, system-tests, course-material, headless-lms, cms, example-exercise, main-frontend, tmc, db-migrations, sqlx-data, root, deployments, docs, scripts

#1143 Minor refactoring to reduce logs on startup and while running
  services/course-material/src/components/modals/ChooseCourseLanguage.tsx
  services/headless-lms/models/src/library/regrading.rs
  services/headless-lms/server/src/lib.rs
  services/headless-lms/server/src/programs/regrader.rs
  services/headless-lms/server/src/programs/service_info_fetcher.rs
  services/headless-lms/server/src/programs/start_server.rs
  shared-module/.storybook/main.ts
  system-tests/src/tests/change-course-language.spec.ts
Labels: system-tests, course-material, headless-lms

#1145 User permissions for new course and language version forms
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/chapters.rs
  services/headless-lms/models/src/courses.rs
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/models/src/test_helper.rs
  services/headless-lms/server/src/controllers/main_frontend/courses.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/server/tests/study_registry_test.rs
  services/main-frontend/src/components/forms/NewCourseForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/language-versions/CourseLanguageVersions.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/language-versions/NewCourseLanguageVersionDialog.tsx
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/tests/course-language-versions.spec.ts
  system-tests/src/tests/draft.spec.ts
Labels: shared-module, system-tests, headless-lms, main-frontend, sqlx-data, seed

#1146 Move cache to utils, improve testing
  services/headless-lms/Cargo.lock
  services/headless-lms/doc-macro/src/generated_doc.rs
  services/headless-lms/doc-macro/src/lib.rs
  services/headless-lms/models/src/lib.rs
  services/headless-lms/server/Cargo.toml
  services/headless-lms/server/src/controllers/study_registry/completions.rs
  services/headless-lms/server/src/lib.rs
  services/headless-lms/server/src/programs/start_server.rs
  services/headless-lms/server/tests/integration_test.rs
  services/headless-lms/utils/Cargo.toml
  services/headless-lms/utils/src/cache.rs
  services/headless-lms/utils/src/lib.rs
Labels: dependencies, headless-lms

#1133 Initial map component
  services/cms/src/blocks/Map/MapEditor.tsx
  services/cms/src/blocks/Map/MapSave.tsx
  services/cms/src/blocks/Map/index.tsx
  services/cms/src/blocks/index.tsx
  services/course-material/src/components/ContentRenderer/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CourseObjectiveSectionBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/Map.tsx
  services/course-material/src/components/ContentRenderer/moocfi/worldMap.svg
  services/course-material/src/components/ContentRenderer/util/Countries.tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/migrations/20230605070745_add_student_countries.down.sql
  services/headless-lms/migrations/20230605070745_add_student_countries.up.sql
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/student_countries.rs
  services/headless-lms/server/generated-docs/HashMap<String, String>.json
  services/headless-lms/server/src/controllers/course_material/courses.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/locales/en/cms.json
  shared-module/src/locales/en/course-material.json
  shared-module/stories/Map.stories.tsx
Labels: shared-module, course-material, headless-lms, cms, db-migrations, sqlx-data

#1151 Cache test draft
  .github/workflows/tests.yml
  bin/cargo-test
  services/headless-lms/utils/src/cache.rs
Labels: headless-lms, scripts

#1153 Add 404 handler for api paths
  services/headless-lms/server/src/controllers/mod.rs
Labels: headless-lms

#1155 Setup route testing
  services/headless-lms/server/src/config.rs
  services/headless-lms/server/src/lib.rs
  services/headless-lms/server/src/programs/start_server.rs
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/server/tests/integration_test.rs
  services/headless-lms/utils/src/icu4x.rs
Labels: headless-lms

#1149 Exercise submissions sorted by submission time
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/exercise_slide_submissions.rs
  services/main-frontend/src/components/page-specific/manage/exercises/id/submissions/ExerciseSubmissionList.tsx
  services/main-frontend/src/pages/manage/exercises/[id]/submissions.tsx
  shared-module/src/img/link.svg
  system-tests/src/__screenshots__/model-solution.spec.ts/model-solutions-in-submissions-desktop-regular.png
  system-tests/src/__screenshots__/model-solution.spec.ts/model-solutions-in-submissions-mobile-tall.png
  system-tests/src/tests/model-solution.spec.ts
Labels: shared-module, system-tests, headless-lms, main-frontend, sqlx-data

#1157 Unique nulls not distinct
  services/course-material/src/components/ContentRenderer/core/embeds/variants/YoutubeEmbedBlock.tsx
  services/course-material/src/components/modals/CourseSettingsModal.tsx
  services/headless-lms/migrations/20230622140948_add_unique_nulls_not_distict_to_unique_indexes.down.sql
  services/headless-lms/migrations/20230622140948_add_unique_nulls_not_distict_to_unique_indexes.up.sql
  services/headless-lms/models/sqlx-data.json
  services/headless-lms/models/src/peer_review_queue_entries.rs
  services/main-frontend/src/pages/manage/exercise-services/index.tsx
Labels: course-material, headless-lms, main-frontend, db-migrations, sqlx-data

#1161 Certificate editor fixes
  services/headless-lms/server/src/controllers/helpers/file_uploading.rs
  services/headless-lms/server/src/controllers/main_frontend/certificates.rs
  services/main-frontend/src/components/page-specific/manage/certificates/CertificateForm.tsx
  services/main-frontend/src/components/page-specific/manage/certificates/CertificateView.tsx
  services/main-frontend/src/pages/certificates/validate/[certificateVerificationId].tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/certificates.tsx
  services/main-frontend/src/services/backend/certificates.ts
  shared-module/src/components/system-tests/MaskOverThisInSystemTests.tsx
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/editing-config-desktop-regular.png
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/editing-config-mobile-tall.png
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/management-page-desktop-regular.png
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/management-page-mobile-tall.png
  system-tests/src/tests/certificates/configure-certificate.test.ts
  system-tests/src/utils/screenshot.ts
Labels: shared-module, system-tests, headless-lms, main-frontend
