Repository rage/secret-project-331, pull requests merged in 2023-12, with the labels that each got.

#1213 Fixes
  bin/cargo-clippy
  bin/cargo-clippy-fix
  bin/cargo-doc-open
  services/headless-lms/models/src/pages.rs
  services/headless-lms/server/src/config.rs
  services/headless-lms/server/src/controllers/course_material/courses.rs
  services/headless-lms/server/src/controllers/main_frontend/roles.rs
  services/headless-lms/server/src/domain/authorization.rs
  services/headless-lms/server/src/prelude.rs
  services/headless-lms/server/src/programs/seed/mod.rs
  services/headless-lms/server/src/programs/seed/seed_certificate_fonts.rs
  services/headless-lms/server/src/programs/seed/seed_file_storage.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/server/src/programs/seed/seed_roles.rs
  services/headless-lms/server/src/programs/seed/seed_user_research_consents.rs
  services/headless-lms/server/src/programs/seed/seed_users.rs
  services/headless-lms/utils/src/ip_to_country.rs
  services/main-frontend/src/components/page-specific/manage/exercises/id/submissions/AnswersRequiringAttentionItem.tsx
  system-tests/src/setup/global.setup.spec.ts
  system-tests/src/tests/draft.spec.ts
  system-tests/src/tests/previewing-not-open-chapters.spec.ts
Labels: system-tests, headless-lms, main-frontend, scripts, seed

#1217 Fix more stuff
  services/headless-lms/models/.sqlx/query-1725a72bc66a1d386efb868433b98525cc543f46c649705d5de175e07be8867a.json
  services/headless-lms/models/.sqlx/query-c44fe486649e0ad6b4829ec7a5db6e6624bd368f7815c9a28c14b8437e16a249.json
  services/headless-lms/models/.sqlx/query-c73a2a7333319894d99be453e45b50701829dd037f04f3af0bd3862781c600bf.json
  services/headless-lms/models/.sqlx/query-fa26631ee1f5d8c8fae6c5e0f6d2a4fb1ac361192246f255b2b3ab858131defb.json
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/server/src/controllers/main_frontend/roles.rs
  services/headless-lms/server/src/domain/authorization.rs
  services/main-frontend/src/components/forms/ResearchOnCoursesForm.tsx
  services/main-frontend/src/reducers/managePageOrderReducer.ts
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/__screenshots__/user-research-consent.spec.ts/research-consent-form-desktop-regular.png
  system-tests/src/__screenshots__/user-research-consent.spec.ts/research-consent-form-mobile-tall.png
  system-tests/src/tests/user-research-consent.spec.ts
Labels: shared-module, system-tests, headless-lms, main-frontend

#1221 Quiz item message on model solution and code block fix
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/SyntaxHighlightedContainer.tsx
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/index.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/choose-n/index.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/closed-ended-question/index.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/multiple-choice-dropdown/index.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/multiple-choice/index.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/utils/general.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/index.tsx
  services/quizzes/src/grading/assessment/index.ts
  services/quizzes/src/pages/iframe.tsx
  services/quizzes/src/util/migration/modelSolutionSpecQuiz.ts
  services/quizzes/src/util/migration/privateSpecQuiz.ts
  services/quizzes/tests/api/model-solution-spec.test.ts
  services/quizzes/tests/api/public-spec.test.ts
  services/quizzes/tests/api/utils/privateSpecGenerator.ts
  services/quizzes/types/quizTypes/modelSolutionSpec.ts
  services/quizzes/types/quizTypes/privateSpec.ts
  shared-module/src/locales/en/quizzes.json
  shared-module/src/locales/fi/quizzes.json
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-desktop-regular.png
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-mobile-tall.png
Labels: quizzes, shared-module, system-tests, course-material

#1209 Show feedback and model solution for multiple choice dropdown
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/MultipleChoiceDropdown.tsx
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-correct-answer-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-correct-answer-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-incorrect-answer-after-correct-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-incorrect-answer-after-correct-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-incorrect-answer-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-incorrect-answer-mobile-tall.png
Labels: quizzes, system-tests
