Repository rage/secret-project-331, pull requests merged in 2024-08, with the labels that each got.

#1286 Grade validation for manual completion
  services/headless-lms/models/src/library/progressing.rs
Labels: headless-lms

#1294 Export user exercise states
  services/headless-lms/models/.sqlx/query-87fa0d7430eb072ec832c3b7e7c97ca787ce8fa32112fa41501aead483da7002.json
  services/headless-lms/models/.sqlx/query-f20de7489044f3f5ed6490c3c88c518db59a83efdaa05a833af1c4890a22fb9c.json
  services/headless-lms/models/src/course_instances.rs
  services/headless-lms/models/src/exercises.rs
  services/headless-lms/models/src/user_exercise_states.rs
  services/headless-lms/server/src/controllers/main_frontend/courses.rs
  services/headless-lms/server/src/domain/csv_export/mod.rs
  services/headless-lms/server/src/domain/csv_export/user_exericse_states_export.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/index/ManageCourse.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
Labels: shared-module, headless-lms, main-frontend

#1296 Changed font in View points -page
  services/main-frontend/src/components/page-specific/manage/course-instances/id/ChapterPointsDashboard.tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/points.tsx
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-after-posting-completions-mobile-tall.png
  system-tests/src/__screenshots__/point-view/point-view.spec.ts/point-view-bottom-desktop-regular.png
  system-tests/src/__screenshots__/point-view/point-view.spec.ts/point-view-bottom-mobile-tall.png
  system-tests/src/__screenshots__/point-view/point-view.spec.ts/point-view-top-desktop-regular.png
  system-tests/src/__screenshots__/point-view/point-view.spec.ts/point-view-top-mobile-tall.png
Labels: system-tests, main-frontend

#1302 Update SQLX to 0.8.1
  rust-toolchain.toml
  services/headless-lms/Cargo.lock
  services/headless-lms/Cargo.toml
  services/headless-lms/entrypoint/Cargo.toml
  services/headless-lms/models/Cargo.toml
  services/headless-lms/models/src/library/peer_or_self_reviewing.rs
  services/headless-lms/models/src/library/user_exercise_state_updater/data_loader.rs
  services/headless-lms/models/src/pages.rs
  services/headless-lms/server/Cargo.toml
  services/headless-lms/server/src/domain/csv_export/mod.rs
  services/headless-lms/server/src/domain/exercise_repositories.rs
  services/headless-lms/server/src/programs/service_info_fetcher.rs
  services/headless-lms/utils/Cargo.toml
  services/headless-lms/utils/src/file_store/local_file_store.rs
  services/headless-lms/utils/src/folder_checksum.rs
Labels: dependencies, headless-lms, root

#1301 Fix dialogs not closing
  shared-module/packages/common/src/components/Dialog.tsx
  shared-module/packages/common/src/components/Footer.tsx
  system-tests/src/__screenshots__/material-reference.spec.ts/material-reference-edited-desktop-regular.png
  system-tests/src/__screenshots__/material-reference.spec.ts/material-reference-edited-mobile-tall.png
Labels: shared-module, system-tests
