Repository rage/secret-project-331, pull requests merged in 2024-12, with the labels that each got.

#1345 Update docs
  docs/deployment.md
  docs/index.md
  docs/tests.md
  system-tests/README.md
Labels: system-tests, docs

#1349 Table and footer fixes
  services/course-material/src/components/ContentRenderer/core/embeds/EmbedBlock.tsx
  services/course-material/src/components/ContentRenderer/core/embeds/variants/ThingLinkEmbedBlock.tsx
  services/course-material/src/components/ContentRenderer/core/embeds/variants/VimeoEmbedBlock.tsx
  services/course-material/src/components/ContentRenderer/core/embeds/variants/YoutubeEmbedBlock.tsx
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/index.tsx
  services/course-material/src/components/ContentRenderer/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/IframeBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/RevealableContentBlock/RevealableContentBlock.tsx
  shared-module/packages/common/src/components/Centering/BreakFromCentered.tsx
  shared-module/packages/common/src/locales/uk/shared-module.json
  system-tests/src/__screenshots__/quizzes/feedback/essay.spec.ts/essay-feedback-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/essay.spec.ts/essay-feedback-mobile-tall.png
Labels: shared-module, system-tests, course-material

#1342 Privacy link + chapter progress
  services/cms/src/components/editors/PartnersBlockEditor.tsx
  services/course-material/src/components/ContentRenderer/moocfi/NavigationContainer/NextPage.tsx
  services/course-material/src/components/ContentRenderer/moocfi/NavigationContainer/index.tsx
  services/course-material/src/components/layout/Layout.tsx
  services/course-material/src/components/layout/PartnersSection.tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/migrations/20241201122945_create_privacy_links.down.sql
  services/headless-lms/migrations/20241201122945_create_privacy_links.up.sql
  services/headless-lms/models/.sqlx/query-669a92b24018a513f1c8b957d9fb56ca2ee77c31536317d768398c36cfd0265b.json
  services/headless-lms/models/.sqlx/query-d55f807296b716b717599120ce0cf78aaa34d727c09a57b821491d3feb88fb6d.json
  services/headless-lms/models/.sqlx/query-fe859499b7fb243248f31078141356235a5e8470eee816d22a8cdd2d2042097d.json
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/privacy_link.rs
  services/headless-lms/server/src/controllers/course_material/courses.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/components/Footer.tsx
  shared-module/packages/common/src/locales/en/cms.json
  shared-module/packages/common/src/locales/en/course-material.json
  system-tests/src/__screenshots__/author.spec.ts/author-block-desktop-regular.png
  system-tests/src/__screenshots__/author.spec.ts/author-block-mobile-tall.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-after-posting-completions-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/course-instance-management.spec.ts/course-management-page-with-new-instance-desktop-regular.png
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-creating-new-module-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-creating-new-module-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-deletion-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-deletion-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-deletion-reset-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-deletion-reset-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-last-update-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-last-update-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-saving-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-saving-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/initial-module-management-page-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/initial-module-management-page-mobile-tall.png
  system-tests/src/__screenshots__/glossary-tooltip.spec.ts/glossary-tooltips-desktop-regular.png
  system-tests/src/__screenshots__/glossary-tooltip.spec.ts/glossary-tooltips-mobile-tall.png
  system-tests/src/__screenshots__/glossary.spec.ts/added-new-term-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/deleted-term-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/edited-term-desktop-regular.png
  system-tests/src/__screenshots__/gutenberg/spacer-not-breaking-editing.spec.ts/new-block-inserter-should-not-obscure-typing-caret-desktop-regular.png
  system-tests/src/__screenshots__/latex.spec.ts/latex-desktop-regular.png
  system-tests/src/__screenshots__/latex.spec.ts/latex-mobile-tall.png
  system-tests/src/__screenshots__/material-reference.spec.ts/citation-in-editor-desktop-regular.png
  system-tests/src/__screenshots__/material-reference.spec.ts/closed-course-material-reference-list-desktop-regular.png
  system-tests/src/__screenshots__/material-reference.spec.ts/open-course-material-reference-list-desktop-regular.png
  system-tests/src/__screenshots__/permissions.spec.ts/edited-permission-desktop-regular.png
  system-tests/src/__screenshots__/permissions.spec.ts/removed-permission-desktop-regular.png
  system-tests/src/__screenshots__/point-view/point-view.spec.ts/point-view-bottom-desktop-regular.png
  system-tests/src/__screenshots__/query-mutation-notifications/success-notification.spec.ts/success-notification-test-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-feedback-incorrect-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-feedback-incorrect-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-filled-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-filled-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-initial-desktop-regular.png
Labels: shared-module, system-tests, course-material, headless-lms, cms, db-migrations

#1332 Mailchimp
  kubernetes/base/headless-lms/mailchimp-syncer.yml
  kubernetes/base/kustomization.yaml
  services/course-material/src/components/forms/SelectCourseInstanceForm.tsx
  services/course-material/src/components/forms/SelectMarketingConsentForm.tsx
  services/course-material/src/components/modals/CourseSettingsModal.tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/entrypoint/src/main.rs
  services/headless-lms/migrations/20241023104801_add-marketing-consent.down.sql
  services/headless-lms/migrations/20241023104801_add-marketing-consent.up.sql
  services/headless-lms/models/.sqlx/query-0a881c84d211755c24c03586b0d5be217790808cb8751ae50d121321f0be9856.json
  services/headless-lms/models/.sqlx/query-3036b60a162754931a2128c92caf88b9e98e50393c53dc95ac919e7065eb4a65.json
  services/headless-lms/models/.sqlx/query-32396d664f3f617f45c734993b62373ceff25cf391850e08a2697e0dd03f8d94.json
  services/headless-lms/models/.sqlx/query-393824929f6e6e064757af094951bc418d2da0f66429c32c48708cd3dccd0f3a.json
  services/headless-lms/models/.sqlx/query-401662d18cc190e1bab25142d7c3f021a4e66262cd6784eef8bc68a0c2727471.json
  services/headless-lms/models/.sqlx/query-668b7cb6022b915f1838997679cc60864b00491bb34f1559377a36cee1a6485c.json
  services/headless-lms/models/.sqlx/query-6f9c9d6f61094b88673acaa9d820bc13fd0bbc0f7d52c0e3714ba77e0c81280e.json
  services/headless-lms/models/.sqlx/query-748c01cf60043988fba2a02a5d1ea5c3fd35a5adbd69b62e5dd5daa0855596b5.json
  services/headless-lms/models/.sqlx/query-8b8d471ed21eb709b5332c5bb4ab3460a7f3089988d959d05fba690f17d9d456.json
  services/headless-lms/models/.sqlx/query-9fbc4e80f16e7cab3c8928ed195aa6b786df2e76edf819f9decfa7c441591925.json
  services/headless-lms/models/.sqlx/query-a6659b3a5772ec77fc86b1a7e6abf2f884ee622559d13dfa0d47261cc9f8d4a2.json
  services/headless-lms/models/.sqlx/query-a9f3390d8ad3debab9850325c54beba6bf46eaaec156732e307dcaa0ce08f600.json
  services/headless-lms/models/.sqlx/query-b5da68bc470f028a050fcca492eaf73c18e7f97137ea7f5f4ce1f1322e8c137c.json
  services/headless-lms/models/.sqlx/query-b7647f94557ccce49973abf5a9829a594929d26cdbdebe3ae65a75e63b25d537.json
  services/headless-lms/models/.sqlx/query-bbec51d086e46c8b3e4e547fc88ad8ed5ddd43db737ec99e48391668646d49f9.json
  services/headless-lms/models/.sqlx/query-cdf31684a716948b9ed005acb59f8b556d48af088e3f489e627565a330b26ffb.json
  services/headless-lms/models/.sqlx/query-d2b6cb427cd241cddbfb9f4fabd743103c99859dc65a648774fdd8c6bb7d89b4.json
  services/headless-lms/models/.sqlx/query-e1a28636054909bb7e9622667a32bdcb2a17e6df2bf5b046fb6ecc92640943f5.json
  services/headless-lms/models/.sqlx/query-ee5080bbfb823d38cfbd65043c874be0cd06b4310d4a5156fdb306054916c9e5.json
  services/headless-lms/models/.sqlx/query-f52994d7e2e279a1a5f31d4486f6911035d1d91ddcb9d346df8aa848c0b29ec7.json
  services/headless-lms/models/.sqlx/query-f53c5545a9f632da9076ce08319f10b891d1b22fa2716e958a3de831f22217c8.json
  services/headless-lms/models/.sqlx/query-fa2a4f76355cf8f829e239ae278ab72efc11d1cf746c7081e5ca1e25eee9f7cd.json
  services/headless-lms/models/src/chapters.rs
  services/headless-lms/models/src/courses.rs
  services/headless-lms/models/src/exams.rs
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/models/src/marketing_consents.rs
  services/headless-lms/models/src/test_helper.rs
  services/headless-lms/server/src/controllers/course_material/courses.rs
  services/headless-lms/server/src/programs/mailchimp_syncer.rs
  services/headless-lms/server/src/programs/mod.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/headless-lms/server/tests/study_registry_test.rs
  services/main-frontend/src/components/forms/NewCourseForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/index/UpdateCourseForm.tsx
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/course-material.json
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/locales/uk/course-material.json
  system-tests/src/tests/change-course-language.spec.ts
Labels: shared-module, system-tests, course-material, headless-lms, main-frontend, db-migrations, deployments, seed

#1355 Update translations and fix language changing when signing up
  kubernetes/base/headless-lms/mailchimp-syncer.yml
  services/course-material/src/components/navigation/UserNavigationControls.tsx
  services/headless-lms/server/src/programs/mailchimp_syncer.rs
  services/headless-lms/wait-for-db-migrations.sh
  shared-module/packages/common/src/hooks/useLanguage.tsx
  shared-module/packages/common/src/locales/ar/cms.json
  shared-module/packages/common/src/locales/ar/course-material.json
  shared-module/packages/common/src/locales/ar/main-frontend.json
  shared-module/packages/common/src/locales/en/course-material.json
  shared-module/packages/common/src/locales/fi/cms.json
  shared-module/packages/common/src/locales/fi/course-material.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/locales/uk/cms.json
  shared-module/packages/common/src/locales/uk/course-material.json
  shared-module/packages/common/src/locales/uk/main-frontend.json
  system-tests/src/__screenshots__/author.spec.ts/author-block-desktop-regular.png
  system-tests/src/__screenshots__/author.spec.ts/author-block-mobile-tall.png
  system-tests/src/__screenshots__/glossary-tooltip.spec.ts/glossary-tooltips-desktop-regular.png
  system-tests/src/__screenshots__/glossary-tooltip.spec.ts/glossary-tooltips-mobile-tall.png
  system-tests/src/__screenshots__/latex.spec.ts/latex-desktop-regular.png
  system-tests/src/__screenshots__/latex.spec.ts/latex-mobile-tall.png
Labels: shared-module, system-tests, course-material, headless-lms, deployments

#1357 Allow customizing course checkbox privacy policy texts, make wide tables responsive inside exercises, and misc fixes
  services/cms/src/utils/Gutenberg/editBlockThemeJsonSettings.ts
  services/course-material/src/components/ContentRenderer/core/formatting/TableBlock.tsx
  services/course-material/src/components/forms/SelectMarketingConsentForm.tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/migrations/20241212140953_course_custom_privacy_policy_checkbox_texts.down.sql
  services/headless-lms/migrations/20241212140953_course_custom_privacy_policy_checkbox_texts.up.sql
  services/headless-lms/models/.sqlx/query-953607b07ff76b32b28eb3fb706a5770aa7fa66cc978781a8fc8235ff277eb08.json
  services/headless-lms/models/src/course_custom_privacy_policy_checkbox_texts.rs
  services/headless-lms/models/src/lib.rs
  services/headless-lms/server/src/controllers/course_material/courses.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/uk/course-material.json
  shared-module/packages/common/src/locales/uk/main-frontend.json
  shared-module/packages/common/src/locales/uk/shared-module.json
Labels: shared-module, course-material, headless-lms, cms, db-migrations

#1359 Bug fixes
  services/course-material/src/components/ContentRenderer/moocfi/AsideWithImageBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/NavigationContainer/NextPage.tsx
  services/course-material/src/components/layout/Layout.tsx
  services/course-material/src/components/layout/PartnersSection.tsx
  services/headless-lms/server/src/controllers/cms/courses.rs
  services/headless-lms/server/src/controllers/course_material/courses.rs
  shared-module/packages/common/src/components/Card/IllustrationCard.tsx
  shared-module/packages/common/src/styles/GlobalStyles.tsx
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-desktop-regular.png
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-mobile-tall.png
Labels: shared-module, system-tests, course-material, headless-lms

#1361 Allow to write multiple lines in quizzes if using [markdown]
  docs/plugin-system.md
  services/quizzes/src/components/MarkdownEditor.tsx
  services/quizzes/src/components/ParsedText/tagParser.ts
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizCommonInfo.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/common/ParsedTextField.tsx
  services/quizzes/src/contexts/MessagePortContext.tsx
  services/quizzes/src/pages/iframe.tsx
  shared-module/packages/common/src/components/InputFields/TextField.tsx
  shared-module/packages/common/src/components/MessageChannelIFrame.tsx
  shared-module/packages/common/src/exercise-service-protocol-types.guard.ts
  shared-module/packages/common/src/exercise-service-protocol-types.ts
  shared-module/packages/common/src/locales/en/quizzes.json
  shared-module/packages/common/src/locales/uk/main-frontend.json
  shared-module/packages/common/src/utils/responseHeaders.js
  system-tests/src/__screenshots__/course-instance-management/course-instance-management.spec.ts/management-page-after-changes-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/course-instance-management.spec.ts/management-page-after-changes-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-creating-new-module-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-last-update-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-mobile-tall.png
  system-tests/src/tests/quizzes/create-and-save-quizzes.spec.ts
Labels: quizzes, shared-module, system-tests, docs
