Repository rage/secret-project-331, pull requests merged in 2024-11, with the labels that each got.

#1333 More element of AI components
  services/cms/src/blocks/AsideWithImage/AsideWithImageEditor.tsx
  services/cms/src/blocks/AsideWithImage/AsideWithImageSave.tsx
  services/cms/src/blocks/AsideWithImage/index.tsx
  services/cms/src/blocks/Terminology/TerminologyBlockEditor.tsx
  services/cms/src/blocks/Terminology/index.tsx
  services/cms/src/blocks/index.tsx
  services/course-material/src/components/ContentRenderer/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/AsideWithImageBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/AuthorBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/AuthorInnerBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/Ingress.tsx
  services/course-material/src/components/ContentRenderer/moocfi/LogoLink.tsx
  services/course-material/src/components/ContentRenderer/moocfi/TerminologyBlock.tsx
  services/main-frontend/src/components/PermissionPage.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/ExerciseList.tsx
  shared-module/packages/common/src/locales/en/cms.json
  system-tests/src/__screenshots__/permissions.spec.ts/edited-permission-desktop-regular.png
  system-tests/src/__screenshots__/permissions.spec.ts/editing-permission-desktop-regular.png
  system-tests/src/__screenshots__/permissions.spec.ts/removed-permission-desktop-regular.png
  system-tests/src/__screenshots__/permissions.spec.ts/sorted-by-email-desktop-regular.png
  system-tests/src/__screenshots__/permissions.spec.ts/sorted-by-role-desktop-regular.png
Labels: shared-module, system-tests, course-material, cms, main-frontend

#1335 Don't allow empty strings when creating items on the glossary
  services/headless-lms/migrations/20241114074254_add_constraints_to_glossary.down.sql
  services/headless-lms/migrations/20241114074254_add_constraints_to_glossary.up.sql
  services/main-frontend/src/components/page-specific/manage/courses/id/glossary/CourseGlossary.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/glossary/CreateTermForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/glossary/TermItem.tsx
  system-tests/src/__screenshots__/glossary.spec.ts/added-new-term-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/added-new-term-mobile-tall.png
  system-tests/src/__screenshots__/glossary.spec.ts/deleted-term-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/deleted-term-mobile-tall.png
  system-tests/src/__screenshots__/glossary.spec.ts/edited-term-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/edited-term-mobile-tall.png
  system-tests/src/__screenshots__/glossary.spec.ts/editing-term-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/editing-term-mobile-tall.png
  system-tests/src/__screenshots__/glossary.spec.ts/initial-glossary-management-page-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/initial-glossary-management-page-mobile-tall.png
  system-tests/src/tests/glossary.spec.ts
Labels: system-tests, headless-lms, main-frontend, db-migrations

#1336 Partners block
  services/cms/src/blocks/ConditionalBlock/ConditionalBlockEditor.tsx
  services/cms/src/blocks/Partners/PartnersEditor.tsx
  services/cms/src/blocks/Partners/PartnersSave.tsx
  services/cms/src/blocks/Partners/index.tsx
  services/cms/src/blocks/index.tsx
  services/cms/src/blocks/supportedGutenbergBlocks.ts
  services/cms/src/components/editors/PartnersBlockEditor.tsx
  services/cms/src/pages/partners-block/[id]/edit.tsx
  services/cms/src/services/backend/partners-block.ts
  services/course-material/src/components/ContentRenderer/index.tsx
  services/course-material/src/components/layout/DynamicSvg.tsx
  services/course-material/src/components/layout/Layout.tsx
  services/course-material/src/components/layout/PartnersSection.tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/migrations/20241112104854_create_partners_blocks.down.sql
  services/headless-lms/migrations/20241112104854_create_partners_blocks.up.sql
  services/headless-lms/models/.sqlx/query-35b3b34cdc91dcd81c37e4c8c2539157d5bbf440edb85075cefc1f906e1a2122.json
  services/headless-lms/models/.sqlx/query-879dbb664f2cbc283978c0423f18019600513dcd47aab2e9ddd2ba8a2b7661a2.json
  services/headless-lms/models/.sqlx/query-9bbd67bd9326d6a5824cb6f6a084da3c5dbff670352ea2706ef89fa18578ca6c.json
  services/headless-lms/models/.sqlx/query-f8de59ef7e3c893d2eb6331cb659037e037eef32a0683a5d9556f2bcff2c35df.json
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/partner_block.rs
  services/headless-lms/server/src/controllers/cms/courses.rs
  services/headless-lms/server/src/controllers/course_material/courses.rs
  services/headless-lms/server/src/controllers/main_frontend/courses.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/ManageCourseStructure.tsx
  services/main-frontend/src/services/backend/courses.ts
  services/main-frontend/src/utils/routing.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-eng-to-fi-desktop-regular.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-eng-to-fi-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-incorrect-answer-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-incorrect-answer-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-incorrect-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/timeline.spec.ts/timeline-initial-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/timeline.spec.ts/timeline-initial-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-initial-mobile-tall.png
  system-tests/src/fixtures/media/sample-logo.svg
  system-tests/src/tests/partners-block.spec.ts
Labels: shared-module, system-tests, course-material, headless-lms, cms, main-frontend, db-migrations
