Repository rage/secret-project-331, pull requests merged in 2024-10, with the labels that each got.

#1328 Update vdi instructions
  docs/vdi-setup.md
Labels: docs

#1305 Expandable content -block
  services/cms/src/blocks/ExpandableContent/ExpandableContentEditor.tsx
  services/cms/src/blocks/ExpandableContent/ExpandableContentInnerBlock/ExpandableContentInnerBlockEditor.tsx
  services/cms/src/blocks/ExpandableContent/ExpandableContentInnerBlock/ExpandableContentInnerBlockSave.tsx
  services/cms/src/blocks/ExpandableContent/ExpandableContentInnerBlock/index.tsx
  services/cms/src/blocks/ExpandableContent/ExpandableContentSave.tsx
  services/cms/src/blocks/ExpandableContent/index.tsx
  services/cms/src/blocks/FlipCard/BackFlipCard/BackFlipCardEditor.tsx
  services/cms/src/blocks/FlipCard/BackFlipCard/BackFlipCardSave.tsx
  services/cms/src/blocks/FlipCard/BackFlipCard/index.tsx
  services/cms/src/blocks/FlipCard/FlipCardEditor.tsx
  services/cms/src/blocks/FlipCard/FlipCardSave.tsx
  services/cms/src/blocks/FlipCard/FrontFlipCard/FrontFlipCardEditor.tsx
  services/cms/src/blocks/FlipCard/FrontFlipCard/FrontFlipCardSave.tsx
  services/cms/src/blocks/FlipCard/FrontFlipCard/index.tsx
  services/cms/src/blocks/FlipCard/index.tsx
  services/cms/src/blocks/RevealableContent/RevealableContentEditor.tsx
  services/cms/src/blocks/RevealableContent/RevealableContentSave.tsx
  services/cms/src/blocks/RevealableContent/RevealableHiddenContent/RevealableHiddenContentEditor.tsx
  services/cms/src/blocks/RevealableContent/RevealableHiddenContent/RevealableHiddenContentSave.tsx
  services/cms/src/blocks/RevealableContent/RevealableHiddenContent/index.tsx
  services/cms/src/blocks/RevealableContent/index.tsx
  services/cms/src/blocks/index.tsx
  services/cms/src/components/blocks/FlipCardSizeCustomizer.tsx
  services/course-material/src/components/ContentRenderer/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ExpandableContentBlock/ExpandableContentBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ExpandableContentBlock/ExpandableContentInnerBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/FlipCard/FlipCardBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/FlipCard/InnerCardBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/RevealableContentBlock/RevealableContentBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/RevealableContentBlock/RevealableHiddenContentBlock.tsx
  shared-module/packages/common/src/locales/en/cms.json
  shared-module/packages/common/src/locales/en/course-material.json
  shared-module/packages/common/src/locales/fi/cms.json
  shared-module/packages/common/src/locales/fi/course-material.json
Labels: shared-module, course-material, cms

#1314 Make course instance joinable with a special code
  services/headless-lms/migrations/20240930042528_add-join-code-uses.down.sql
  services/headless-lms/migrations/20240930042528_add-join-code-uses.up.sql
  services/headless-lms/models/.sqlx/query-032e00af20a43472c6e91d155e130a6e0790e330a6d943c1b4871eef476e26d0.json
  services/headless-lms/models/.sqlx/query-13554c9b1e813c29066c90df0e04a3b84ed33fc39fadae2253c80a9761e39903.json
  services/headless-lms/models/.sqlx/query-2f227e2bf3a4dd0828def3caa59b00246bf72c3a2bc0b40a9ff94e14ce61615f.json
  services/headless-lms/models/.sqlx/query-31935ca7a5eb235ff25de151ade3680cd9381921f3017f3413c61875548dc92b.json
  services/headless-lms/models/.sqlx/query-50d7e5768bc24ec9a2c18d11ce77ac35db826c01ec7bc05cb905aab1c51ba7e4.json
  services/headless-lms/models/.sqlx/query-5303f036fecb3efa8dce1756eaf2193d7e6c2f5cb7c9267b14e193daf525d997.json
  services/headless-lms/models/.sqlx/query-63132d1b35ab7549158a6f5e330221a49cd06eb066e344d338efee8289d68e35.json
  services/headless-lms/models/.sqlx/query-659d8635c8511990904c11ca7a200ae7559ffeca619e7a8ecc975b19fe933f2e.json
  services/headless-lms/models/.sqlx/query-786d41394659b910e6833a0ae0876193fe5ec3089cbe4da15565174322edbf9f.json
  services/headless-lms/models/.sqlx/query-8202eb97a2b1f388a51758e7fcf8d69b2e68544fae551e3da0a41bc6e9a2de9c.json
  services/headless-lms/models/.sqlx/query-82fe4061970937715a5e2d15682c8aed17f804b6a1823dad140ee6f5f4ff5ce6.json
  services/headless-lms/models/.sqlx/query-ae1ed9d41861ec3cd6038dc2aa8c5a86234832d8bcce20b54ae05ffe643e6f99.json
  services/headless-lms/models/.sqlx/query-cc2fceb2f75d704b551705f15ffcdae210fce2baf7b9d3612f77b6548a6df68c.json
  services/headless-lms/models/.sqlx/query-d0bedcc2c41efb7bff7b70e6e48d690bfd173347719f3ba48c4bbf489b52b38d.json
  services/headless-lms/models/.sqlx/query-d7d3c14b4d8d900248d80589c9dc73bf98ec7672563931ae546c7fbbf01463e0.json
  services/headless-lms/models/.sqlx/query-dc6b04142ac276503be3b714a535f56e008e8516a2c38f2f149fbeaa1571c5ed.json
  services/headless-lms/models/.sqlx/query-dc7313994c18a88543cde9bb43521f7ca63b67950784ce377055eecbd0af0102.json
  services/headless-lms/models/.sqlx/query-e45f9d2d34d5e905575efd5c61b0519ddeb78673c0df31a3e078c642f2b6106d.json
  services/headless-lms/models/.sqlx/query-ebcc56fdcf585b87b73a715bc114a8c5809204b3f3c5a1e6b08de8bcd54b7e44.json
  services/headless-lms/models/.sqlx/query-f85e90f73c74ed500cec06a100a1196db665c91c4b8805d70fa94ffca87da53a.json
  services/headless-lms/models/src/chapters.rs
  services/headless-lms/models/src/courses.rs
  services/headless-lms/models/src/exams.rs
  services/headless-lms/models/src/join_code_uses.rs
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/models/src/test_helper.rs
  services/headless-lms/server/src/controllers/main_frontend/courses.rs
  services/headless-lms/server/src/domain/authorization.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/server/tests/study_registry_test.rs
  services/main-frontend/src/components/forms/NewCourseForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/index/ManageCourse.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/index/UpdateCourseForm.tsx
  services/main-frontend/src/pages/join.tsx
  services/main-frontend/src/services/backend/courses.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  system-tests/src/tests/join-course-only-by-code.spec.ts
  system-tests/src/tests/peer-reviews/giving-extra-reviews.spec.ts
Labels: shared-module, system-tests, headless-lms, main-frontend, db-migrations, seed

#1331 Add Ukrainian translations, and add some missing translations
  bin/translations-translate
  bin/translations-translate-missing
  shared-module/packages/common/src/locales/ar/cms.json
  shared-module/packages/common/src/locales/ar/course-material.json
  shared-module/packages/common/src/locales/uk/cms.json
  shared-module/packages/common/src/locales/uk/course-material.json
  shared-module/packages/common/src/locales/uk/example-exercise.json
  shared-module/packages/common/src/locales/uk/main-frontend.json
  shared-module/packages/common/src/locales/uk/quizzes.json
  shared-module/packages/common/src/locales/uk/shared-module.json
  shared-module/packages/common/src/locales/uk/tmc.json
Labels: shared-module, scripts
