Repository rage/secret-project-331, pull requests merged in 2024-05, with the labels that each got.

#1269 Fixes 346
  services/course-material/src/components/ContentRenderer/util/textParsing.tsx
  services/course-material/src/components/HeroSection.tsx
  services/headless-lms/models/.sqlx/query-e89cb78556548e61e2993ea961fb6db4ca7c7e96af9fb7b2e4537fc0e6325ef4.json
  services/headless-lms/models/src/course_module_completions.rs
  services/headless-lms/server/src/domain/csv_export/course_instance_export.rs
  shared-module/src/locales/en/cms.json
  shared-module/src/locales/fi/cms.json
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-desktop-regular.png
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-mobile-tall.png
  system-tests/src/tests/course-instance-management/add-completions.spec.ts
  system-tests/src/tests/user-research-consent.spec.ts
Labels: shared-module, system-tests, course-material, headless-lms

#1271 Exercise_tasks csv download: Add information about course module and …
  services/headless-lms/models/.sqlx/query-19cd3095e51c03ad9530532ba53e1a4b0cdf2f932d74ab481b2172741f41d84d.json
  services/headless-lms/models/.sqlx/query-47f8bdc7ad618adb4f5de48989e1548d0c7284b5fd322c63c1c53ea127491e76.json
  services/headless-lms/models/.sqlx/query-8c911d4dc7a5e9807eb77cb2ce423a266d6249a5880cf618cccf0639ddfd8539.json
  services/headless-lms/models/.sqlx/query-a38113607035916d35463f3d2496532283338aee520851aabc879f96ab0f6537.json
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/exercise_tasks.rs
  services/headless-lms/models/src/user_details.rs
  services/headless-lms/server/src/domain/csv_export/exercise_tasks_export.rs
Labels: headless-lms

#1276 Store rejected submissions for helping to debug why they were rejected.
  services/headless-lms/migrations/20240521125646_store-rejected-submissions.down.sql
  services/headless-lms/migrations/20240521125646_store-rejected-submissions.up.sql
  services/headless-lms/models/.sqlx/query-a84a8c368b478f84639a29031deb0b98ed2e750154d3c802a4728b9e269345a1.json
  services/headless-lms/models/.sqlx/query-cec6fa9b6a186076ff43935930627abd3db4f13c50f37c4998d67bafc26b6c46.json
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/lib.rs
  services/headless-lms/models/src/library/grading.rs
  services/headless-lms/models/src/library/regrading.rs
  services/headless-lms/models/src/rejected_exercise_slide_submissions.rs
  services/headless-lms/server/src/controllers/course_material/exercises.rs
  services/headless-lms/server/src/controllers/langs.rs
  services/headless-lms/server/src/domain/csv_export/mod.rs
  services/headless-lms/server/src/domain/exercises.rs
Labels: headless-lms, db-migrations
