Repository rage/secret-project-331, pull requests merged in 2024-09, with the labels that each got.

#1307 Fix peer review course instance problem
  services/headless-lms/models/src/library/peer_or_self_reviewing.rs
  services/headless-lms/server/src/controllers/course_material/exercises.rs
Labels: headless-lms

#1308 Add indices
  services/headless-lms/migrations/20240905095603_add_indices.down.sql
  services/headless-lms/migrations/20240905095603_add_indices.up.sql
  system-tests/src/tests/quizzes/feedback/clickable-multiple-choice.spec.ts
Labels: system-tests, headless-lms, db-migrations

#1309 Fixes to the peer review editor and to the end of page component
  services/cms/src/utils/documentSchemaProcessor.tsx
  services/course-material/src/components/ContentRenderer/moocfi/NavigationContainer/NextPage.tsx
  services/headless-lms/migrations/20240906071926_index_changes.down.sql
  services/headless-lms/migrations/20240906071926_index_changes.up.sql
  services/headless-lms/models/.sqlx/query-28a419db424a71fdcf8d847e0deec2b7443938ea02b7bf74263036db833333e9.json
  services/headless-lms/models/.sqlx/query-3123a2e534bef1a86ba82fa20c6ea60e15beab091e459493618e21ab0cc573b4.json
  services/headless-lms/models/.sqlx/query-f07d3f623ea46fb7d2fbddd9bfe470aee587ea163063b8df11cfae3d53c7d114.json
  services/headless-lms/models/src/exercise_slide_submissions.rs
  services/headless-lms/models/src/pages.rs
  shared-module/packages/common/src/components/InputFields/TextAreaField.tsx
  shared-module/packages/common/src/components/NextSectionLink.tsx
  system-tests/src/__screenshots__/author.spec.ts/author-block-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-another-module-preview-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-default-module-preview-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-default-module-preview-mobile-tall.png
  system-tests/src/__screenshots__/feedback/feedback.spec.ts/feedback-input-desktop-regular.png
  system-tests/src/__screenshots__/feedback/feedback.spec.ts/feedback-input-mobile-tall.png
  system-tests/src/__screenshots__/glossary-tooltip.spec.ts/glossary-tooltips-desktop-regular.png
  system-tests/src/__screenshots__/glossary-tooltip.spec.ts/glossary-tooltips-mobile-tall.png
  system-tests/src/__screenshots__/glossary.spec.ts/added-new-term-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/added-new-term-mobile-tall.png
  system-tests/src/__screenshots__/glossary.spec.ts/deleted-term-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/deleted-term-mobile-tall.png
  system-tests/src/__screenshots__/glossary.spec.ts/edited-term-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/edited-term-mobile-tall.png
  system-tests/src/__screenshots__/glossary.spec.ts/editing-term-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/editing-term-mobile-tall.png
  system-tests/src/__screenshots__/glossary.spec.ts/initial-glossary-management-page-desktop-regular.png
  system-tests/src/__screenshots__/glossary.spec.ts/initial-glossary-management-page-mobile-tall.png
  system-tests/src/__screenshots__/material-reference.spec.ts/add-new-material-reference-dialog-desktop-regular.png
  system-tests/src/__screenshots__/material-reference.spec.ts/add-new-material-reference-dialog-mobile-tall.png
  system-tests/src/__screenshots__/material-reference.spec.ts/material-reference-editor-desktop-regular.png
  system-tests/src/__screenshots__/material-reference.spec.ts/material-reference-editor-mobile-tall.png
Labels: shared-module, system-tests, course-material, headless-lms, cms, db-migrations

#1310 Fixes 4422
  services/cms/src/blocks/InstructionBox/InstructionBoxEditor.tsx
  services/course-material/src/components/ContentRenderer/core/embeds/variants/ThingLinkEmbedBlock.tsx
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/SyntaxHighlightedContainer.tsx
  services/main-frontend/src/components/forms/EditExamForm.tsx
  shared-module/packages/common/src/locales/en/course-material.json
  shared-module/packages/common/src/locales/fi/course-material.json
  shared-module/packages/common/src/styles/GlobalStyles.tsx
Labels: shared-module, course-material, cms, main-frontend

#1311 Don't show code giveaways for people who are not logged in
  services/course-material/src/components/ContentRenderer/moocfi/CodeGiveAway/index.tsx
  services/headless-lms/server/src/domain/authorization.rs
Labels: course-material, headless-lms

#1315 Add Arabic ui texts for testing rtl languages
  bin/translations-translate
  shared-module/packages/common/src/hooks/useLanguage.tsx
  shared-module/packages/common/src/locales/ar/cms.json
  shared-module/packages/common/src/locales/ar/course-material.json
  shared-module/packages/common/src/locales/ar/example-exercise.json
  shared-module/packages/common/src/locales/ar/main-frontend.json
  shared-module/packages/common/src/locales/ar/quizzes.json
  shared-module/packages/common/src/locales/ar/shared-module.json
  shared-module/packages/common/src/locales/ar/tmc.json
Labels: shared-module, scripts

#1316 Update setup instructions
  bin/detect-dev-env-problems
  bin/download-tmc-langs
  docs/Development.md
  package.json
  shared-module/package-lock.json
  shared-module/package.json
  shared-module/packages/create-exercise-service/package-lock.json
  shared-module/packages/create-exercise-service/package.json
Labels: dependencies, shared-module, root, docs, scripts

#1317 Always set text dir
  services/cms/src/pages/_app.tsx
  services/course-material/src/components/layout/Layout.tsx
  services/course-material/src/pages/_app.tsx
  services/main-frontend/src/pages/_app.tsx
  shared-module/packages/common/src/hooks/useLanguage.tsx
Labels: shared-module, course-material, cms, main-frontend
