Repository rage/secret-project-331, pull requests merged in 2024-01, with the labels that each got.

#1214 Task assignment is displayed in peer review
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/PeerReviewView/PeerReviewViewImpl.tsx
  system-tests/src/tests/peer-reviews/peer_review_utils.ts
Labels: system-tests, course-material

#1224 Updates slugs in internal links from pages when copying course
  services/headless-lms/models/src/library/copying.rs
Labels: headless-lms

#1227 Add rust-toolchain.toml
  .github/workflows/code-style.yml
  bin/update-dependencies-part-1
  bin/update-rust
  docs/updating-dependencies.md
  rust-toolchain.toml
Labels: root, docs, scripts
