Repository rage/secret-project-331, pull requests merged in 2024-02, with the labels that each got.

#1228 Conditional block
  services/cms/src/blocks/BlockPlaceholderWrapper.tsx
  services/cms/src/blocks/ChapterProgress/ChapterProgressEditor.tsx
  services/cms/src/blocks/ConditionalBlock/ConditionalBlockEditor.tsx
  services/cms/src/blocks/ConditionalBlock/ConditionalBlockSave.tsx
  services/cms/src/blocks/ConditionalBlock/index.tsx
  services/cms/src/blocks/Congratulations/CongratulationsEditor.tsx
  services/cms/src/blocks/CourseChapterGrid/CourseChapterGridEditor.tsx
  services/cms/src/blocks/CourseProgress/CourseProgressEditor.tsx
  services/cms/src/blocks/ExerciseInChapter/ExercisesInChapterEditor.tsx
  services/cms/src/blocks/Glossary/GlossaryEditor.tsx
  services/cms/src/blocks/Map/MapEditor.tsx
  services/cms/src/blocks/PagesInChapter/PagesInChapterEditor.tsx
  services/cms/src/blocks/TopLevelPage/TopLevelPageEditor.tsx
  services/cms/src/blocks/UnsupportedBlock/UnsupportedEditor.tsx
  services/cms/src/blocks/index.tsx
  services/cms/src/services/backend/course-instances.ts
  services/cms/src/services/backend/courses.ts
  services/course-material/src/components/ContentRenderer/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ConditionalBlock.tsx
  services/course-material/src/components/ContentRenderer/moocfi/CongratulationsBlock/index.tsx
  services/course-material/src/hooks/useUserModuleCompletions.tsx
  services/headless-lms/server/src/controllers/cms/courses.rs
  shared-module/src/locales/en/cms.json
Labels: shared-module, course-material, headless-lms, cms

#1245 Fixes 2223
  services/quizzes/src/components/MarkdownEditor.tsx
  services/quizzes/src/components/ParsedText/TextNodeImpl.tsx
  services/quizzes/src/components/ParsedText/index.tsx
  services/quizzes/src/components/ParsedText/tagParser.ts
  services/quizzes/src/components/exercise-service-views/AnswerExercise/impl-by-quiz-item-type/Checkbox.tsx
  services/quizzes/src/components/exercise-service-views/AnswerExercise/impl-by-quiz-item-type/ClosedEndedQuestion.tsx
  services/quizzes/src/components/exercise-service-views/AnswerExercise/impl-by-quiz-item-type/Scale.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/Closed-ended-question.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/MultipleChoice.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/Scale.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/index.tsx
  shared-module/src/utils/dateUtil.ts
  system-tests/src/tests/add-manual-completions.spec.ts
  system-tests/src/tests/quizzes/feedback/scale.spec.ts
  system-tests/src/tests/quizzes/feedback/vector.spec.ts
  system-tests/src/tests/quizzes/widget/feedback.spec.ts
Labels: quizzes, shared-module, system-tests

#1246 Exercise custom view
  bin/.common
  services/cms/src/blocks/ConditionalBlock/ConditionalBlockEditor.tsx
  services/cms/src/blocks/ExerciseCustomView/ExerciseCustomViewEditor.tsx
  services/cms/src/blocks/ExerciseCustomView/ExerciseCustomViewSave.tsx
  services/cms/src/blocks/ExerciseCustomView/index.tsx
  services/cms/src/blocks/ExerciseTask/IFrameEditor.tsx
  services/cms/src/blocks/index.tsx
  services/course-material/src/components/ContentRenderer/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/ExerciseTask.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/ExerciseTaskIframe.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseCustomViewBlock/CustomViewIframe.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseCustomViewBlock/index.tsx
  services/course-material/src/reducers/exerciseBlockPostThisStateToIFrameReducer.ts
  services/course-material/src/services/backend.ts
  services/headless-lms/migrations/20240130125638_add_has_custom_view_to_exercise_service_info.down.sql
  services/headless-lms/migrations/20240130125638_add_has_custom_view_to_exercise_service_info.up.sql
  services/headless-lms/models/.sqlx/query-0646a9e32998f1c57327702deb4e592440904801cabf1b200ee96e7917a4ccd3.json
  services/headless-lms/models/.sqlx/query-2357564991d128aeeb5db65686276b24c3aff7c1914cd2d4ad614c3eed3c449e.json
  services/headless-lms/models/.sqlx/query-277f66811c6e7fc3d4e7dcc6f8b0f37f6e1c3bace558d4b5a762297c22a60ba5.json
  services/headless-lms/models/.sqlx/query-2c597259a4dc5d245502bf89ce37167b1bd7bb63c69498cb68e34676b90960c1.json
  services/headless-lms/models/.sqlx/query-3d36a09faaa06093ec86d0e6ab63bf2659d296edd11b2bda765e6362f6f47a5d.json
  services/headless-lms/models/.sqlx/query-4d5ac52430e5e6f08d01b124e9300359005224fc814313a5a2722f8c5aafe15a.json
  services/headless-lms/models/.sqlx/query-744d6db0137323cc6398d3dacc9a6a59866b6e23798c33e118a0683f6a58cd36.json
  services/headless-lms/models/.sqlx/query-b21554a28ddee3249995569b18d09ab6e629d660366ba01c5c1790c4a5516566.json
  services/headless-lms/models/.sqlx/query-c7644233ed24e991b9308419adaf7befa51865d17fc22b855953be5a17ed5d8a.json
  services/headless-lms/models/.sqlx/query-ea0349456e96617af60df991d87884f3275d8f8f78f7105db2644aeeebd05b9c.json
  services/headless-lms/models/src/course_modules.rs
  services/headless-lms/models/src/exercise_service_info.rs
  services/headless-lms/models/src/exercise_services.rs
  services/headless-lms/models/src/exercise_task_gradings.rs
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/exercise_tasks.rs
  services/headless-lms/models/src/exercises.rs
  services/headless-lms/models/src/library/custom_view_exercises.rs
  services/headless-lms/models/src/library/mod.rs
  services/headless-lms/models/src/library/regrading.rs
  services/headless-lms/server/src/controllers/course_material/course_modules.rs
  services/headless-lms/server/src/controllers/course_material/mod.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundExerciseIframe.tsx
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundViewSubmissionIframe.tsx
  services/tmc/src/components/AnswerBrowserExercise.tsx
  services/tmc/src/components/AnswerExercise.tsx
  services/tmc/src/components/ExerciseEditor.tsx
  services/tmc/src/components/StateRenderer.tsx
  services/tmc/src/pages/iframe.tsx
  services/tmc/src/util/stateInterfaces.ts
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/components/MessageChannelIFrame.tsx
  shared-module/src/exercise-service-protocol-types.guard.ts
  shared-module/src/exercise-service-protocol-types.ts
Labels: shared-module, course-material, headless-lms, cms, main-frontend, tmc, db-migrations

#1247 Fixes 2224
  services/cms/src/blocks/ResearchConsentCheckbox/ResearchConsentCheckBoxEditor.tsx
  services/course-material/src/components/Page.tsx
  services/course-material/src/components/forms/SelectResearchConsentForm.tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/course-status-summary-for-user/[user_id].tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/points.tsx
  shared-module/src/locales/en/cms.json
  shared-module/src/locales/fi/cms.json
  system-tests/src/__screenshots__/point-view/point-view.spec.ts/point-view-bottom-desktop-regular.png
  system-tests/src/__screenshots__/point-view/point-view.spec.ts/point-view-top-desktop-regular.png
  system-tests/src/tests/research-form.spec.ts
Labels: shared-module, system-tests, course-material, cms, main-frontend
