Repository rage/secret-project-331, pull requests merged in 2024-03, with the labels that each got.

#1250 Vdi installation script
  bin/download-applications-linux
  bin/vdi-setup
  docs/vdi-setup.md
Labels: docs, scripts

#1251 Rename script
  bin/playwright-install
Labels: scripts

#1252 Fix raw html in the research form checkbox label
  services/cms/src/blocks/ResearchConsentCheckbox/ResearchConsentCheckBoxEditor.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ResearchFormCheckBoxBlock.tsx
  shared-module/src/components/InputFields/CheckBox.tsx
  shared-module/src/locales/en/cms.json
  shared-module/src/locales/fi/cms.json
Labels: shared-module, course-material, cms

#1244 Testing for teachers when making exams
  services/course-material/src/pages/[organizationSlug]/exams/testexam/[id].tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/migrations/20240118095203_add_is_teacher_testing_to_exam_enrollments.down.sql
  services/headless-lms/migrations/20240118095203_add_is_teacher_testing_to_exam_enrollments.up.sql
  services/headless-lms/models/.sqlx/query-15a135aba7f3d617e8b2b6e0e3782a323846b5aaadfc0c203ad6d8104c4f1393.json
  services/headless-lms/models/.sqlx/query-3c54ad6a3cc0b88764f80e64680724a116966367fb28fcb0c85eb1a04c4e8624.json
  services/headless-lms/models/.sqlx/query-42c1ad15a0ffb7e696bfacb50fe8fda59688a331b16fd05eaef9e832a643a531.json
  services/headless-lms/models/.sqlx/query-527be2e3679b1f889452a1970d9ce568dbd02458be84e5a8006d4917e8b8974d.json
  services/headless-lms/models/.sqlx/query-8ea4b63e5770221ab693be4dc6f3b213bdd75361727872439d7fbb65117b4700.json
  services/headless-lms/models/.sqlx/query-a0506edd480e7dec860a33702092c243a207450909a69db5a44ad6fcb72b2fb2.json
  services/headless-lms/models/.sqlx/query-a64335b0b2edd67fd22c3bf56387eea7da8f3041f75d766c419eef5b99a8df65.json
  services/headless-lms/models/.sqlx/query-c5086375e71ac768c634490a0bb537ed63a9eeed15b50fda492854f956cd1b3f.json
  services/headless-lms/models/.sqlx/query-c5c02778029045a48b32567f114b8fbd441b01ac1e0908eca4e02a067327036e.json
  services/headless-lms/models/.sqlx/query-db3e9aa8e3116435c3b9a75823b14aefcff45a0044d20e956b436e2401f94a79.json
  services/headless-lms/models/src/exams.rs
  services/headless-lms/models/src/exercise_slide_submissions.rs
  services/headless-lms/server/src/controllers/course_material/exams.rs
  services/headless-lms/server/src/controllers/course_material/exercises.rs
  services/headless-lms/server/src/controllers/main_frontend/exams.rs
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/main-frontend/src/components/forms/EditExamForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/exams/EditExamDialog.tsx
  services/main-frontend/src/pages/manage/exams/[id]/index.tsx
  services/main-frontend/src/services/backend/exams.ts
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/locales/en/course-material.json
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/course-material.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/tests/exams/edit-exam.spec.ts
  system-tests/src/tests/exams/teacher-can-test-exam.spec.ts
Labels: shared-module, system-tests, course-material, headless-lms, main-frontend, db-migrations

#1254 Longer questions in research consents & regradings by exercise id
  services/cms/src/blocks/ResearchConsentCheckbox/index.tsx
  services/cms/src/blocks/ResearchConsentQuestion/ResearchConsentQuestionEditor.tsx
  services/cms/src/blocks/ResearchConsentQuestion/ResearchConsentQuestionSave.tsx
  services/cms/src/blocks/ResearchConsentQuestion/index.tsx
  services/cms/src/blocks/index.tsx
  services/cms/src/components/editors/ResearchConsentFormEditor.tsx
  services/cms/src/pages/courses/[id]/research-form-edit.tsx
  services/cms/src/services/backend/courses.ts
  services/course-material/src/components/ContentRenderer/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ResearchConsentQuestionBlock.tsx
  services/headless-lms/migrations/20240319134752_increase_max_course_specific_research_form_question_length.down.sql
  services/headless-lms/migrations/20240319134752_increase_max_course_specific_research_form_question_length.up.sql
  services/headless-lms/models/.sqlx/query-63e5fee9909f9038369573568c5d4a4b18c74e3e78795123913f5cd1b01cd048.json
  services/headless-lms/models/.sqlx/query-8864aab5f3f4bfa9ac2f7cbc430c40b7ade11132d8f6fb378dc7f8409ed46938.json
  services/headless-lms/models/.sqlx/query-f53d2cf07fdfb576614f65779cc7ded62bbba437fa27458ea54021a84c805d5f.json
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/library/regrading.rs
  services/headless-lms/models/src/regradings.rs
  services/headless-lms/models/src/research_forms.rs
  services/headless-lms/server/src/controllers/cms/courses.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/src/pages/index.tsx
  services/main-frontend/src/pages/manage/regradings/[id].tsx
  services/main-frontend/src/pages/manage/regradings/index.tsx
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/locales/en/cms.json
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/cms.json
  shared-module/src/locales/fi/main-frontend.json
  shared-module/src/utils/routes.ts
  system-tests/src/tests/add-regrading.spec.ts
  system-tests/src/tests/research-form.spec.ts
Labels: shared-module, system-tests, course-material, headless-lms, cms, main-frontend, db-migrations

#1255 Research questions download
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseCustomViewBlock/CustomViewIframe.tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/models/.sqlx/query-0646a9e32998f1c57327702deb4e592440904801cabf1b200ee96e7917a4ccd3.json
  services/headless-lms/models/.sqlx/query-17c516418ede7b0240835c473c0cfa2c46cd4e24dfb1e5a064802d3351d72b85.json
  services/headless-lms/models/.sqlx/query-58e5aac7861f558385ecf507e49afa25c340c5c83d6710b80b98436a6cc4c608.json
  services/headless-lms/models/.sqlx/query-8c1f861182b005b8045c6d6d096216c9da8fb3728d99c6711dff808431d0d8d6.json
  services/headless-lms/models/.sqlx/query-bdf6c7a6ff6ecd02bf62a5e8ec4e22fd2d87fecbcab0830a647ba5676cd75afc.json
  services/headless-lms/models/.sqlx/query-c7644233ed24e991b9308419adaf7befa51865d17fc22b855953be5a17ed5d8a.json
  services/headless-lms/models/.sqlx/query-d1ceba14b45d756bfb0ad9935533e111e2adda9ef1b3be47205fc9086020a020.json
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/exercise_tasks.rs
  services/headless-lms/models/src/exercises.rs
  services/headless-lms/models/src/library/custom_view_exercises.rs
  services/headless-lms/models/src/research_forms.rs
  services/headless-lms/models/src/user_course_instance_exercise_service_variables.rs
  services/headless-lms/server/src/controllers/course_material/course_modules.rs
  services/headless-lms/server/src/controllers/main_frontend/courses.rs
  services/headless-lms/server/src/domain/csv_export/course_research_form_questions_answers_export.rs
  services/headless-lms/server/src/domain/csv_export/mod.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/index/ManageCourse.tsx
  shared-module/src/bindings.guard.ts
  shared-module/src/bindings.ts
  shared-module/src/exercise-service-protocol-types.guard.ts
  shared-module/src/exercise-service-protocol-types.ts
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/main-frontend.json
Labels: shared-module, course-material, headless-lms, main-frontend

#1256 Fixes to the custom view
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseCustomViewBlock/CustomViewIframe.tsx
  services/course-material/src/services/backend.ts
  services/headless-lms/models/.sqlx/query-17c516418ede7b0240835c473c0cfa2c46cd4e24dfb1e5a064802d3351d72b85.json
  services/headless-lms/models/.sqlx/query-84e45be02b8584531f60ee37a33ada2542da08e62609213ef0cd7d124c45861e.json
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/server/src/controllers/course_material/course_instances.rs
  shared-module/src/exercise-service-protocol-types.guard.ts
  shared-module/src/exercise-service-protocol-types.ts
Labels: shared-module, course-material, headless-lms

#1258 Fixes 343
  services/cms/src/blocks/index.tsx
  services/headless-lms/server/src/controllers/course_material/courses.rs
Labels: headless-lms, cms

#1257 Fix research questions download
  services/headless-lms/models/.sqlx/query-46dfc070116291407d3ee9d303cdfdd850c3933d9b31759e71da995fcf678ec6.json
  services/headless-lms/models/src/research_forms.rs
Labels: headless-lms
