Repository rage/secret-project-331, pull requests merged in 2024-06, with the labels that each got.

#1278 Fix unlisted checkbox not showing current value
  services/main-frontend/src/components/page-specific/manage/courses/id/index/ManageCourse.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/index/UpdateCourseForm.tsx
Labels: main-frontend

#1279 Remove npm ci from README
  README.md
Labels: root

#1285 Authentication bug fix
  bin/npm-ci-all
  services/headless-lms/server/src/controllers/course_material/courses.rs
Labels: headless-lms, scripts

#1284 Make licenses GitHub-detectable
  LICENSE
  LICENSE-SERVICES-CMS
  README.md
Labels: root
