Repository rage/secret-project-331, pull requests merged in 2024-07, with the labels that each got.

#1289 Add action btn to suspected cheatrs
  services/headless-lms/migrations/20240527014445_add_course_instance_id_to_suspected_cheaters_and_cheater_thresholds.down.sql
  services/headless-lms/migrations/20240527014445_add_course_instance_id_to_suspected_cheaters_and_cheater_thresholds.up.sql
  services/headless-lms/models/.sqlx/query-30fcfb7d5aca5f7450118455ac05a6e3e48661bc4086a9b3967bbdf4b59e0ef8.json
  services/headless-lms/models/.sqlx/query-3529084bb5a3bcf64d2f6ac8900f7cb3a7334202a5e5249df16bfa7862bb3165.json
  services/headless-lms/models/.sqlx/query-4121f559b13cb44cb9245be0f5fb3e3ae65e4005169b8ee1b20aa387d702ad58.json
  services/headless-lms/models/.sqlx/query-5969e87bc6e61db72eb2cdbf95a49609ec6ac4fe54a9539728eb54d564d89a19.json
  services/headless-lms/models/.sqlx/query-c02fc01f4a3deab551f504c5110e9e3ee5069a36fdc2b82529f96f344785d31b.json
  services/headless-lms/models/.sqlx/query-eb807ebd83d16f9027755b74afd12b91faf5cb5766450574fd53352cf4100e2f.json
  services/headless-lms/models/src/course_module_completions.rs
  services/headless-lms/models/src/library/progressing.rs
  services/headless-lms/models/src/suspected_cheaters.rs
  services/headless-lms/server/src/controllers/main_frontend/courses.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/cheaters/CourseCheaters.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/cheaters/CourseCheatersTabs.tsx
  services/main-frontend/src/pages/manage/courses/[id]/[...path].tsx
  services/main-frontend/src/services/backend/courses.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  system-tests/src/tests/suspected-cheaters.spec.ts
Labels: shared-module, system-tests, headless-lms, main-frontend, db-migrations

#1292 Fixes 349
  services/cms/src/components/editors/GutenbergEditor.tsx
  services/cms/src/styles/Gutenberg/editor-styles.scss
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/SyntaxHighlightedContainer.tsx
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/index.tsx
  services/course-material/src/components/ContentRenderer/util/textParsing.tsx
  services/headless-lms/Cargo.lock
  services/headless-lms/certificates/Cargo.toml
  services/headless-lms/certificates/src/lib.rs
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-desktop-regular.png
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-mobile-tall.png
Labels: dependencies, system-tests, course-material, headless-lms, cms

#1293 Style fix for code blocks inside exercises
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/ExerciseTask.tsx
Labels: course-material

#1297 Fix iFrame typo
  services/cms/src/blocks/Iframe/index.tsx
Labels: cms

#1299 Allow customizing iframe block width
  services/cms/src/blocks/Iframe/IframeEditor.tsx
  services/cms/src/blocks/Iframe/index.tsx
  services/course-material/src/components/ContentRenderer/moocfi/IframeBlock.tsx
Labels: course-material, cms
