Repository rage/secret-project-331, pull requests merged in 2024-04, with the labels that each got.

#1259 Fixes 344
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/index.tsx
  services/headless-lms/models/.sqlx/query-35c47a00e791e799463498efdbbf338f35d387083d05a72b7bffdec5b7ae75d3.json
  services/headless-lms/models/src/certificate_configuration_to_requirements.rs
  services/headless-lms/models/src/certificate_configurations.rs
  services/headless-lms/models/src/library/progressing.rs
  shared-module/src/locales/fi/main-frontend.json
Labels: shared-module, course-material, headless-lms

#1260 Add inotify check to detect env problems
  bin/detect-dev-env-problems
Labels: scripts

#1261 Fix for starting test exam
  services/course-material/src/pages/[organizationSlug]/exams/testexam/[id].tsx
  services/headless-lms/server/src/controllers/course_material/exams.rs
Labels: course-material, headless-lms

#1262 Dog course and quizzes fixes
  services/course-material/src/components/SelectCourseLanguage.tsx
  services/headless-lms/models/.sqlx/query-3d36a09faaa06093ec86d0e6ab63bf2659d296edd11b2bda765e6362f6f47a5d.json
  services/headless-lms/models/.sqlx/query-80bc376e02b4c7f8de63ef27a8e5b109baafd292582fb2a2cd2f91edd5c3c658.json
  services/headless-lms/models/.sqlx/query-d5b38a3f46865946032d484182daf5a500433e1f2e8da6fe36078ff7a14e959a.json
  services/headless-lms/models/src/exercise_task_gradings.rs
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/server/src/controllers/course_material/courses.rs
  services/quizzes/src/components/ParsedText/index.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/impl-by-quiz-item-type/MultipleChoice.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/index.tsx
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-failure-click-column-single-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-failure-click-column-single-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-success-click-column-single-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-success-click-column-single-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-failure-click-row-multi-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-failure-click-row-multi-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-failure-click-row-single-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-failure-click-row-single-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-success-click-row-multi-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-success-click-row-multi-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-success-click-row-single-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-success-click-row-single-mobile-tall.png
  system-tests/src/tests/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts
  system-tests/src/tests/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts
Labels: quizzes, system-tests, course-material, headless-lms

#1264 Fix uploading audio files
  services/headless-lms/server/src/controllers/main_frontend/page_audio_files.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/PageList/PageAudioWidget.tsx
  services/main-frontend/src/services/backend/page-audio-files.ts
  services/main-frontend/src/services/backend/pages.ts
Labels: headless-lms, main-frontend

#1265 Change form-action to self
  shared-module/src/utils/responseHeaders.js
Labels: shared-module

#1263 Add langs endpoint to fetch enrolled course instances with TMC exercises
  services/headless-lms/models/.sqlx/query-628aff63ebc08b7b29ad86df1bb98589cba402715bdce6f60d3ee1b9e358507c.json
  services/headless-lms/models/src/course_instances.rs
  services/headless-lms/models/src/test_helper.rs
  services/headless-lms/server/src/controllers/langs.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/tmc/README.md
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-after-posting-completions-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-after-posting-completions-mobile-tall.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-another-module-preview-mobile-tall.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-default-module-preview-desktop-regular.png
  system-tests/src/__screenshots__/point-view/point-view.spec.ts/point-view-bottom-desktop-regular.png
  system-tests/src/__screenshots__/point-view/point-view.spec.ts/point-view-bottom-mobile-tall.png
  system-tests/src/__screenshots__/point-view/point-view.spec.ts/point-view-top-desktop-regular.png
  system-tests/src/__screenshots__/point-view/point-view.spec.ts/point-view-top-mobile-tall.png
  system-tests/src/tests/langs/langs.spec.ts
Labels: system-tests, headless-lms, tmc, seed

#1266 Audio upload fixes
  services/course-material/src/components/ContentRenderer/moocfi/AudioPlayer/DisplayTrack.tsx
  services/course-material/src/components/Page.tsx
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/PageList/PageAudioWidget.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/PageList/PageListItem.tsx
  shared-module/src/locales/en/course-material.json
  shared-module/src/locales/en/main-frontend.json
  shared-module/src/locales/fi/course-material.json
  shared-module/src/locales/fi/main-frontend.json
  system-tests/src/fixtures/media/audio.ogg
  system-tests/src/tests/audio.spec.ts
Labels: shared-module, system-tests, course-material, headless-lms, main-frontend, seed

#1267 Show error message in notifaction for normal errors in useToastMutation
  services/course-material/src/components/ContentRenderer/moocfi/AudioPlayer/DisplayTrack.tsx
  shared-module/src/components/Notifications/Error.tsx
  shared-module/src/hooks/useShowToastInfinitely.tsx
  shared-module/src/hooks/useToastMutation.tsx
  shared-module/src/utils/constants.ts
  system-tests/src/__screenshots__/query-mutation-notifications/error-notification.spec.ts/error-notification-test-desktop-regular.png
  system-tests/src/__screenshots__/query-mutation-notifications/error-notification.spec.ts/error-notification-test-mobile-tall.png
  system-tests/src/tests/query-mutation-notifications/error-notification.spec.ts
  system-tests/src/utils/notificationUtils.ts
Labels: shared-module, system-tests, course-material

#1268 Update vdi-setup script
  docs/vdi-setup.md
Labels: docs
