Repository rage/secret-project-331, pull requests merged in 2025-01, with the labels that each got.

#1362 Refactor Congratulations component and update SQL queries and localization support
  .github/workflows/system-tests-and-deploy.yml
  services/course-material/src/components/ContentRenderer/moocfi/CongratulationsBlock/Congratulations.tsx
  services/course-material/src/components/exams/ExamStartBanner.tsx
  services/headless-lms/models/.sqlx/query-c94f61a635ad062e122b9cf0ed8085858924769294d0c5d6df7b29634b8485d0.json
  services/headless-lms/models/.sqlx/query-cdcc2e446166b920f1af4e384e2dc03e4478afb22198d49e7acbd393359fbaeb.json
  services/headless-lms/models/.sqlx/query-dafdfa01d4b403aa19e9f9f7779fe5d5bc788a7f3802bbadc4be56b6caf376ad.json
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/models/src/library/progressing.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/main-frontend/src/components/forms/EditReferenceForm.tsx
  services/main-frontend/src/components/forms/NewCourseForm.tsx
  services/main-frontend/src/components/forms/NewReferenceForm.tsx
  shared-module/packages/common/src/components/Reference.tsx
  shared-module/packages/common/src/locales/ar/course-material.json
  shared-module/packages/common/src/locales/ar/main-frontend.json
  shared-module/packages/common/src/locales/en/course-material.json
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/course-material.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/locales/uk/course-material.json
  shared-module/packages/common/src/locales/uk/main-frontend.json
  system-tests/src/__screenshots__/automatic-completion.spec.ts/automatic-completion-congratulations-card-desktop-regular.png
  system-tests/src/__screenshots__/automatic-completion.spec.ts/automatic-completion-congratulations-card-mobile-tall.png
  system-tests/src/__screenshots__/material-reference.spec.ts/add-new-material-reference-dialog-desktop-regular.png
  system-tests/src/__screenshots__/material-reference.spec.ts/add-new-material-reference-dialog-mobile-tall.png
  system-tests/src/__screenshots__/material-reference.spec.ts/material-reference-editor-desktop-regular.png
  system-tests/src/__screenshots__/material-reference.spec.ts/material-reference-editor-mobile-tall.png
  system-tests/src/__screenshots__/permissions.spec.ts/editing-permission-desktop-regular.png
  system-tests/src/__screenshots__/permissions.spec.ts/sorted-by-email-desktop-regular.png
  system-tests/src/__screenshots__/permissions.spec.ts/sorted-by-role-desktop-regular.png
Labels: shared-module, system-tests, course-material, headless-lms, main-frontend, seed

#1365 Mailchimp syncer checks if user has completed course
  services/headless-lms/models/.sqlx/query-9085a18a90d505c905af9b0bbd078bf3b88a6ea28f869d5a106b6456752361f0.json
  services/headless-lms/models/src/marketing_consents.rs
Labels: headless-lms

#1366 Update vdi-setup.md
  docs/vdi-setup.md
Labels: docs

#1367 Update vdi-setup.md
  docs/vdi-setup.md
Labels: docs

#1369 Better error handling in new exam form, fix Youtube embed height in CMS, peer review updater refactor
  .eslintrc.js
  services/cms/src/styles/Gutenberg/editor-styles.scss
  services/headless-lms/models/src/library/progressing.rs
  services/headless-lms/server/src/programs/peer_review_updater.rs
  services/main-frontend/src/components/forms/NewExamForm.tsx
  services/quizzes/src/components/exercise-service-views/ExerciseEditor/QuizComponents/common/MultipleChoiceOption.tsx
  shared-module/packages/common/src/components/InputFields/DateTimeLocal.tsx
  shared-module/packages/common/src/locales/ar/main-frontend.json
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/locales/uk/main-frontend.json
  system-tests/src/tests/history/history.spec.ts
  system-tests/src/utils/cmsUtils.ts
Labels: quizzes, shared-module, system-tests, headless-lms, cms, main-frontend

#1372 Don't crash peer reviews updater if cannot remove an answer from queue
  services/headless-lms/server/src/programs/peer_review_updater.rs
Labels: headless-lms

#1374 Increase backend payload size limit to 2MB
  services/headless-lms/server/src/config.rs
Labels: headless-lms

#1373 Show description in Course model setting Model
  services/course-material/src/components/forms/SelectCourseInstanceForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/index/ManageCourse.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-eng-to-fi-desktop-regular.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-eng-to-fi-mobile-tall.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-fi-to-eng-desktop-regular.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-fi-to-eng-mobile-tall.png
  system-tests/src/__screenshots__/course-instance-management/course-instance-management.spec.ts/initial-course-management-page-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/course-instance-management.spec.ts/initial-course-management-page-mobile-tall.png
  system-tests/src/__screenshots__/course-instance-management/course-instance-management.spec.ts/initial-management-page-desktop-regular.png
  system-tests/src/__screenshots__/draft.spec.ts/draft-course-desktop-regular.png
  system-tests/src/__screenshots__/draft.spec.ts/draft-course-mobile-tall.png
  system-tests/src/__screenshots__/draft.spec.ts/non-draft-course-desktop-regular.png
  system-tests/src/__screenshots__/draft.spec.ts/non-draft-course-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-incorrect-mobile-tall.png
Labels: shared-module, system-tests, course-material, main-frontend
