Repository rage/secret-project-331, pull requests merged in 2025-04, with the labels that each got.

#1439 Added remove button to search users form
  services/main-frontend/src/components/page-specific/manage/courses/id/reset-exercises-tool/SelectedUsers.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/reset-exercises-tool/UserSearch.tsx
Labels: main-frontend, feature

#1437 Setup fixes
  .vscode/extensions.json
  services/course-material/src/components/SelectCourseLanguage.tsx
  services/headless-lms/models/src/roles.rs
  services/headless-lms/server/src/domain/authorization.rs
  services/headless-lms/server/src/domain/error.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/main-frontend/src/components/forms/AddCompletionsForm.tsx
  services/main-frontend/src/components/page-specific/manage/certificates/CertificateForm.tsx
  services/main-frontend/src/components/page-specific/manage/certificates/CertificateView.tsx
  services/main-frontend/src/imgs/caret-down.svg
  services/main-frontend/src/pages/manage/course-instances/[id]/completions.tsx
  services/tmc/src/tmc/cli.guard.ts
  shared-module/packages/common/src/components/InputFields/RadioButton.tsx
  shared-module/packages/common/src/components/system-tests/SetHeightInSystemTests.tsx
  shared-module/packages/common/src/locales/ar/main-frontend.json
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/locales/uk/main-frontend.json
  system-tests/playwright.config.ts
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/editing-config-desktop-regular.png
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/editing-config-mobile-tall.png
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/management-page-desktop-regular.png
  system-tests/src/__screenshots__/certificates/configure-certificate.test.ts/management-page-mobile-tall.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-eng-to-fi-desktop-regular.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-eng-to-fi-mobile-tall.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-fi-to-eng-desktop-regular.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-fi-to-eng-mobile-tall.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-after-posting-completions-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-after-posting-completions-mobile-tall.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-another-module-preview-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-another-module-preview-mobile-tall.png
  system-tests/src/tests/change-course-language.spec.ts
  system-tests/src/tests/draft.spec.ts
  system-tests/src/tests/join-course-only-by-code.spec.ts
  system-tests/src/utils/screenshot.ts
Labels: shared-module, system-tests, course-material, headless-lms, main-frontend, tmc, seed, chore

#1446 Fix not reoffering answers flagged as spam
  services/headless-lms/models/.sqlx/query-1a840f4c0919a02eb7a7cf845116d9164ed817f594574fd6efdcc52de52db102.json
  services/headless-lms/models/.sqlx/query-3b666d5cb36b69f10b7f2320980e21445748ced300a2a4492c7ffb4630cf2721.json
  services/headless-lms/models/src/flagged_answers.rs
  services/headless-lms/models/src/library/peer_or_self_reviewing.rs
  services/headless-lms/models/src/offered_answers_to_peer_review_temporary.rs
Labels: bug, headless-lms, refactor

#1447 Refactor authentication logic to return booleans
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/domain/authorization.rs
  services/main-frontend/src/pages/login.tsx
  shared-module/packages/common/src/services/backend/auth.ts
Labels: shared-module, headless-lms, main-frontend, docs, feature, refactor, test

#1448 Minor fixes
  services/cms/src/blocks/HeroSection/HeroSectionEditor.tsx
  services/cms/src/components/editors/PageEditor.tsx
  services/course-material/src/components/ContentRenderer/core/formatting/TableBlock.tsx
  services/course-material/src/components/FeedbackDialog.tsx
  services/course-material/src/components/chatbot/ChatbotDialogBody.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/pages/PageList/TableWrapper.tsx
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundAnswers.tsx
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundPreview.tsx
  services/main-frontend/src/components/page-specific/playground-views/PlaygroundSpecs.tsx
  services/main-frontend/src/pages/playground-views.tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/index.tsx
  shared-module/packages/common/src/components/monaco/impl/loader.ts
  system-tests/src/__screenshots__/quizzes/feedback/clickable-multiple-choice.spec.ts/clickable-multiple-choice-correct-answer-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/clickable-multiple-choice.spec.ts/clickable-multiple-choice-correct-answer-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/clickable-multiple-choice.spec.ts/clickable-multiple-choice-incorrect-answer-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/clickable-multiple-choice.spec.ts/clickable-multiple-choice-incorrect-answer-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-correct-answer-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-correct-answer-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-incorrect-answer-after-correct-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-incorrect-answer-after-correct-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-incorrect-answer-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice-dropdown.spec.ts/multiple-choice-dropdown-feedback-incorrect-answer-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice.spec.ts/multiple-choice-feedback-correct-answer-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice.spec.ts/multiple-choice-feedback-correct-answer-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice.spec.ts/multiple-choice-feedback-incorrect-answer-after-correct-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice.spec.ts/multiple-choice-feedback-incorrect-answer-after-correct-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice.spec.ts/multiple-choice-feedback-incorrect-answer-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/multiple-choice.spec.ts/multiple-choice-feedback-incorrect-answer-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-correct-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-correct-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-incorrect-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/open.spec.ts/open-feedback-incorrect-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/timeline.spec.ts/timeline-feedback-correct-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/timeline.spec.ts/timeline-feedback-correct-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/timeline.spec.ts/timeline-feedback-incorrect-with-model-solution-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/timeline.spec.ts/timeline-feedback-incorrect-with-model-solution-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/timeline.spec.ts/timeline-feedback-wrong-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/timeline.spec.ts/timeline-feedback-wrong-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-feedback-correct-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-feedback-correct-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-feedback-incorrect-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-feedback-incorrect-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-feedback-incorrect-with-model-solution-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/feedback/vector.spec.ts/vector-feedback-incorrect-with-model-solution-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-failure-click-column-multi-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-failure-click-column-multi-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-failure-click-column-single-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-failure-click-column-single-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-success-click-column-multi-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-success-click-column-multi-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-success-click-column-single-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-column.spec.ts/course-material-multiple-choice-after-success-click-column-single-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-failure-click-row-multi-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-failure-click-row-multi-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-failure-click-row-single-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-failure-click-row-single-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-success-click-row-multi-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-success-click-row-multi-mobile-tall.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-success-click-row-single-desktop-regular.png
  system-tests/src/__screenshots__/quizzes/widget/multiple-choice-course-material-widget-row.spec.ts/course-material-multiple-choice-after-success-click-row-single-mobile-tall.png
Labels: quizzes, shared-module, system-tests, course-material, cms, main-frontend, refactor

#1449 Fixes for reset exercise tool
  services/headless-lms/server/src/controllers/main_frontend/exercises.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/reset-exercises-tool/ExerciseList.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/reset-exercises-tool/ResetFilter.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  system-tests/src/tests/reset-exercises.spec.ts
Labels: bug, shared-module, system-tests, headless-lms, main-frontend, refactor, test

#1452 Fix the gap above landing page hero section
  services/course-material/src/components/LandingPageHeroSection.tsx
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-eng-to-fi-desktop-regular.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-eng-to-fi-mobile-tall.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-fi-to-eng-desktop-regular.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-fi-to-eng-mobile-tall.png
  system-tests/src/__screenshots__/research-form.spec.ts/research-consent-form-shows-if-not-aswered-desktop-regular.png
  system-tests/src/__screenshots__/research-form.spec.ts/research-consent-form-shows-if-not-aswered-mobile-tall.png
Labels: bug, system-tests, course-material

#1451 Allow teaching and learning services to view stats
  services/headless-lms/server/src/domain/authorization.rs
Labels: headless-lms, feature

#1454 Give feedback improvements
  services/course-material/src/components/EditProposalDialog.tsx
  services/course-material/src/components/FeedbackDialog.tsx
  services/course-material/src/components/FeedbackTypeDialog.tsx
  services/course-material/src/components/SelectionListener.tsx
  services/course-material/src/stores/materialFeedbackStore.ts
  services/main-frontend/src/components/page-specific/manage/courses/id/change-request/EditProposalView.tsx
  shared-module/packages/common/src/locales/en/main-frontend.json
Labels: shared-module, course-material, main-frontend, docs, feature, refactor
