Repository rage/secret-project-331, pull requests merged in 2025-02, with the labels that each got.

#1376 Make marking completions as registered not to crash if a completion has been deleted before the marking has succeeded
  services/headless-lms/models/.sqlx/query-d33b4857d2fddb3611d4ad17ea527321c55f43c5c1d3aadc646876b41b1beb01.json
  services/headless-lms/models/src/course_module_completions.rs
Labels: headless-lms

#1380 Add missing translations
  shared-module/packages/common/src/locales/ar/course-material.json
  shared-module/packages/common/src/locales/ar/main-frontend.json
  shared-module/packages/common/src/locales/uk/course-material.json
  shared-module/packages/common/src/locales/uk/main-frontend.json
Labels: shared-module

#1384 Add tags to mailchimp syncer
  services/headless-lms/migrations/20250130112126_add-custom-tags-to-mailchimp.down.sql
  services/headless-lms/migrations/20250130112126_add-custom-tags-to-mailchimp.up.sql
  services/headless-lms/models/.sqlx/query-07a2c8ae7b72778dff2246d0e4e05f930517d1d5070d688f879d178b3148815a.json
  services/headless-lms/models/.sqlx/query-a91f127be9b8f1a8574d76a2a4d98ff07482353302017715e60ccbea373220f6.json
  services/headless-lms/models/.sqlx/query-c3eb039a9f7857ef5d7c6a5bafbf42b52c86f8a4f0fe38f5d945a8d89f2e9a89.json
  services/headless-lms/models/.sqlx/query-cea0b9f17c78447ce90831d4d4a07ff5df25048e3d0c8a2b9972d8d6fded908c.json
  services/headless-lms/models/src/marketing_consents.rs
  services/headless-lms/server/src/programs/mailchimp_syncer.rs
Labels: headless-lms, db-migrations

#1385 Tags to mailchimp
  services/headless-lms/server/src/programs/mailchimp_syncer.rs
Labels: headless-lms

#1387 Login fix
  services/headless-lms/server/src/domain/authorization.rs
Labels: headless-lms

#1386 Update production deploy configurations
  kubernetes/base/cms/deployment.yml
  kubernetes/base/course-material/deployment.yml
  kubernetes/base/example-exercise/deployment.yml
  kubernetes/base/headless-lms/deployment.yml
  kubernetes/base/main-frontend/deployment.yml
  kubernetes/base/quizzes/deployment.yml
  kubernetes/base/tmc/deployment.yml
  kubernetes/production/headless-lms/pdb.yml
  kubernetes/production/kustomization.yaml
Labels: deployments

#1388 Change the allocator to jemalloc for better memory fragmentation handling
  services/headless-lms/Cargo.lock
  services/headless-lms/entrypoint/Cargo.toml
  services/headless-lms/entrypoint/src/main.rs
Labels: dependencies, headless-lms

#1395 Code block improvements, flexible file upload limits
  eslint.config.js
  kubernetes/base/ingress.yml
  services/cms/src/services/backend/media/index.ts
  services/cms/src/services/backend/media/mediaUpload.ts
  services/cms/src/services/backend/media/uploadMediaToServer.ts
  services/cms/src/styles/Gutenberg/style.scss
  services/course-material/src/components/ContentRenderer/core/common/Paragraph/index.tsx
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/CopyButton.tsx
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/SyntaxHighlightedContainer.tsx
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/index.tsx
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/styles.ts
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/PeerOrSelfReviewView/PeerOrSelfReviewViewImpl.tsx
  services/course-material/src/img/copy.svg
  services/headless-lms/models/.sqlx/query-0d4a6a92d86e79e4b5e2fb44ee6cc8af92c7d2e3d0a3c4eea000005b5c3385e4.json
  services/headless-lms/models/.sqlx/query-64dc5fcda1924b9d7616d7663915dc06e88ebd42011a8b35dd7092560cc8d75f.json
  services/headless-lms/models/.sqlx/query-c3946ea5063afd099b00a943cbea969ad89e3852a111ab1bd5bdbd5a0b24a83f.json
  services/headless-lms/models/.sqlx/query-fe62fa984b55eac807079f5a6d5ebb5d33c8222f333508fd1bcfb3b08c9329b6.json
  services/headless-lms/models/src/course_module_completion_registered_to_study_registries.rs
  services/headless-lms/server/src/controllers/helpers/file_uploading.rs
  services/headless-lms/server/src/controllers/study_registry/completion_registered_to_study_registry.rs
  shared-module/packages/common/src/components/Notifications/notificationHelpers.tsx
  shared-module/packages/common/src/locales/ar/course-material.json
  shared-module/packages/common/src/locales/en/course-material.json
  shared-module/packages/common/src/locales/fi/course-material.json
  shared-module/packages/common/src/locales/uk/course-material.json
  shared-module/packages/common/src/utils/responseHeaders.js
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-after-posting-completions-desktop-regular.png
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-desktop-regular.png
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-mobile-tall.png
  system-tests/src/__screenshots__/permissions.spec.ts/edited-permission-desktop-regular.png
  system-tests/src/__screenshots__/permissions.spec.ts/removed-permission-desktop-regular.png
  system-tests/src/tests/automatic-completion.spec.ts
Labels: shared-module, system-tests, course-material, headless-lms, cms, root, deployments

#1396 Code block copy button: handle internal html syntax
  services/course-material/jest.config.js
  services/course-material/package-lock.json
  services/course-material/package.json
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/CopyButton.tsx
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/__tests__/CodeBlock.test.tsx
  services/course-material/src/components/ContentRenderer/core/formatting/CodeBlock/__tests__/CopyButton.test.tsx
  services/course-material/tests/__mocks__/svg.js
  services/course-material/tests/setup-jest.js
Labels: dependencies, course-material
