Repository rage/secret-project-331, pull requests merged in 2025-08, with the labels that each got.

#1513 Don't render too much stuff inside the landing page hero section subtitle
  services/cms/src/blocks/LandingPageCopyText/LandingPageCopyTextEditor.tsx
  services/cms/src/blocks/LandingPageHeroSection/LandingPageHeroSectionEditor.tsx
  services/course-material/src/components/ContentRenderer/moocfi/LandingPageHeroSectionBlock.tsx
  services/headless-lms/models/src/library/content_management.rs
  services/headless-lms/utils/src/document_schema_processor.rs
  system-tests/src/__screenshots__/automatic-completion.spec.ts/automatic-completion-congratulations-card-desktop-regular.png
  system-tests/src/__screenshots__/automatic-completion.spec.ts/automatic-completion-congratulations-card-mobile-tall.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-eng-to-fi-desktop-regular.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-eng-to-fi-mobile-tall.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-fi-to-eng-desktop-regular.png
  system-tests/src/__screenshots__/change-course-language.spec.ts/course-lang-selection-fi-to-eng-mobile-tall.png
  system-tests/src/__screenshots__/research-form.spec.ts/research-consent-form-shows-if-not-aswered-desktop-regular.png
  system-tests/src/__screenshots__/research-form.spec.ts/research-consent-form-shows-if-not-aswered-mobile-tall.png
  system-tests/src/__screenshots__/sidebar-toggle.spec.ts/block-list-desktop-regular.png
  system-tests/src/__screenshots__/sidebar-toggle.spec.ts/block-menu-desktop-regular.png
  system-tests/src/__screenshots__/sidebar-toggle.spec.ts/block-properties-desktop-regular.png
Labels: system-tests, course-material, headless-lms, cms, feature, refactor

#1509 Chatbot citations
  .github/workflows/system-tests-and-deploy.yml
  eslint.config.js
  services/course-material/src/components/FeedbackTooltip.tsx
  services/course-material/src/components/chatbot/ChatbotDialogBody.tsx
  services/course-material/src/components/chatbot/ChatbotReferenceList.tsx
  services/course-material/src/components/chatbot/MessageBubble.tsx
  services/course-material/src/components/chatbot/RenderedMessage.tsx
  services/course-material/src/components/chatbot/__tests__/MessageBubble.test.ts
  services/course-material/tsconfig.json
  services/headless-lms/chatbot/src/azure_chatbot.rs
  services/headless-lms/chatbot/src/azure_search_index.rs
  services/headless-lms/chatbot/src/azure_skillset.rs
  services/headless-lms/migrations/20250716120134_add_chatbot_conversation_citations_table.down.sql
  services/headless-lms/migrations/20250716120134_add_chatbot_conversation_citations_table.up.sql
  services/headless-lms/models/.sqlx/query-0bf1d8282b2e027486d7db98f3e0d54ed2c4e0cc37fdca2608a21d31c1816fa4.json
  services/headless-lms/models/.sqlx/query-79e1ca47c346cf31da67d5f6998043a1a87f412d8294895c6981215f4fc07f62.json
  services/headless-lms/models/.sqlx/query-e6a8eadee6e495bc6c8a946a1007f246a6791b93699eedf8c6fa4a7689e08441.json
  services/headless-lms/models/src/chatbot_conversation_messages_citations.rs
  services/headless-lms/models/src/chatbot_conversations.rs
  services/headless-lms/models/src/lib.rs
  services/headless-lms/server/src/programs/chatbot_syncer.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/components/SpeechBalloonPopover.tsx
  shared-module/packages/common/src/locales/ar/course-material.json
  shared-module/packages/common/src/locales/en/course-material.json
  shared-module/packages/common/src/locales/fi/course-material.json
  shared-module/packages/common/src/locales/uk/course-material.json
  system-tests/src/__screenshots__/gutenberg/spacer-not-breaking-editing.spec.ts/new-block-inserter-should-not-obscure-typing-caret-desktop-regular.png
  system-tests/src/__screenshots__/gutenberg/spacer-not-breaking-editing.spec.ts/new-block-inserter-should-not-obscure-typing-caret-mobile-tall.png
  system-tests/src/tests/gutenberg/spacer-not-breaking-editing.spec.ts
  system-tests/src/tests/multiple-tasks-exercise-tests/multiple-task-exercise.spec.ts
  system-tests/src/utils/iframeLocators.ts
Labels: shared-module, system-tests, course-material, headless-lms, db-migrations, root, feature, refactor, test

#1528 Formatting changes
  services/cms/src/components/editors/PageEditor.tsx
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/ExerciseTask.tsx
  services/course-material/src/pages/[organizationSlug]/exams/[id].tsx
  services/course-material/src/pages/[organizationSlug]/exams/testexam/[id].tsx
  shared-module/packages/common/src/utils/time.ts
Labels: shared-module, course-material, cms, feature, refactor

#1530 Add rustup to vdi-setup.md
  docs/vdi-setup.md
Labels: docs

#1529 Fix Index URL in Development.md
  docs/Development.md
Labels: docs

#1533 Swedish support
  bin/translations-translate
  shared-module/packages/common/src/components/LanguageSelection/index.tsx
  shared-module/packages/common/src/hooks/useLanguage.tsx
  shared-module/packages/common/src/locales/ar/cms.json
  shared-module/packages/common/src/locales/ar/countries.json
  shared-module/packages/common/src/locales/ar/course-material.json
  shared-module/packages/common/src/locales/ar/quizzes.json
  shared-module/packages/common/src/locales/ar/shared-module.json
  shared-module/packages/common/src/locales/ar/tmc.json
  shared-module/packages/common/src/locales/fi/countries.json
  shared-module/packages/common/src/locales/fi/course-material.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/locales/fi/shared-module.json
  shared-module/packages/common/src/locales/fi/tmc.json
  shared-module/packages/common/src/locales/sv/cms.json
  shared-module/packages/common/src/locales/sv/countries.json
  shared-module/packages/common/src/locales/sv/course-material.json
  shared-module/packages/common/src/locales/sv/example-exercise.json
  shared-module/packages/common/src/locales/sv/main-frontend.json
  shared-module/packages/common/src/locales/sv/quizzes.json
  shared-module/packages/common/src/locales/sv/shared-module.json
  shared-module/packages/common/src/locales/sv/tmc.json
  shared-module/packages/common/src/locales/uk/cms.json
  shared-module/packages/common/src/locales/uk/countries.json
  shared-module/packages/common/src/locales/uk/course-material.json
  shared-module/packages/common/src/locales/uk/main-frontend.json
  shared-module/packages/common/src/locales/uk/quizzes.json
  shared-module/packages/common/src/locales/uk/shared-module.json
  shared-module/packages/common/src/locales/uk/tmc.json
Labels: shared-module, scripts, chore, feature

#1534 Fix getting multiple grading decision returning old decisions sometimes
  services/headless-lms/models/.sqlx/query-332f207786e607bdf65df714ed797932f9370e3f01b6091e829202860101b290.json
  services/headless-lms/models/src/teacher_grading_decisions.rs
Labels: bug, headless-lms

#1535 Add accessibility statement link to the footer
  shared-module/packages/common/src/components/Footer.tsx
  shared-module/packages/common/src/locales/en/shared-module.json
  shared-module/packages/common/src/locales/fi/shared-module.json
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-desktop-regular.png
  system-tests/src/__screenshots__/course-material/content-components-render.spec.ts/content-components-renderer-view-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-deletion-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-deletion-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-deletion-reset-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-deletion-reset-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/initial-module-management-page-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/initial-module-management-page-mobile-tall.png
  system-tests/src/__screenshots__/material-reference.spec.ts/citation-in-editor-desktop-regular.png
  system-tests/src/__screenshots__/material-reference.spec.ts/citation-paragraph-desktop-regular.png
  system-tests/src/__screenshots__/material-reference.spec.ts/closed-course-material-reference-list-desktop-regular.png
  system-tests/src/__screenshots__/material-reference.spec.ts/open-course-material-reference-list-desktop-regular.png
  system-tests/src/__screenshots__/point-view/point-view.spec.ts/point-view-bottom-desktop-regular.png
  system-tests/src/__screenshots__/research-form.spec.ts/research-consent-form-shows-in-user-setting-page-desktop-regular.png
Labels: shared-module, system-tests, feature
