Repository rage/secret-project-331, pull requests merged in 2025-05, with the labels that each got.

#1460 Add missing translations
  shared-module/packages/common/src/locales/ar/course-material.json
  shared-module/packages/common/src/locales/ar/main-frontend.json
  shared-module/packages/common/src/locales/ar/shared-module.json
  shared-module/packages/common/src/locales/fi/course-material.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/locales/fi/shared-module.json
  shared-module/packages/common/src/locales/uk/course-material.json
  shared-module/packages/common/src/locales/uk/main-frontend.json
  shared-module/packages/common/src/locales/uk/shared-module.json
Labels: shared-module, docs, chore

#1461 Cloning updates
  services/headless-lms/models/.sqlx/query-0d27fed835b74d0406a456ef50fdda617627befb3309e387b27d932928426142.json
  services/headless-lms/models/.sqlx/query-3cc1a5456567cfa5f1be1fc14ff1510b8df066a2d8e7c713e06015362f3762e7.json
  services/headless-lms/models/.sqlx/query-3f102ac51635f17487c2e8f6e2753ecffa3bf96c753c25e86c741b9591f4a43f.json
  services/headless-lms/models/.sqlx/query-a6f6115353b39974d8777791171bb310414d58cff1d0d44ec2dc5142761b979c.json
  services/headless-lms/models/.sqlx/query-ba50548b57a6224cda533a7b4b12f25d771a46ced938d45789feb7e591c2b523.json
  services/headless-lms/models/src/courses.rs
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/server/src/controllers/main_frontend/courses/mod.rs
  services/headless-lms/server/src/controllers/main_frontend/organizations.rs
  services/headless-lms/server/src/prelude.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/src/components/NewCourseForm/BasicCourseInfo.tsx
  services/main-frontend/src/components/NewCourseForm/DuplicateOptions.tsx
  services/main-frontend/src/components/NewCourseForm/LanguageSelection.tsx
  services/main-frontend/src/components/NewCourseForm/LanguageVersionOptions.tsx
  services/main-frontend/src/components/NewCourseForm/index.tsx
  services/main-frontend/src/components/forms/NewCourseForm.tsx
  services/main-frontend/src/components/page-specific/manage/course-instances/id/points/user_id/CourseInstanceUserInfoBox.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/index/CourseOverview.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/language-versions/CourseLanguageVersions.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/language-versions/CourseLanguageVersionsList.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/language-versions/NewCourseLanguageVersionDialog.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/other/index.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/stats/CourseStatsPage.tsx
  services/main-frontend/src/components/page-specific/org/organizationSlug/CourseList.tsx
  services/main-frontend/src/components/page-specific/org/organizationSlug/NewCourseDialog.tsx
  services/main-frontend/src/hooks/useCourseLanguageVersions.tsx
  services/main-frontend/src/hooks/useCourseQuery.tsx
  services/main-frontend/src/hooks/useCreateCourse.tsx
  services/main-frontend/src/hooks/useOrganizationCourseCount.tsx
  services/main-frontend/src/hooks/useOrganizationCourses.tsx
  services/main-frontend/src/hooks/useOrganizationDuplicatableCourses.tsx
  services/main-frontend/src/services/backend/courses/index.ts
  services/main-frontend/src/services/backend/organizations.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
Labels: shared-module, headless-lms, main-frontend, chore, feature, refactor, test

#1465 Fix stats loading
  services/main-frontend/src/components/page-specific/manage/courses/id/stats/CourseStatsPage.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/stats/CourseStatsPage/constants.ts
  services/main-frontend/src/components/page-specific/manage/courses/id/stats/CourseStatsPage/index.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/stats/CourseStatsPage/styles.ts
  services/main-frontend/src/components/page-specific/manage/courses/id/stats/CourseStatsPage/tabs/AllLanguagesTab.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/stats/CourseStatsPage/tabs/CourseInstancesTab.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/stats/CourseStatsPage/tabs/OverviewTab.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/stats/CourseStatsPage/tabs/UserActivityTab.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/stats/CourseStatsPage/tabs/VisitorsTab.tsx
  services/main-frontend/src/pages/manage/courses/[id]/[...path].tsx
  system-tests/src/tests/reset-exercises.spec.ts
  system-tests/src/tests/stats/stats.spec.ts
Labels: system-tests, main-frontend, feature, refactor, test

#1470 Fix DiffFormatter rendering
  .github/labeler.yml
  .github/workflows/labeler.yml
  shared-module/packages/common/src/components/DiffFormatter.tsx
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-after-posting-completions-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-after-posting-completions-mobile-tall.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-another-module-preview-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-another-module-preview-mobile-tall.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-default-module-preview-desktop-regular.png
  system-tests/src/__screenshots__/course-instance-management/add-completions.spec.ts/manual-completion-default-module-preview-mobile-tall.png
  system-tests/src/tests/course-instance-management/add-completions.spec.ts
  system-tests/src/tests/course-instance-management/add-completions.spec.ts-snapshots/manual-completion-after-posting-completions-small-desktop-chromium-linux.png
  system-tests/src/tests/reset-exercises.spec.ts
Labels: bug, chore, refactor, test

#1478 Dev docs
  docs/Development.md
Labels: docs

#1473 RAG improvements
  services/course-material/src/components/chatbot/ChatbotDialogBody.tsx
  services/course-material/src/components/chatbot/ErrorDisplay.tsx
  services/headless-lms/chatbot/src/azure_blob_storage.rs
  services/headless-lms/chatbot/src/azure_chatbot.rs
  services/headless-lms/chatbot/src/azure_datasources.rs
  services/headless-lms/chatbot/src/azure_search_index.rs
  services/headless-lms/chatbot/src/azure_search_indexer.rs
  services/headless-lms/chatbot/src/azure_skillset.rs
  services/headless-lms/chatbot/src/content_cleaner.rs
  services/headless-lms/chatbot/src/lib.rs
  services/headless-lms/chatbot/src/llm_utils.rs
  services/headless-lms/chatbot/src/search_filter.rs
  services/headless-lms/server/src/controllers/course_material/chatbot.rs
  services/headless-lms/server/src/programs/chatbot_syncer.rs
  shared-module/packages/common/src/locales/en/course-material.json
Labels: bug, shared-module, course-material, headless-lms, feature, refactor, test

#1480 Add an instruction of mentioning MOOC-center when ordering VDI desktop
  docs/vdi-setup.md
Labels: docs
