Repository rage/secret-project-331, pull requests merged in 2025-07, with the labels that each got.

#1501 Exercise submissions related little fixes
  services/headless-lms/models/.sqlx/query-41bf16b903c433809652721e88e1d1e3ffea6631ee1917e41657b261ea6b8c88.json
  services/headless-lms/models/.sqlx/query-52d5f298813a3c63a4c439d9538583d142db954063995541425462e5a1b3103d.json
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/exercise_tasks.rs
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/headless-lms/utils/src/tmc/mod.rs
  services/main-frontend/src/pages/signup.tsx
  services/main-frontend/src/pages/submissions/[id].tsx
  services/quizzes/src/components/exercise-service-views/ViewSubmission/index.tsx
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/en/quizzes.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/locales/fi/quizzes.json
Labels: bug, quizzes, shared-module, headless-lms, main-frontend, refactor

#1495 Use Ubicloud runner for the build step
  .github/workflows/system-tests-and-deploy.yml
Labels: chore

#1502 Fix to debug modal rendering twice
  shared-module/packages/common/src/components/DebugModal.tsx
Labels: bug, shared-module, refactor

#1505 Update user info to tmc fix
  services/headless-lms/server/src/controllers/auth.rs
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  services/headless-lms/utils/src/tmc/mod.rs
Labels: headless-lms, feature

#1506 Merge CI system tests and build into one job
  .github/workflows/system-tests-and-deploy.yml
  bin/make-sure-skaffold-local-env-patch-files-exists
  bin/minikube-pull-images
  services/headless-lms/server/src/controllers/main_frontend/user_details.rs
  skaffold.production.yaml
Labels: headless-lms, root, deployments, scripts, chore, refactor, test

#1507 Don't include deleted tasks in responses when they are not needed
  services/headless-lms/models/.sqlx/query-71f594369abdeb1bf4ee2fa6d7843c069859d800c9200d40863e9e8bbf722f5c.json
  services/headless-lms/models/src/exercise_slide_submissions.rs
  services/headless-lms/models/src/exercise_task_submissions.rs
  services/headless-lms/models/src/exercise_tasks.rs
  services/headless-lms/models/src/library/grading.rs
  services/headless-lms/models/src/library/peer_or_self_reviewing.rs
  services/headless-lms/server/src/controllers/main_frontend/exercise_slide_submissions.rs
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-creating-new-module-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-creating-new-module-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-last-update-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-last-update-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-saving-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-saving-mobile-tall.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-desktop-regular.png
  system-tests/src/__screenshots__/course-modules/course-modules.spec.ts/after-second-deletion-mobile-tall.png
  system-tests/src/tests/course-modules/course-modules.spec.ts
Labels: system-tests, headless-lms, feature, refactor

#1494 Chatbot settings
  services/headless-lms/migrations/20250611100225_add_default_chatbot_to_chatbot_configurations.down.sql
  services/headless-lms/migrations/20250611100225_add_default_chatbot_to_chatbot_configurations.up.sql
  services/headless-lms/models/.sqlx/query-268a294fe01664e56f2c7fd70eb2529a31f0c8764de752926c78950d10906433.json
  services/headless-lms/models/.sqlx/query-2939fc04307805d0fe798d09032b6ad4586732fe99ac09a37afbb79802f08e8e.json
  services/headless-lms/models/.sqlx/query-2f97ae1ea482d3eff37d4f99eb54e92a93e2e139cad3069b6fb0d2c04a6bc6a9.json
  services/headless-lms/models/.sqlx/query-354c0e0f69b443cdb89c099d504ab1cfe9d4fded8d1bf0a759378acb720649ee.json
  services/headless-lms/models/.sqlx/query-3d4e4395a9704cd71380b973f8b65bc2a9c777681938c0f3d27d98f68c97f6b2.json
  services/headless-lms/models/.sqlx/query-4721a4c2982a15700bdb16c9ddc4a4b461ed23e39abe1fb8e41c32374e2f1df7.json
  services/headless-lms/models/.sqlx/query-6d9ec9382247b2ee10a87dcb17c9623a2f1dbbec29d5e7a0b66d61e02e98fbee.json
  services/headless-lms/models/.sqlx/query-881022b5145cbf2e52862dcbf6c09529212b241898c608bfdb8b0b15b439a6e0.json
  services/headless-lms/models/.sqlx/query-cc2fceb2f75d704b551705f15ffcdae210fce2baf7b9d3612f77b6548a6df68c.json
  services/headless-lms/models/.sqlx/query-d1b480f28e175d69e5e056d8e6b1e1709b4b269b00dad6082bb1b6e9a09d894e.json
  services/headless-lms/models/src/chapters.rs
  services/headless-lms/models/src/chatbot_configurations.rs
  services/headless-lms/models/src/courses.rs
  services/headless-lms/models/src/library/copying.rs
  services/headless-lms/models/src/test_helper.rs
  services/headless-lms/server/src/controllers/main_frontend/chatbots.rs
  services/headless-lms/server/src/controllers/main_frontend/courses/chatbots.rs
  services/headless-lms/server/src/controllers/main_frontend/courses/mod.rs
  services/headless-lms/server/src/controllers/main_frontend/mod.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_mathstat.rs
  services/headless-lms/server/src/test_helper.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/headless-lms/server/tests/study_registry_test.rs
  services/main-frontend/src/components/NewCourseForm/index.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotConfigurationForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/ChatbotPage.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotDialog.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/chatbot/CreateChatbotForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/other/index.tsx
  services/main-frontend/src/components/page-specific/org/organizationSlug/ExamList.tsx
  services/main-frontend/src/components/page-specific/styles/styles.ts
  services/main-frontend/src/hooks/useCreateCourse.tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/[...path].tsx
  services/main-frontend/src/pages/manage/chatbots/[id]/index.tsx
  services/main-frontend/src/pages/manage/course-instances/[id]/index.tsx
  services/main-frontend/src/services/backend/chatbots.ts
  services/main-frontend/src/services/backend/courses/chatbots.ts
  services/main-frontend/src/styles/styles.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/fi/main-frontend.json
  shared-module/packages/common/src/utils/routes.ts
  system-tests/src/tests/chatbot.spec.ts
Labels: shared-module, system-tests, headless-lms, main-frontend, db-migrations, seed, chore, feature, refactor, test

#1508 Store tmc specs in uniform format
  bin/test
  bin/tmc-langs-update
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/ExerciseTaskIframe.tsx
  services/course-material/src/services/tmc.ts
  services/headless-lms/models/src/exercise_service_info.rs
  services/headless-lms/models/src/exercise_services.rs
  services/headless-lms/server/src/controllers/cms/exercise_services.rs
  services/headless-lms/server/src/controllers/main_frontend/exercise_services.rs
  services/headless-lms/server/src/domain/models_requests.rs
  services/headless-lms/server/src/programs/mailchimp_syncer.rs
  services/headless-lms/server/src/programs/regrader.rs
  services/headless-lms/server/src/ts_binding_generator.rs
  services/main-frontend/src/components/page-specific/manage/exercise-services/ExerciseServiceCard.tsx
  services/main-frontend/src/pages/manage/exercise-services/index.tsx
  services/main-frontend/src/services/backend/exercise-services.ts
  services/tmc/jest.config.js
  services/tmc/package-lock.json
  services/tmc/package.json
  services/tmc/src/components/AnswerBrowserExercise.tsx
  services/tmc/src/components/AnswerEditorExercise.tsx
  services/tmc/src/components/AnswerExercise.tsx
  services/tmc/src/components/StateRenderer.tsx
  services/tmc/src/lib.ts
  services/tmc/src/pages/api/model-solution.ts
  services/tmc/src/pages/api/public-spec.ts
  services/tmc/src/pages/api/test.ts
  services/tmc/src/pages/iframe.tsx
  services/tmc/src/tmc/cli.d.ts
  services/tmc/src/tmc/cli.guard.ts
  services/tmc/src/tmc/langs.ts
  services/tmc/src/util/helpers.ts
  services/tmc/src/util/requests.ts
  services/tmc/src/util/stateInterfaces.ts
  services/tmc/src/util/test.ts
  services/tmc/tests/util/helpers.test.ts
  services/tmc/tests/util/test.tar.zst
  services/tmc/tsconfig.json
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/exercise-service-protocol-types.guard.ts
  shared-module/packages/common/src/exercise-service-protocol-types.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/en/tmc.json
  system-tests/src/__screenshots__/manage-course-structure.spec.ts/manage-course-structure-middle-of-the-page-desktop-regular.png
  system-tests/src/__screenshots__/manage-course-structure.spec.ts/manage-course-structure-middle-of-the-page-mobile-tall.png
  system-tests/src/tests/add-user-country.spec.ts
  system-tests/src/tests/exercise-service.spec.ts
  system-tests/src/tests/manage-course-structure.spec.ts
  system-tests/src/tests/reset-exercises.spec.ts
Labels: dependencies, shared-module, system-tests, course-material, headless-lms, main-frontend, tmc, scripts, chore, feature, refactor, test
