Repository rage/secret-project-331, pull requests merged in 2025-06, with the labels that each got.

#1485 Development.md: move seed instructions, hide platform specific instructions inside details
  docs/Development.md
Labels: docs

#1486 Made the test wait for the submit action before continuing
  system-tests/src/tests/self-review/peer-and-self-review.spec.ts
Labels: system-tests, test

#1490 Chatbot messages render markdown
  services/course-material/package-lock.json
  services/course-material/package.json
  services/course-material/src/components/chatbot/MessageBubble.tsx
  services/course-material/src/utils/getRemarkable.ts
  system-tests/src/tests/add-user-country.spec.ts
  system-tests/src/tests/reset-exercises.spec.ts
Labels: dependencies, system-tests, course-material, feature, refactor, test

#1492 Improved developer documentations
  docs/Development.md
  docs/index.md
Labels: docs

#1474 langs types
  bin/dev
  services/cms/src/blocks/Exercise/ExerciseTask/IFrameEditor.tsx
  services/cms/src/services/backend/repository-exercises.ts
  services/course-material/src/components/ContentRenderer/moocfi/ExerciseBlock/ExerciseTaskIframe.tsx
  services/course-material/src/services/tmc.ts
  services/headless-lms/langs-api/src/lib.rs
  services/headless-lms/migrations/20250609115736_add-exercise-repository-public-key.down.sql
  services/headless-lms/migrations/20250609115736_add-exercise-repository-public-key.up.sql
  services/headless-lms/models/.sqlx/query-79900de6fa3841659546f20636a30242489242532ef3c42deda497f2dadcd741.json
  services/headless-lms/models/.sqlx/query-f392496c5e42f99455c285c47a3e67145732fe51fae5db78928576a399a639e3.json
  services/headless-lms/models/src/exercise_repositories.rs
  services/headless-lms/server/src/controllers/main_frontend/exercise_repositories.rs
  services/headless-lms/server/src/domain/exercise_repositories.rs
  services/headless-lms/server/src/programs/seed/seed_courses.rs
  services/headless-lms/server/src/programs/seed/seed_organizations/uh_cs.rs
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/AddExerciseRepositoryForm.tsx
  services/main-frontend/src/components/page-specific/manage/courses/id/exercises/ExerciseRepositories.tsx
  services/main-frontend/src/services/backend/exercise-repositories.ts
  services/tmc/package-lock.json
  services/tmc/package.json
  services/tmc/src/components/AnswerBrowserExercise.tsx
  services/tmc/src/components/AnswerExercise.tsx
  services/tmc/src/components/ExerciseEditor.tsx
  services/tmc/src/components/StateRenderer.tsx
  services/tmc/src/pages/api/public-spec.ts
  services/tmc/src/pages/api/test.ts
  services/tmc/src/pages/api/testrun.ts
  services/tmc/src/pages/iframe.tsx
  services/tmc/src/tmc/langs.ts
  services/tmc/src/util/stateInterfaces.ts
  services/tmc/src/util/test.ts
  shared-module/packages/common/src/bindings.guard.ts
  shared-module/packages/common/src/bindings.ts
  shared-module/packages/common/src/exercise-service-protocol-types.guard.ts
  shared-module/packages/common/src/exercise-service-protocol-types.ts
  shared-module/packages/common/src/locales/en/main-frontend.json
  shared-module/packages/common/src/locales/en/tmc.json
  system-tests/src/tests/langs/langs.spec.ts
Labels: dependencies, shared-module, system-tests, course-material, headless-lms, cms, main-frontend, tmc, db-migrations, docs, scripts, seed, feature, test
